[2018-08-17 19:00] atomfrede opened #1 "Feature Set, Vue CLI and some general question"
* What features do we want to support?
* Should we build upon vue-cli and if yes which feature do we select?
* Do we want to use typescript or not?
* How to start best? Doing a sample jhipster project without client and build vue(cli) based client on that?

What do you think?

[2018-08-17 20:02] sahbi-ktifa commented on #1
I created a sample jhipster project, redoing all components as Angular ones :
- I used Axios as recommended by Vue documentation for http request
- Vuelidate for form validation
- VueI18n for dynamic translation
- VueCookie ans VueX to maintain app state
- Webpack configurations were inherited from vue-cli but can clearly be enhanced
- Finally, I did not used TypeScript but regular JavaScript

I s

[2018-08-17 20:19] atomfrede commented on #1
Sounds great. We are using a similar stack except VueX as we have quite small micro frontends so not much state management required. I would also go with plain javascript instead of typescript :+1:

[2018-08-17 20:37] gurbirdhillon commented on #1
Here are my thoughts:

- Vue-Cli is good as it can take care of lot of boiler plate setup.
- VueX is nice to have but don't really essential.
- I would also go with plain javascript instead of typescript (preferred by VueJs community)
- Axios is also my fav for http request.

[2018-08-17 21:06] sendilkumarn commented on #1
I like @sahbi-ktifa  setup, it does cover most of our wanted features.

Vue-CLI is a good option, but based on our experiences / discussions / opinions with Angular CLI and CRA. Let us not take that.

👍 for `JavaScript` but Vue 3 will have a complete focus on `TypeScript` (so we will surely have a discussion that time whether we want to switch to that) - Just a heads up.

[2018-08-18 11:29] deepu105 commented on #1
I agree with most of it and let's start with what @sahbi-ktifa has. Let's go with what is most used in the Vue community. I think its good to start with VueX as most of the real-world use cases would end up needing some state management. If Vue CLI is useful let's use it but we also need to ensure that the Vue support closely follows Angular/React as well to avoid defragmentation.

Regarding TS vs

[2018-08-18 13:53] gurbirdhillon commented on #1
Here is quick read/benefits for using vue-cl version 3.
https://medium.com/the-vue-point/vue-cli-3-0-is-here-c42bebe28fbb

[2018-08-18 13:57] deepu105 commented on #1
In that case we could use Vue CLI with typescript

[2018-08-18 14:06] deepu105 opened #2 "Setup travis tests for blueprint"
@pascalgrimaud would appreciate your help here

[2018-08-18 14:34] pascalgrimaud commented on #2
@deepu105 : you can assign this to me. I'll work on it when back from vacations

[2018-08-18 14:54] hdurix commented on #1
I currently work on a Vue.js application integrated with JHipster as well. Here are the technologies we chose:
- Vue CLI (really useful and we didn't notice any limitation until now, webpack can still be configured for extra needs), it could be the good project to try to use a CLI and see what solution is best.
- Typescript (it does work very well with Vue, expect it sometimes needs a few tweaks,

[2018-08-18 15:42] atomfrede commented on #1
+1 so Vue CLI with typescript, jest and cypress and tslint it is.

[2018-08-18 15:44] deepu105 commented on #1
For e2e wouldnt it be easier to just use the protractor tests from the react client as I believe it can just work as it is without any major change

[2018-08-18 15:51] hdurix commented on #1
I agree with @deepu105, if the couple vue+protractor is working, we should use protractor instead of cypress.

[2018-08-18 20:03] atomfrede commented on #1
Let's see how it works. I would suggest lets start and maybe give cypress a try as it is the preferred solution in the vue community, so if it works we don't need to maintain special configuration for protractor (writing tests is imho easiert) and we can rely on the power of the vue community and it might attract more vue developers to contribute (maybe).

[2018-08-18 21:28] atomfrede commented on #1
@deepu105 Yes makes totally sense. Maybe just let's get started and not too much thinking about what we use for e2e testing now and decide when we need to. There is much work we need to do before.

[2018-08-19 06:46] Gnuk commented on #1
@deepu105 In the Vue.js `#q-and-a` [Discord][vue-chat] channel, you can read it:

[vue-chat]: http://chat.vuejs.org

[2018-08-19 07:03] deepu105 commented on #1
@Gnuk thanks for the info.

I think we shouldn't overcomplicate stuff. Lets stick to options that are available in JHipster to start with so the stack would be

* VueJS written in Typescript
* Jsx or html for templates
* Vuex
* Vue Router
* Vue CLI
* Axios
* Vuei18n
* Sass and css options (css can be later and Sass can be default for now)
* Jest
* Protractor if it works without any additional work

[2018-08-19 07:07] deepu105 commented on #1
First lets migrate the default monolith app to Vue so that the default options are supported to begin with. Once thats done we can start implementing additional options. Does everyone agree? If so we can create new tickets and decide who will do what.

[2018-08-19 07:10] Gnuk commented on #1
Except I don't know how it's difficult to have both Tslint and prettier (cf this [issue](https://github.com/vuejs/vue-cli/issues/761)), i agree with it.

[2018-08-19 07:28] sahbi-ktifa commented on #1
I agree too.
Should I still make my work available as a blueprint even if it's only a start using JavaScript or should we rewrite it from scratch using TypeScript and all the above? If so, I'll wait for tickets 😉

[2018-08-20 07:50] deepu105 commented on #1
I think your work should be good starting point. We can simply rename file
extensions first and should just work fine

On Sun, 19 Aug 2018, 9:28 am Sahbi KTIFA, <notifications@github.com> wrote:

[2018-08-20 18:07] sendilkumarn commented on #1
@sahbi-ktifa I too agree that we will start with `js` and then gradually move towards `ts`
I would say `ver.1` can be in `js` and then change to `ts` later.

[2018-08-21 16:27] deepu105 commented on #1
@jdubois thats a good idea. I'll create tickets and assign the label for the important parts at the beginning of September. Is that ok?

[2018-08-21 16:31] jdubois commented on #1
Yes please do.

[2018-08-27 06:36] Gnuk commented on #1
There is a discussion to know how to have official Vue CLI [documentation on integration with backend frameworks](https://github.com/vuejs/vue-cli/issues/1563).

I think we could participate to this discussion to help Vue.js community to help them or propose a standard documentation to have Vue CLI with Spring Boot like we'll do with this feature.

What do you think about it ?

[2018-08-27 07:40] jdubois commented on #1
@Gnuk yes, definitely +1
VueJS looks like a much nicer project than Angular (I don't know for React), from what I see they are trying to work with third-party projects, and that's awesome. I'll answer on their thread.

[2018-09-06 09:50] deepu105 opened #4 "Update to use Typescript with TSX"
- [ ] Replace babel with typescript compiler
- [ ] Use the VueCLI where possible to setup everything
- [ ] Tsx or html for templates
- [ ] Setup Tslint , prettier (copy from React config if possible)

[2018-09-06 09:51] deepu105 opened #5 "Setup testing with Jest"
Jest setup for VueJS (copy from React if possible)

[2018-09-06 09:55] deepu105 opened #6 "Cleanup and align with decided architecture"
Make sure the following are followed, update and align where necessary

- [x] VueJS completely in Typescript
- ~~Tsx for templates~~
- [x] Bootstrap vue
- [x] Vuex for state management
- [x] Vue Router
- [x] Vue CLI as much as possible
- [x] Axios for HTTP
- [x] Vuei18n if it can be used without rewritting current i18n files, else use a transformation step or write our own i18n adapter like in Rea

[2018-09-06 09:56] deepu105 opened #7 "Migrate entity generator"
Migrate entity generator templates to vueJS

[2018-09-06 10:26] gurbirdhillon commented on #4
@deepu105 i can work on this one.

[2018-09-06 11:05] sahbi-ktifa commented on #7
@deepu105 I'd like to work on this one as I already have an early work on this matter

[2018-09-06 15:33] cmoine opened #8 "Make use of bootstrap-vue"
Any reason the project doesn't use https://bootstrap-vue.js.org ?

[2018-09-06 15:41] sahbi-ktifa commented on #8
I'm sorry but I think it does, or did I wrongly used it?

Look at package.json and webapp/main.js in templates. Did I do something wrong?

[2018-09-07 09:19] clarenced commented on #7
Hi @deepu105 and @sahbi-ktifa , I would like to provide some help with this. I know VueJs and provided some help with jhipster-generator in the past. How can I start ?

[2018-09-07 10:45] deepu105 commented on #4
Sure go ahead

[2018-09-07 10:57] deepu105 commented on #8
Yes it's indeed used

[2018-09-07 10:57] #8 closed

[2018-09-07 12:44] deepu105 commented on #7
@sahbi-ktifa yes please. @clarenced please look at the open issues and pick one

[2018-09-07 12:45] deepu105 commented on #1
closing as its decided

[2018-09-07 12:45] #1 closed

[2018-09-14 14:13] clarenced commented on #5
Hi @deepu105 , I am actually working on this feature. In which directory should I put the jest config file  ?
will there be a dedicated directory for testing as in the React project? In the react project, the tests files are under `src/test/javascript/spec`. But for the vue project, there is no `src `directory ? Can you point me to the right direction ?

[2018-09-14 14:26] atomfrede commented on #5
@clarenced Is there a default configuration when using vue cli? I would go with that directory.

[2018-09-14 14:33] gurbirdhillon commented on #5
@clarenced this is sample VueJs project  https://github.com/gurbirdhillon/vue1sample generator using vue cli. You can use that as reference if needed.

[2018-09-14 14:38] clarenced commented on #5
Thx @gurbirdhillon  for your reply and I will take a look at it. Did you hear about [vue-test-util](https://vue-test-utils.vuejs.org/). It's the official unit testing utility library for Vue.js.

[2018-09-14 15:45] deepu105 commented on #5
You can also follow same directory structure as in React

Thanks & Regards,
Deepu

On Fri, Sep 14, 2018 at 4:38 PM Clarence Dimitri CHARLES <
notifications@github.com> wrote:

[2018-09-15 16:31] JavaPantry opened #9 "Proper directory names in project's ReadMe file"
Would you consider update `Running local Blueprint version for development` section in your doc and provide full path and correct folder names?

First two steps gives me same error

C:\Users\user\AppData\Roaming\npm\node_modules\generator-jhipster-vuejs>npm link
npm ERR! Link target resolves to the same directory as link source: C:\Users\user\AppData\Roaming\npm\node_modules\generator-jhipster-vue

[2018-09-15 17:03] JavaPantry commented on #9
Also would be nice to outline absolutely required steps. (no 'if'-s or 'optional' scenarios )

[2018-09-18 10:27] cmoine commented on #8
Well I realized that afterwards: it is partialy using bootstrap-vue:
for instance https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/templates/webapp/app/components/account/LoginForm.vue

actually all files in https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/templates/webapp/app/components/account don't use any bootstrap vue for instance, with is not v

[2018-09-18 21:18] pradeepachan opened #10 "Documentation Error"
From the README
jhipster -d --blueprint vuejs
Seems to give error.

Instead:
jhipster -d --blueprint generator-jhipster-vuejs
Worked for me.

If it is an error in the README, please update.

[2018-09-18 21:23] pradeepachan opened #11 "Development status update"
Can the author update on the development status - how (in)complete is the current work? What are some plans, todos, roadmap?

In case, we happen to choose Vue, I will be happy to contribute to this project.

[2018-09-19 07:01] deepu105 commented on #10
No its not a Readme error, both should work. Need to chek this

[2018-09-19 07:03] deepu105 commented on #11
You can see the plan in open issues and that also shows what needs to be done.
This issue will also give some ideas https://github.com/jhipster/jhipster-vuejs/issues/1

Will probably create a project board for this later but not now as i'm overwhelmed with work

[2018-09-19 07:03] #11 closed

[2018-09-19 07:15] deepu105 commented on #9
There are no absolute paths necessary, may be you are having issues since you are using it in windows. And from your error it looks like you are doing npm link from the `C:\Users\user\AppData\Roaming\npm\node_modules\generator-jhipster-vuejs` folder which is wrong.

Anyway i'll try to make it bit more cleaner

[2018-09-19 07:15] #9 closed

[2018-09-19 07:28] deepu105 commented on #10
Which version of JHipster are you using?  it works fine for me with latest master of this repo and latest JHipster. I cannot reproduce so closing this. If you have more info update me

[2018-09-19 07:28] #10 closed

[2018-09-19 07:29] deepu105 opened #12 "Add unit tests for the generator"
Lets add some unit tests similar to https://github.com/jhipster/generator-jhipster/pull/8365/files

[2018-09-25 17:49] lfmunoz opened #13 "Followed the install instructions and it isn't working."
Followed the install instructions and it isn't working.

Is this a version issue? Please specify in the in the readme which version of jhipster and node it was tested against.

[code]

[2018-09-25 17:50] lfmunoz commented on #13
tried it with different node versions

[code]

[2018-09-26 06:35] deepu105 commented on #13
This is still work in progress and there is no stable release yet. If you
wanna try it you need to clone the repo and run npm link inside

On Tue, 25 Sep 2018, 7:50 pm Luis, <notifications@github.com> wrote:

[2018-09-26 06:35] #13 closed

[2018-09-26 13:47] clarenced commented on #4
@gurbirdhillon did you advance on this issue ?

[2018-10-09 09:02] hdurix opened #15 "Add JWT mechanism"
As it is the default option, the JWT option should work. Seen with @sahbi-ktifa, the only working option for now is the `session` one.

[2018-10-09 09:31] sahbi-ktifa opened #16 "Finalize i18n support"
- Retrieve languages dynamically
- Disable translation if not not available

[2018-10-09 09:34] sahbi-ktifa opened #17 "Review component architecture"
- Use multiple files instead on single file component (styles, template, js)
- Stick to Angular/React directory tree

[2018-10-10 10:22] sahbi-ktifa opened #19 "Setup protractor tests (as close as possible to React)"

[2018-10-11 19:40] atomfrede commented on #17
Why not use single file components?

[2018-10-12 06:02] Gnuk commented on #17
I think it's a good idea to split il multiple files, we used it with @hdurix in our current project and we have an architecture like it:

* awesome-feature
    * AwesomeFeature.vue _It's the vue SFC file_
    * AwesomeFeature.component.ts _It's the TypeScript component file linked to the vue file_
    * AwesomeFeature.pug _In our context, we use pug as a template, it's the view file (in another co

[2018-10-12 06:18] sahbi-ktifa commented on #17
This issue was motivated after a discussion with @hdurix, he explained to me the benefits of using such architecture. You made it even clearer.

Furthermore, using this approach, we stay closed to the Angular organisation and so we'll help users not to be confused.

SFC approach is great but it can be very hard to maintain when coding huge components.

[2018-10-12 08:46] atomfrede commented on #17
`SFC approach is great but it can be very hard to maintain when coding huge components.` We should not build huge components :)

[2018-10-15 16:12] sahbi-ktifa commented on #5
Hey guys, are you still working on this one? I've set up Jest locally and using vue-test-utils start writing basic components tests.

[2018-10-17 13:50] sahbi-ktifa commented on #12
Hello @deepu105, I've tried to add generator test, but I keep facing an error, you may help me on this :
`
const path = require('path');
const assert = require('yeoman-assert');
const helpers = require('yeoman-test');
const VueJSClientGenerator = require('../generators/client');
const ClientGenerator = require('generator-jhipster/generators/client');

describe('JHipster client generator with bluep

[2018-10-17 14:02] deepu105 commented on #12
@sahbi-ktifa can you look at https://github.com/jhipster/generator-jhipster/tree/master/test/blueprint
We should do something like that

[2018-10-17 14:04] deepu105 commented on #12
I'll be busy this week, if you are still stuck, I can take a look next week.

[2018-10-18 11:53] sahbi-ktifa commented on #12
Hum... I was running a jhipster version prior to Murdos PR... Now that i upgraded my dependency, it starts to work but I'm still facing issues, I'll let you know after I investigated more on this. Thanks

[2018-10-18 14:38] sahbi-ktifa commented on #12
Yoman-test is really hard to apprehend (and debug...). I'm facing several issues:
- Inconsistent results, some times only 3 tests are run and an error occured and sometimes 4 are played
- When debugging configuration, my prompts arguments given in the test seems to be ignored

I looked at kotlin blueprint but there is no test as well. Is there a blueprint repo where such tests run ? I pushed my wo

[2018-10-18 14:47] hdurix commented on #12
@murdos have you got any idea on this? Maybe an example with tests on a blueprint

[2018-10-18 18:32] murdos commented on #12
Here's a working example for the server generator:
[code]

This is what I plan to add to generator-jhipster-blueprint (https://github.com/jhipster/generator-jhipster-blueprint/issues/7), probably this week-end.

[2018-10-20 16:21] jmdelagneau opened #24 "jhipster does'nt recognize vuejs generator"
jhipster does'nt recognize vuejs generator after launching the command "jhipster --blueprint vuejs"
jhipster display the message
"Trying to use blueprint generator-jhipster-vuejs
WARNING! No blueprint found for client falling back to default generator"

choices are anly angular 6 or react

I followed instruction to intall "npm install -g generator-jhipster-vuejs"

[2018-10-20 17:40] sahbi-ktifa commented on #24
Hello, as this is still Work In Progress, you may encounter issues. Did you
try using development instructions ?

Let us know.

Le sam. 20 oct. 2018 à 18:21, jmdelagneau <notifications@github.com> a
écrit :

[2018-10-20 18:03] pascalgrimaud commented on #24
I think the correct command is: `jhipster --blueprint generator-jhipster-vuejs`
That means the readme is wrong

[2018-10-20 18:07] pascalgrimaud commented on #24
I was wrong, `jhipster --blueprint vuejs` works too.
Don't forget to use `npm link generator-jhipster-vuejs` in your folder.

Here my terminal log:

[code]

[2018-10-22 13:17] RomanticWd opened #26 "Questions about vue and jhipster"
I want to use jhipster to quickly build a springboot project. The company requires the front end to use vue, but the jhipster front end is built by angularjs. Can you give me some advice? thank you very much！

[2018-10-22 14:41] jdubois commented on #26
I'll close this as it doesn't follow the guidelines -> @RomanticWd if this important and useful for your company, you can contribute or sponsor the project (sponsorship money is used to boost some tickets)

[2018-10-22 14:41] jdubois commented on #26
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-10-22 14:41] #26 closed

[2018-10-22 15:58] #15 closed

[2018-10-22 17:35] deepu105 commented on #26
This blueprint is still a WIP but uf you follow the development
instructions you should be able to generate with a VueJS frontend but not
with same quality as Angular and React since its WIP

On Mon, 22 Oct 2018, 4:41 pm Julien Dubois, <notifications@github.com>
wrote:

[2018-10-22 19:32] jmdelagneau commented on #24
Thank you for your response.

I followed your instructions but same result.

Generator was installed with the command “npm install -g generator-jhipster-vuejs”

I created an empty folder and linked the generator and jhipster recognize vuejs option but the result is identical to my previous tests without the link.

Here is my terminal log :

F:\nodeApp\jhAppVue>jhipster --blueprint vuejs

Using JHi

[2018-10-23 06:34] deepu105 commented on #24
Can you post exact steps you did including the installation and linking
steps? Also seems you are on windows, not sure if that matters

On Mon, 22 Oct 2018, 9:32 pm jmdelagneau, <notifications@github.com> wrote:

[2018-10-23 07:36] RomanticWd opened #27 "The page always jumps to 'error.html'"
Sorry, I am bothering you again. I still don't want to give up this plan.
Depending on your help, I successfully generated the vue code in my project. I can also enter 'npm start' to access the page from the command line.
But the current problem is that when I started it with 'mvn springboot:run', there was no error in the background, but I always jumped to 'error.html' when I visited ‘localhost:8

[2018-10-23 08:45] deepu105 commented on #27
As I said its a work in progress so there might be errors and it will be
fixed when someone works on it, but I can't give you any timelines or
assurance

Thanks & Regards,
Deepu

On Tue, Oct 23, 2018 at 9:36 AM 风流白少 <notifications@github.com> wrote:

[2018-10-23 08:49] jdubois commented on #27
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-10-23 08:49] #27 closed

[2018-10-23 11:59] jmdelagneau commented on #24
Yes, i'm on windows seven.

I tried the same step on another PC on windows 7 and it's the same result.

For the first time I did'nt use the link method because documentation tell to use the command "jhipster --blueprint vuejs" directely after install. I understood that the link is necessary only with a local copy of the module but after the link, no change.

See the complete procedure :

F:\nodeAp

[2018-10-23 12:29] sahbi-ktifa commented on #24
Please, could you upgrade the generator to the latest JHipster version as you are currently using 5.0.1. Just run "npm upgrade generator-jhipster".

Did you try cloning locally the blueprint, typing "npm link" in it and then "npm link generator-jhipster-vuejs" in your app folder before creating the app ?

[2018-10-23 13:41] jmdelagneau commented on #24
I did but idem.

After I used the method of downloading jhipster-vuejs and followed instructions :
- link the module (npm link)
- link my application (npm link generator-jhipster-vuejs)

it works!
Jhipster generates the project and now I'm trying to install all project but other problems appears because i'm behing a proxy.

It seems that behaviour is different as your use case.

Thank you Sahbi

-

[2018-10-23 14:01] deepu105 commented on #24
come on, the steps are clearly written on the Readme, this is still a WIP and there is no release for this? how did you install this without a release?

[2018-10-23 14:01] #24 closed

[2018-10-23 16:20] pascalgrimaud commented on #24
@deepu105 : there was an existing release, 2 years ago. See https://www.npmjs.com/package/generator-jhipster-vuejs

[2018-10-23 17:39] deepu105 commented on #4
@gurbirdhillon are you working on this? else please let us know so that someone else can take it up

[2018-10-23 17:41] deepu105 commented on #24
Oh ok. Anyway I have updated readme to be clearer

Thanks & Regards,
Deepu

On Tue, Oct 23, 2018 at 6:27 PM Pascal Grimaud <notifications@github.com>
wrote:

[2018-10-23 23:48] gurbirdhillon commented on #4
@deepu105 sorry i was busy lately, i can make sometime on this weekend if no one else available to take this one.

[2018-10-24 10:52] hdurix commented on #4
We've started working on that with @gnuk, there is a lot to do, I will create a WIP PR soon.

[2018-10-24 12:34] clarenced commented on #17
Hi, I want to work on issue #4  and I have questions regarding defining components in TS.

According to the [documentation](https://vuejs.org/v2/guide/typescript.html#Basic-Usage), for typescript support, components must be define with `Vue.component` or `Vue.extend`. Otherwise, for a class based declaration, we can use the `vue-class-component` library that lets you define components in a class s

[2018-10-24 12:34] clarenced commented on #4
Hi @gurbirdhillon , I can work on this issue

[2018-10-24 15:04] deepu105 commented on #17
@clarenced I would prefer the `vue-class-component` way as its cleaner and is also officially maintained.
@sahbi-ktifa @hdurix @Gnuk WDYT?

[2018-10-24 15:49] hdurix commented on #17
Yes exactly, `vue-class-component` will be very useful! @clarenced We've started a PR here: https://github.com/jhipster/jhipster-vuejs/pull/28, is that okay for you?

[2018-10-24 17:05] deepu105 commented on #17
@hdurix may be you can put the branch on this repo so that @clarenced can make PR against it. Else merge this PR and claim the bounty and create another ticket to convert templates to TS so that @clarenced can get the bounty for that

[2018-10-25 12:01] pascalgrimaud commented on #2
Following this PR https://github.com/jhipster/jhipster-vuejs/pull/20 by @sahbi-ktifa
I need to generate entities now.

[2018-10-25 12:03] #7 closed

[2018-10-25 12:05] sahbi-ktifa opened #29 "Add sort and pagination to entity page"
Using these links:
- https://bootstrap-vue.js.org/docs/components/pagination/
- https://alligator.io/vuejs/implementing-infinite-scroll/ (juste have a look at it)

[2018-10-25 12:36] sahbi-ktifa opened #30 "Add administration pages"
Add all administration pages (audits, metrics, ...)

[2018-10-26 05:26] ryan-shi opened #32 "When will the stable version be released?"
When will the stable version be released?

[2018-10-26 05:40] pascalgrimaud commented on #32
We work for free here, on our free time, we are not paid for that, so there is no date.

[2018-10-26 06:53] atomfrede commented on #32
If you need it fast you can contribute (look at the other issues for example), there are a still a lot of things to do before we have the same features as react/angular frontend. I will close this here.

[2018-10-26 06:53] #32 closed

[2018-11-01 10:01] clarenced commented on #17
Hi @hdurix did you able to merge your PR so I can start from here ?

[2018-11-01 15:03] pascalgrimaud commented on #2
I think everything is done now.
As soon as e2e is ready, I could activate it at https://github.com/jhipster/jhipster-vuejs/blob/master/.travis.yml#L36-L38, using:
[code]

[2018-11-01 15:04] pascalgrimaud commented on #2
@sahbi-ktifa or @deepu105 : I let you close this one

[2018-11-01 16:28] #4 closed

[2018-11-02 10:50] pascalgrimaud commented on #2
bounty claim https://opencollective.com/generator-jhipster/expenses/5557

[2018-11-05 11:32] hdurix opened #33 "Move all JavaScript scripts to TypeScript dedicated files"

[2018-11-05 11:34] hdurix commented on #17
@clarenced you can start to add `vue-class-component` to `Register` component if you want.

[2018-11-05 12:05] hdurix commented on #17
@atomfrede @deepu105 @sahbi-ktifa concerning the Single File Component, we propose to split the component Vue file and the component TypeScript file (see for instance the `Register` component: [Register.vue](https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/templates/webapp/app/components/account/register/Register.vue) and [Register.component.ts](https://github.com/jhipster/

[2018-11-05 12:29] deepu105 commented on #17
Seems good to me

Thanks & Regards,
Deepu

On Mon, Nov 5, 2018 at 1:05 PM Hippolyte Durix <notifications@github.com>
wrote:

[2018-11-05 13:43] clarenced commented on #17
@hdurix Ok I will look at it

[2018-11-05 13:47] sahbi-ktifa commented on #17
Looks good to me too!

[2018-11-09 07:52] #16 closed

[2018-11-09 23:16] clarenced commented on #33
I am working on this

[2018-11-09 23:19] clarenced commented on #17
Guys, I have one issue. When I want to test the blueprint, I always get this message :

[code]

Can we confirm that blueprint generator works ?

[2018-11-10 10:30] #33 closed

[2018-11-10 14:13] sahbi-ktifa commented on #29
This will be easy after #37 is merged as it brings pagination component and sorting filters.

[2018-11-13 14:23] sahbi-ktifa opened #41 "Add ElasticSearch support on entities"

[2018-11-13 16:27] sahbi-ktifa opened #42 "Review webpack configuration"
- Webpack prod build should works
- Add BrowserSync to webpack dev build

[2018-11-16 14:33] sahbi-ktifa opened #45 "JWT logout does not work properly"
When logging out, localstorage is not cleared and a simple page refresh logs you again.

[2018-11-18 13:30] sahbi-ktifa commented on #19
I've got account and administration tests running.

I've still work to do with entities. I'll make a PR soon as WIP.

[2018-11-18 20:52] #30 closed

[2018-11-20 09:56] sahbi-ktifa opened #47 "Add entity client unit tests"

[2018-11-20 16:43] pascalgrimaud commented on #41
@sahbi-ktifa : can I take this ticket ? It will help me to start contributing and learn VueJS

[2018-11-20 16:44] sahbi-ktifa commented on #41
Sure, go ahead!

[2018-11-20 16:45] pascalgrimaud commented on #41
can you assign this to me ?

[2018-11-20 17:57] pascalgrimaud commented on #41
@deepu105 : as I plan to help this project, can I become contributor plz ? So I can review / assign / merge pull request. Thanks in advance! :heart:

[2018-11-20 20:14] #42 closed

[2018-11-21 14:52] sahbi-ktifa opened #49 "Review navbar integration with BootstrapVue"
Currently, navbar is not properly integrated. Use BootstrapVue good practice to make it nicer.

[2018-11-22 10:44] deepu105 commented on #41
@pascalgrimaud arent you already a contributor? I guess only Julien can manage teams. @jdubois can you add core members to this project as well

[2018-11-22 10:49] jdubois commented on #41
Yes it's a different team! @pascalgrimaud I just gave you access

[2018-11-22 12:50] hdurix opened #50 "Add vue-class-component"

[2018-11-22 13:20] pascalgrimaud commented on #41
thanks a lot guys !

[2018-11-22 13:33] pascalgrimaud commented on #41
sorry it's not the subject of this ticket, but it would be nice to add @hdurix to VueJS team too, if possible :)

[2018-11-23 05:41] yingw opened #52 "Runs well but error when build."
The link version of this blueprint works well when run in dev mode, but fail when `npm run build` or `mvn -P prod clean package`

it says

[code]

and in the log file:  /root/.npm/_logs/2018-11-23T05_34_15_302Z-debug.log

[code]

[2018-11-23 05:50] yingw commented on #52
It should say:

The `npm run cleanup && npm run webpack:build:main` works find, and generated correct `www/index.html` files and js. But build with profile (such as prod) will fail like said before.

[2018-11-23 06:14] pascalgrimaud commented on #52
I didn't test the build in prod. But as it is still in development, I'm not surprised.
Help is welcome, if you know how it can be fixed!

[2018-11-23 06:42] sahbi-ktifa commented on #52
Are you up to date? As we fixed prod build few days ago!
 Is it a simple application or did you already add specific code ?

[2018-11-23 08:52] yingw commented on #52
@sahbi-ktifa yes, guys, I update the latest blueprint and everything works now, Thanks for your efforts on this.

But btw there is another tiny issue, the define in pom needs `webpack:test` execution and there is none of this define in `package.json`, **I just delete the "webpack build test" in pom, then everything works.**

I tested:
`mvn package` to build dev env.
`mvn -Pprod clean package -Dmav

[2018-11-23 08:52] #52 closed

[2018-11-23 10:37] pascalgrimaud opened #55 "Login with Firefox"
We can't log with Firefox, as we can't focus the password field

[2018-11-23 10:38] pascalgrimaud opened #56 "Build with prod profile: problem with language"
When building in production, we lost all languages

[2018-11-23 12:51] hdurix opened #57 "Use sinon for mocking axios"
I think we should `sinon` rather than `jest` for mocking axios in unit tests.

It's really hard to mock properly axios with the couple Jest & TypeScript. For now, we have something like:

[code]

But as it's cast as `any`, it's not really TypeScript friendly...

It's how it is done in react tests: https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/react/src/test

[2018-11-23 13:29] pascalgrimaud commented on #55
Following this, resolves the issue for me:

https://bugzilla.mozilla.org/attachment.cgi?id=8974077
Here is the origin of the .deb
https://bugzilla.mozilla.org/show_bug.cgi?id=1405634

[2018-11-23 15:55] #19 closed

[2018-11-24 11:35] pascalgrimaud commented on #49
In fact, @sabrinapayet is working on it.
So not assigned to me anymore

[2018-11-24 13:39] #41 closed

[2018-11-24 13:41] #49 closed

[2018-11-24 21:14] #45 closed

[2018-11-24 23:08] #29 closed

[2018-11-28 08:24] sahbi-ktifa opened #71 "Refresh redirects you automatically to home page"
When refreshing a page, you are automatically redirect to homepage.

[2018-11-28 08:28] sahbi-ktifa opened #72 "Alert / Notification support"
We should notify users when creating entities, etc...
We can do a jhi-alert-error like component which will display a notification upon creation, modification, ...

[2018-11-28 08:31] hdurix opened #73 "Consistency in EditorConfig/Prettier configurations"
There is inconsistency in the tab style (2 or 4 spaces) between the generator code, the generated code and what it is defined in the `.editorconfig` of the generated app.

- Code is written with 4 spaces in the generator.
- Then prettier (I think) transforms the 4 spaces in 2 spaces
- Then .editorconfig force to use 4 spaces

We should use the same rules as react: 2 spaces everywhere (for `.ts`).

[2018-11-28 08:58] pascalgrimaud commented on #71
yes, you should stay in the same page

[2018-11-28 08:59] pascalgrimaud commented on #72
Interesting ticket.
Do you want to help and contribute with us @richard-francois ?

[2018-11-28 09:56] richard-francois commented on #72
Great ! i am in

[2018-11-28 09:58] pascalgrimaud commented on #73
I can take this ticket if you're ok @hdurix

[2018-11-28 10:00] hdurix commented on #73
Great, go ahead then :) I'll keep my time for `vue-class-component`

[2018-11-28 10:38] sahbi-ktifa opened #74 "JHipster family generation"
Would be nice if we had the random hipster during generation as main generator does!

@atomfrede could you look at it as you did it in the main generator?

[2018-11-28 10:42] sahbi-ktifa opened #75 "JHipster Pacman on load"
On latest main generator release, @sabrinapayet adds a wonderful Pacman animation during front loading. Even if Vue loads quickly, it would be cool to have the same behavior.

@sabrinapayet could you help on this one?

[2018-11-28 10:47] pascalgrimaud opened #76 "JHipster dependencies in generated application"
When generating a VueJS application, the package.json doesn't contain `generator-jhipster` or `generator-jhipster-vuejs`.
We need to add this, once the 1st release is done. Otherwise, it will failed during the `npm install`

[2018-11-28 10:49] pascalgrimaud commented on #12
@sahbi-ktifa : could you rebase your branch and push a 1st version ? (PR or directly to a branch here)
So I can take a look, as it's very important here to test all options.

[2018-11-28 10:50] atomfrede commented on #74
Sure. Will try to create first PR until monday if thats okay.

[2018-11-29 06:41] #71 closed

[2018-11-29 06:41] #50 closed

[2018-11-29 12:49] hdurix opened #80 "Add vue-class-component for UserManagement"
Add for:
- UserManagement
- UserManagementEdit
- UserManagementView

And associated services

[2018-11-29 12:50] hdurix commented on #80
I created this issue as I've started to work on this. Can someone assign this ticket to me please?

[2018-11-29 13:11] pascalgrimaud commented on #80
@jdubois : can you add @hdurix to the VueJS team plz ?

[2018-11-29 15:10] sahbi-ktifa commented on #12
@pascalgrimaud I've pushed to https://github.com/sahbi-ktifa/jhipster-vuejs/tree/feature/test-blueprint a simple test. Can't make it work yet but I haven't look it up through for few weeks

[2018-11-29 15:31] pascalgrimaud commented on #12
Thanks @sahbi-ktifa, I will try to have a look

[2018-11-29 16:21] sahbi-ktifa commented on #47
I hav to refactor this part using Vue-class-component prior to write unit tests. I'll handle this.

[2018-11-29 16:23] sahbi-ktifa commented on #12
I think this is closely tied to main generator behavior as generation fails right now in current test. I suspect a minor improvement could help up on that, thus @murdos already demonstrated a working example

[2018-11-30 07:30] pascalgrimaud commented on #12
It works on my machine.
I need to write all possible config and will PR

[2018-11-30 09:33] sahbi-ktifa commented on #80
I'd like to wait your work on this one before refactoring entity generation. Can't wait ^^

[2018-11-30 09:36] hdurix commented on #80
Yes, I'll push my WIP work at lunch :)

[2018-11-30 13:08] pascalgrimaud commented on #12
Helped by blueprint tests, as suggested by @murdos but I needed to do some changes to make it work.
Will finish it tonight or during this WE.

[2018-11-30 13:09] sahbi-ktifa commented on #12
Great!

[2018-12-01 11:03] pascalgrimaud opened #87 "Refactoring: tests files location"
To be consistent with Angular and React, the generated test files should be in `src/test` instead of `src/main`

Are you ok with that @sahbi-ktifa @hdurix ?

[2018-12-01 11:06] pascalgrimaud opened #88 "Refactoring: kebab case"
The name of components, services etc are not consistent.
I think we should stick to kebab case for all and start with lower case.

Are you ok @sahbi-ktifa @hdurix ?

[2018-12-01 11:09] pascalgrimaud commented on #75
Honestly, Vue loads so quickly !!!

It will be usefull only when the user starts the application in IntelliJ and forgets to build the front.

So yes, need to have this one.

[2018-12-01 12:52] deepu105 commented on #87
yes lets be consistent in our code style

[2018-12-02 10:17] Gnuk commented on #88
I'm OK for components but I think Services can be changed in another story because we can use the Vue.js injection instead of a component mixin.

[2018-12-02 13:43] jmdelagneau commented on #24
Hi Deepu,

I tried to import jdl file with jhipster and the last version of jhipster-vuejs but there are bugs.

Is your developpement ready to do try this or do I have to wait a future version?

I you ask, I can send you the model for your test.

Thanks & Regards,

Jean-Marc

De : Deepu K Sasidharan [mailto:notifications@github.com]
Envoyé : mardi 23 octobre 2018 19:44
À : jhipster/jhipster-vuejs

[2018-12-02 15:26] hdurix opened #89 "Use service injection instead of mixin"

[2018-12-02 15:32] hdurix commented on #89
Exemple of a service:
[code]

Register in main component:

[code]

Use it inside a component
[code]

[2018-12-02 15:52] Gnuk commented on #89
I'm interested to do it :)

[2018-12-02 15:54] sahbi-ktifa commented on #89
Please do so 😁

[2018-12-02 17:54] jmdelagneau commented on #24
Hello Sahbi,

Yes I pulled the last commit of master branch.

I tested 2 models but errors was happened differently (see attached files)

In the tool-test.h, the generator stop generating after 2 entities.

In the jhipster-jdl.jh  the generation seems to be correct but the build is KO.

Best regards,

Jean-Marc

De : Sahbi KTIFA [mailto:notifications@github.com]
Envoyé : dimanche 2 décembre 2018 1

[2018-12-02 18:31] sahbi-ktifa commented on #24
There is no attached files, could you copy paste it?

[2018-12-02 20:39] jmdelagneau commented on #24
I don’t understand, my sent mail seems to be correct and I see the attached files

I try with compressed file.

Tell me if it’s right

De : genetinfo [mailto:genetinfo@free.fr]
Envoyé : dimanche 2 décembre 2018 18:55
À : 'jhipster/jhipster-vuejs'
Objet : RE: [jhipster/jhipster-vuejs] jhipster does'nt recognize vuejs generator (#24)

Hello Sahbi,

Yes I pulled the last commit of master branch.

I t

[2018-12-02 20:43] sahbi-ktifa commented on #24
Have you looked this conversation on GitHub ? Because I see nothing here...

[2018-12-02 21:34] jmdelagneau commented on #24
No I did’nt, there is no issue on github yet.

Do you want I create an issue?

De : Sahbi KTIFA [mailto:notifications@github.com]
Envoyé : dimanche 2 décembre 2018 21:44
À : jhipster/jhipster-vuejs
Cc : jmdelagneau; Author
Objet : Re: [jhipster/jhipster-vuejs] jhipster does'nt recognize vuejs generator (#24)

Have you looked this conversation on GitHub ? Because I see nothing here...

—
You are re

[2018-12-02 21:43] sahbi-ktifa commented on #24
When replying to this email, it keeps posting on your old closed issue. Please, go to https://github.com/jhipster/jhipster-vuejs/issues/24#issuecomment-443544285 and add your jdl file properly.

[2018-12-02 22:30] sahbi-ktifa commented on #24
Thanks! Ok so, first one is a typo in relationships routing on listing view, I'll fix it tomorrow.
However, the second one, there is no error in log file, have you got anything else?

I'll check both files tomorrow anyway. I keep you posted.

[2018-12-03 10:18] sahbi-ktifa commented on #73
I think to finish this issue, we should add .editorconfig file to the generated project :)

[2018-12-03 12:13] hdurix opened #91 "Add vue-class-component for Account part"
I've started to work on this part.

[2018-12-03 13:41] deepu105 commented on #73
yes indeed, aren't they already there from root generator?

Thanks & Regards,
Deepu

On Mon, Dec 3, 2018 at 11:18 AM Sahbi KTIFA <notifications@github.com>
wrote:

[2018-12-03 13:43] sahbi-ktifa commented on #73
My bad, it is 😞

[2018-12-03 20:04] jmdelagneau commented on #24
sorry, here is the complete log
[tool-test.log](https://github.com/jhipster/jhipster-vuejs/files/2641073/tool-test.log)

[2018-12-04 06:11] atomfrede commented on #74
Sorry didn't find time over the weekend. Will try to do it this evening.

[2018-12-04 06:12] atomfrede opened #94 "Replace moment?"
I know we want to be very consistent with angular and react but maybe we can try to replace the heavy moment bundle with date-fns maybe. What do you think?

[2018-12-04 07:51] atomfrede commented on #94
I would say so. We use very limited functions from moment (a few weeks ago I tried day.js, nearly everything supported except parsing with format). day-fns does support all stuff we use and is much smaller and compatible with tree shaking. We could also think of changing the way we handle translations in the frontend. E.g. do a hard reload after chaining the language such that only the current loc

[2018-12-04 09:29] pascalgrimaud opened #95 "Language not working fine"
Generate a project with 2 languages.
When changing the default language and navigating in the application, the new language is not persisted, as it is back to the default language.

[2018-12-04 09:41] pascalgrimaud commented on #95
Another thing: another default language than EN is not working too

[2018-12-04 11:09] sahbi-ktifa commented on #24
First issue will be resolved within the next hours, on the other hands, reading your log file, point me out you did not "npm link generator-jhipster-vuejs" properly. That's the error.

[2018-12-04 11:17] #87 closed

[2018-12-04 11:39] sahbi-ktifa commented on #88
As service will be refactored using service injection, the renaming will be held there.

[2018-12-04 11:39] #88 closed

[2018-12-04 18:32] pascalgrimaud commented on #95
After some discussion with @sahbi-ktifa, the problem comes from the import of [TranslationService](https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/templates/vue/src/main/webapp/app/locale/TranslationService.vue.ejs#L8) in Principal, which is imported too in some components.

Then, this line reset the default language:
https://github.com/jhipster/jhipster-vuejs/blob/master/

[2018-12-04 18:47] hdurix opened #96 "Handle relationship between same entity"
There is a bug when an entity has a relationship to the same entity, I found it by importing this JDL file: https://github.com/jhipster/jdl-samples/blob/master/simple-online-shop.jh#L42

The issue is that the service for the given entity is imported twice, I'm sure it's better handled in Angular/react, we should use the same mechanism for this particular case.

[2018-12-04 21:50] jmdelagneau commented on #24
I did "npm link generator-jhipster-vuejs" in the project before generating.

I got the last commit of jhipster-vuejs and tried again. You can all operations from start in the folowing file. As you see there is always an error.
[tool-test2.log](https://github.com/jhipster/jhipster-vuejs/files/2646275/tool-test2.log)

[2018-12-05 06:54] sahbi-ktifa commented on #24
When running JHipster jdl-import, you must add --blueprint vuejs. And as build runs npm install, you must npm link again.

[2018-12-05 06:58] pascalgrimaud commented on #24
related to https://github.com/jhipster/generator-jhipster/issues/8610 ?

[2018-12-05 16:11] pascalgrimaud opened #99 "Clear login and password in modal"
Here all steps:
1) go into the application and log in
2) then, log out
3) if you want to log in, you'll see all fields are already filled with login and password information. It shouldn't !

[2018-12-05 21:42] sahbi-ktifa commented on #24
This is the way a blueprint works. Check out out zsh plugin as it adds alias such as jhvue which runs "jhipster --blueprint vuejs" for you.

About your errors, it is related to #96 I think? We inject the same service too many times. Feel free to help if you have a solution or wait till we fix that.

[2018-12-06 16:04] nonomoho opened #101 "Unable to run the tests"
First I clone the project
`git clone https://github.com/jhipster/jhipster-vuejs.git`

I run
`npm install`

I can't run test : `npm test`, I get :
[code]

[2018-12-06 16:20] pascalgrimaud commented on #101
You need to install yo: `npm install -g yo`
Thanks @sahbi-ktifa !

[2018-12-12 13:18] #47 closed

[2018-12-12 15:56] sahbi-ktifa commented on #91
Fixed by #92

[2018-12-12 15:56] #91 closed

[2018-12-13 09:54] #96 closed

[2018-12-13 11:12] pascalgrimaud commented on #95
I will PR soon, with translation service

[2018-12-13 12:49] hdurix opened #110 "Add Travis sample for session based authentication"
If I'm right, Travis does not test any project with authentication mechanism other than JWT.

I just noticed than the option "session" does not compile (since the use of TypeScript I think): I will look at it.

[2018-12-13 14:55] #110 closed

[2018-12-13 15:54] sahbi-ktifa commented on #73
We should consider consistency between fields declaration order :
- Public members / private injected fields
- Decorators alignment (1 line or 2 lines)

[2018-12-13 16:00] hdurix commented on #73
I think we should add tslint as it's done in Angular/react project.

They are configured to work accordingly to prettier rules.

[2018-12-13 22:13] pascalgrimaud opened #116 "Websocket support broken"
The support for Websocket is currently broken in master, with the error:

[code]

Following this PR https://github.com/jhipster/jhipster-vuejs/pull/115, the fix would be:
- use an inject service for tracker
- add npm test
- add Travis tests

[2018-12-13 22:15] pascalgrimaud opened #117 "Selected language with i18n in navbar"
Following https://github.com/jhipster/jhipster-vuejs/issues/95 and https://github.com/jhipster/jhipster-vuejs/pull/115
The language is not selected in navbar.

[2018-12-13 22:17] pascalgrimaud opened #118 "Default language linked to account"
Following #95 and #115
After the user is logged in to the application, the language linked to his account is not used.

[2018-12-14 06:55] pascalgrimaud commented on #116
I'm starting this one

[2018-12-14 08:28] #95 closed, assigned to pascalgrimaud

[2018-12-17 10:30] sahbi-ktifa opened #121 "Front-end should not be recompiled when already compiled"
Main generator seeks for a main.bundle.js to check if the front-end needs to be compiled. We create a app.bundle.js, we should stick to main generator behavior.

[2018-12-17 10:39] sahbi-ktifa commented on #12
Bounty claimed https://opencollective.com/generator-jhipster/expenses/6152

[2018-12-17 14:32] #75 closed

[2018-12-17 15:23] #89 closed

[2018-12-17 16:02] deepu105 opened #124 "Check if Babel can be removed now that we are using Typescript"
Since we use TypeScript now may be babel can be removed. Need to be double checked

[2018-12-17 16:04] deepu105 opened #125 "Cleanup dependencies"
Audit and remove unwanted dependencies from package json

[2018-12-17 16:08] sahbi-ktifa commented on #125
Interesting, did you notice some specific useless dependencies ? I'll check this out asap

[2018-12-17 16:08] deepu105 opened #126 "Add travis test cases for websocket, elasticsearch, pagination etc"
Add travis test cases for
- websocket
- elasticsearch
- pagination
- Entity relationships (specially with Users)
- any other missing options

[2018-12-17 16:10] deepu105 opened #127 "Support Sass by default and remove CSS as we are planning to deprecate CSS in the future"
Support Sass by default and remove CSS as we are planning to deprecate CSS in the future

[2018-12-17 16:13] pascalgrimaud commented on #126
@deepu105 : the bounty is not deserved for this ticket, because I already do all the work here https://github.com/jhipster/jhipster-vuejs/issues/2 and there was already a bounty. I suggest to remove it and keep it for another ticket.

But let's keep the ticket opened so we won't forget to add all these tests

[2018-12-17 20:33] atomfrede opened #129 "Optimize bundle size"
As already mentioned in #94 moment is a large monster. I have run the bundle analyzer and found a bit of potential optimizations.

* First the tree shaking of fontawesome seems not to work as expected (again, we had the same issues with react/angular)
* There are currently all moment locales which are in that concrete case are not required (just selected `en` no other language)

* What seems to wo

[2018-12-17 20:53] #74 closed

[2018-12-17 22:00] atomfrede commented on #117
Does it have something to do with everything in the `utils` not working as expected? I tried to add the webpack moment plugin and I couldn't make it work as the files are not found and therefore the needles not replaced.

This is from the current master branch:

[code]

[2018-12-18 07:08] pascalgrimaud commented on #117
I don't think it is related.
This ticket is very simple: when you click on language menu, you don't know which language is selected.

[2018-12-18 07:22] atomfrede commented on #117
Ah just a simple frontend issue. I will open another one for the other problem.

[2018-12-18 07:34] atomfrede commented on #94
@jhipster/vuejs-developers Should we give date-fns (2.x) a try? At least at the moment I only see moment used for parsing date/time strings.

[2018-12-18 09:20] nonomoho opened #131 "Error on tests"
I cleaned up my fork this morning:
[code]
When I run the tests, I have this error. Did I forget something to do?
[code]

[2018-12-18 09:55] deepu105 commented on #73
Didn't we add Tslint yet? its a must have to avoid spending time discussing
these stuff. I suggest we add the same tslint config as in React here as
well

Thanks & Regards,
Deepu

On Thu, Dec 13, 2018 at 5:00 PM Hippolyte Durix <notifications@github.com>
wrote:

[2018-12-18 10:19] sahbi-ktifa commented on #94
Yes, we should at least try it! Go ahead if you can!

[2018-12-18 10:42] atomfrede commented on #94
I will give it a try.

[2018-12-18 10:46] atomfrede opened #132 "Some needles/callbacks are not working"
While I was working on integrating moment webpack plugin I came across a problem when some callbacks are executed (in https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/utils.js). So on the current master branch there is `addLanguagesToWebPackConfiguration` not correctly executed. The second failure comes from a callback that is executed in the main generator (and we don't ha

[2018-12-18 10:54] deepu105 commented on #126
Ok @pascalgrimaud

[2018-12-18 11:09] hdurix commented on #131
Same error when trying to generate a new project.

[2018-12-18 12:16] pascalgrimaud commented on #131
it looks like it was introduced by https://github.com/jhipster/jhipster-vuejs/pull/128
But it shouldn't happen because we have CI tests, so I don't understand what happened.

[2018-12-18 12:39] atomfrede commented on #131
Which main generator version are you using? It requires the latest release (or master) with the random hipster member generation. I generated a lot of samples yesterday without any error.

[2018-12-18 13:34] hdurix commented on #131
Oh yes that's working with the latest version! Thanks @atomfrede :)

Can you confirm @nonomoho it's ok for you too?

[2018-12-18 15:07] atomfrede commented on #129
Just to track the progress here, after using a custom icon lib the result looks like this:

![50114693-74f93980-0245-11e9-95b8-9ac93d80068c](https://user-images.githubusercontent.com/203401/50162545-f0f39000-02de-11e9-8e4e-4910ac94a469.png)

[2018-12-18 20:47] atomfrede commented on #129
Here is the result using date-fns with a couple of languages (~1.9mb). I wonder if we could further optimize it by e.g. changing the way we handle i18n changes. In case we could accept a hard page reload when changing the language we might just load one particular locale instead of all supported locales.

![screenshot_2018-12-18 webpack bundle analyzer](https://user-images.githubusercontent.com/20

[2018-12-18 21:20] atomfrede commented on #117
Btw. we currently don't store the language in the vuex store (if I got it correctly), we should fix that too.

[2018-12-19 06:47] pascalgrimaud commented on #6
@sahbi-ktifa @atomfrede : do you think all these items need to be done before a 1st release ?

[2018-12-19 06:49] pascalgrimaud opened #134 "npm test for test files"
Add npm test for test files
See https://github.com/jhipster/jhipster-vuejs/blob/master/test/client.spec.js#L121-L123

[2018-12-19 06:50] sahbi-ktifa commented on #6
Yes I do, except for tsx template, I'd prefer to stick to current templates.

[2018-12-19 07:47] sahbi-ktifa commented on #129
I've started to change bootstrap-vue components loading as we currently import everything. I'll PR that soon.

[2018-12-19 07:49] sahbi-ktifa commented on #127
I'd like to have a look on this one as I'm not very familiar with Sass right now.

[2018-12-19 07:57] atomfrede commented on #129
@sahbi-ktifa Great, looking forward to it!

[2018-12-19 08:01] atomfrede commented on #117
@sahbi-ktifa I have a PR nearly ready (at least for the style thing). But I have no experience with vuex, so I need a hint how to handle saving current language in the store. I would like to do it in the `TranslationService`. Is it okay to access the store in a service class? And if so, how to inject it there? Or better provide it like `i18n` as method parameter?

In addition I would like to  acce

[2018-12-19 08:16] sahbi-ktifa commented on #117
I think @pascalgrimaud is actually working on this one. I'm not sure but he may confirm this. About vuex, it could be injected using constructor indeed. Inside your service, you can commit to trigger a mutation and it will then set variables for you in the store.

[2018-12-19 08:19] pascalgrimaud commented on #117
Oh, I didn't know you're working on this, @atomfrede
I'm doing another PR to fix https://github.com/jhipster/jhipster-vuejs/issues/118
Give me a few minutes

[2018-12-19 08:30] atomfrede commented on #6
I would also keep the current templates. We definitely need some prettier config for Vue files.

[2018-12-19 10:33] pascalgrimaud commented on #117
See https://github.com/jhipster/jhipster-vuejs/pull/136
@atomfrede : so I think it can help you, if you want to fix this ticket. In this case, can I assign to you this one?

[2018-12-19 10:45] #118 closed

[2018-12-19 10:46] atomfrede commented on #117
Yes you can. Seen your MR already :+1:

[2018-12-19 13:52] pascalgrimaud commented on #6
agree about tsx template, I'd prefer to stick to current templates

[2018-12-19 13:54] sahbi-ktifa commented on #126
As we already have maven, no-i18n, i18n, gradle, elasticsearch, pagination, entity relationships, protractor, gateway, session/jwt auth . I think we should only add websocket support on a new travis build.

[2018-12-19 14:00] pascalgrimaud commented on #126
I will add this config when this https://github.com/jhipster/jhipster-vuejs/issues/116 will be fixed.
If we add it now, it will fail

[2018-12-19 14:03] sahbi-ktifa commented on #6
Ok, I removed this from our list.

[2018-12-19 14:59] #121 closed

[2018-12-19 16:30] sahbi-ktifa commented on #131
I'll check it out as you are not the first one who encounter this behavior.

[2018-12-19 16:33] kakawait commented on #131
@sahbi-ktifa my bad you're correct I just miss something that work :)

[2018-12-19 16:36] nonomoho commented on #131
I think we need to update package-lock.json and package.json for those who do not want to link main generator and use jhipster installed globally.

[2018-12-19 16:37] pascalgrimaud commented on #131
Sorry about all these steps, but it is needed until we do a real release.
Here, all instructions:

This 1st step is important, because I think you need the current master of **generator-jhipster**:
- fork generator-jhipster: `https://github.com/jhipster/generator-jhipster/fork`
- clone locally your fork
- `cd generator-jhipster`
- `git remote add upstream https://github.com/jhipster/generator-jhip

[2018-12-19 16:49] kakawait commented on #131
You're too much reactive :love:

Yes I missed a `npm link` like a big noob sorry. Now is working great.

Thanks for your feedback. I'll try it asap

[2018-12-19 17:18] zsliu opened #139 "Error: ERROR! Copying template vue/src/main/webapp/manifest.webapp.ejs failed"
Follow the instruction on the readme.md, I got the following errors. Would you please advise how to resolve it?

Installing languages: en, fr

KeyStore 'src/main/resources/config/tls/keystore.p12' already exists. Leaving unchanged.

events.js:167
      throw er; // Unhandled 'error' event
      ^

Error: ERROR! Copying template vue/src/main/webapp/manifest.webapp.ejs failed. [ReferenceError: /User

[2018-12-19 17:49] pascalgrimaud commented on #139
@sahbi-ktifa : I think we need to give more details about instructions, as I mentionned in the other ticket. I will do it

[2018-12-19 17:54] sahbi-ktifa commented on #139
This is due to package-lock in the blueprint repo,  WE should remove it, and then it will be ok with the current instructions

[2018-12-19 17:56] pascalgrimaud commented on #139
Which package-lock ? In this repo ?

[2018-12-19 18:51] zsliu commented on #139
I followed the readme step by step with npm link already.

Is there any work around to resolve the issue for now?

[2018-12-19 18:53] pascalgrimaud commented on #139
can you try my comment plz ?
https://github.com/jhipster/jhipster-vuejs/issues/131#issuecomment-448660678

[2018-12-19 21:03] sahbi-ktifa commented on #129
I'm a bit disappointed cause if I only use separated bootstrap vue components, my bundle is bigger... I'm still confused about this and I must be doing something wrong here. Any idea @atomfrede ?

[2018-12-20 07:58] sahbi-ktifa commented on #127
@deepu105 when you said "Sass by default", do you mean overriding prompt answers to set useSass to true no matter what ?

[2018-12-20 08:00] sahbi-ktifa commented on #139
@zsliu could you update your project and retry ? We made some changes that should prevent this issue and we want to make sure it's ok for you.

[2018-12-20 08:49] hdurix opened #146 "Fix NPM dependency versions"
As explained by @deepu105 [here](https://github.com/jhipster/jhipster-vuejs/pull/135#issuecomment-448912732), we should fix all dependency versions

[2018-12-20 09:21] #17 closed

[2018-12-20 09:22] sahbi-ktifa commented on #73
I'm gonna add specific editorconfig (like react) and prettier/lint config.

[2018-12-20 10:33] pascalgrimaud commented on #127
@sahbi-ktifa : @gnuk can help you on this, as he's interested about this subject

[2018-12-20 12:45] atomfrede commented on #129
Not sure. What did you try? Do we need to configure something in the webpack config?

[2018-12-20 12:53] sahbi-ktifa commented on #129
I only did what the doc said, instead of loading all bootstrap-vue, I used only required components. My bundle was bigger afterwards... I surely missed something, I'll take another shot soon

[2018-12-20 13:04] atomfrede commented on #129
Indeed I am confused when looking at their docs what to do exactly

[2018-12-20 14:05] #117 closed

[2018-12-20 14:45] wmarques commented on #146
@hdurix I can quickly do that if you want :)

[2018-12-20 14:51] sahbi-ktifa commented on #146
Yes please, you can do it :)

[2018-12-20 15:52] wmarques commented on #129
@atomfrede I wonder if we can use dynamic imports to dynamically load the language file, this can reduce bundle size.

[2018-12-20 16:22] pascalgrimaud opened #149 "Register a new account"
I open this ticket as the URL sent by mail (for new account) seems not working
Not sure, but I need to confirm that.

[2018-12-20 16:31] hdurix opened #150 "Unit test: UnhandledPromiseRejection errors"
For some tests on generated app, we don't correctly mock the backend response, thus we have some error of unhandled promise, for instance:

[code]

[2018-12-20 16:34] hdurix opened #151 "Unit test: Injection not found"
For some component tests, we have some warnings like

[code]

That's because we use `Principal` component as mixin, which to have the `translationService` injected. We have to find a way to inject it when mounting these components in unit test.

[2018-12-20 16:37] hdurix opened #152 "Unit test: Jest looking for babel configuration"
When running the unit tests in a generated app, we have some warning about babel not found (and ignored) with Jest:

[code]

There is maybe an option to explain to Jest that babel is not used.

[2018-12-20 16:53] atomfrede commented on #129
Yes that would be something I would like to try after we have date-fns integrated. Hope to continue later today.

[2018-12-20 16:58] hdurix commented on #150
The issue is that I don't think we can know which tests are causing the stacktrace :)

[2018-12-20 17:25] pascalgrimaud opened #153 "Relation with User"
The relation with user is not well handled
I will give more details later or will fix it directly.

[2018-12-20 20:39] #127 closed

[2018-12-20 20:45] sahbi-ktifa commented on #129
I successfully loaded required only components from bootstrap, check #154

[2018-12-20 21:18] jdubois commented on #153
@pascalgrimaud this is more general than just for VueJS, it is already badly done at the generator level. I'm pretty sure we could allow relationships to the User entity, even with the JDL (when the "User" entity is used) without much changes.

[2018-12-20 22:09] atomfrede commented on #94
@jhipster/vuejs-developers I remember some discussion about how to handle instant and zoned date time inputs, but can't remember what we decided. Currently it is totally broken for me:

In FF the localDate field works quite well (same for chrome) you get a native browser control to select the date. For instant and zoned date time (which are both date-time inputs) I get nothing in firefox and a nat

[2018-12-20 22:49] atomfrede commented on #94
SO maybe I have found a solution, but doesn't look perfect to me.

[code]

[2018-12-21 07:31] ivangsa opened #155 "Vue Components data initialization presents errors when entity has relations"
Hi
I've been following this blueprint for a while and using it for an [aplication](https://github.com/ivangsa/ecolar/) so I would like to give a hand...

I found that generated 'constructor' for vue Components  has some errors initializing class fields when entity has relations

I belive these fields can be initialized 'inline' to null, {} or [] and still be reactive, so this code would be unneces

[2018-12-21 07:35] ivangsa opened #156 "Register vue-router hooks for vue-class based components"
Hi,
I think router hooks can be registered so component classes can define them as instance methods, (instead of a function defined outside its class) being more elegant, with:

[code]

I have already a patch for this https://github.com/ivangsa/jhipster-vuejs/commit/f71941d2fcf4d76a04f9c0b696f95e987e5a3659, I will send a PR soon, after I launch all tests to verify it is all good..

Regards
ivan

[2018-12-21 08:04] sahbi-ktifa commented on #155
Great!! Thanks @ivangsa, can't wait for your PR.

[2018-12-21 08:18] pascalgrimaud commented on #132
All needles need to be checked:
- if you regenerate an entity, the needle will add again the same code, so there will be duplicated code which will fail during compilation

[2018-12-21 08:36] hdurix commented on #155
That's the way `vue-class-component` is [doing](https://github.com/vuejs/vue-class-component/blob/master/example/src/components/Hello.vue) so yes why not, especially if that prevents from initialization bugs.

But I think we should be consistent, if we change for entity, we should do the same for every component :)

[2018-12-21 09:19] jdubois commented on #72
@sabrinapayet I just invited you to the "hipsters" team on the project, so I can affect the ticket to you. Plus, you can have the cool JHipster logo on your GitHub profile :-)

[2018-12-21 10:06] pascalgrimaud commented on #72
@sabrinapayet : I assign to you the ticket. Thanks so much for helping the project!

[2018-12-21 10:08] pascalgrimaud opened #157 "Update README for contributors"
Self assigned for me.
I will put more instructions about fork / clone, etc. So it will help new contributors

[2018-12-21 10:09] pascalgrimaud commented on #153
Thanks @jdubois but a JDL using User relationship which works with Angular/React should work with VueJS too, and yesterday, I saw it was not the case.
It's my fault as we didn't test User relationship in our CICD here.

That's the reason for this ticket.

[2018-12-21 10:45] ivangsa commented on #153
@pascalgrimaud this may be fixed by this #155
I had relations with User in my jdl and that was the only error I found in the generated client
In the server side, relations to User are removed so they have to be fixed manually..

[2018-12-21 11:09] deepu105 commented on #129
You guys are doing awesome :)

Thanks & Regards,
Deepu

On Thu, Dec 20, 2018 at 9:45 PM Sahbi KTIFA <notifications@github.com>
wrote:

[2018-12-21 11:15] pascalgrimaud commented on #153
thanks @ivangsa !
Yes, I need to test your patch

[2018-12-21 11:33] deepu105 opened #158 "Beta release"
@jhipster/vuejs-developers do you think we are ready for a beta release for Christmas or New year? if so let me know and I'll prepare and do the release

[2018-12-21 11:50] atomfrede commented on #158
I would go for new year so we can get the bundle size thing done.

[2018-12-21 12:43] deepu105 commented on #152
That's weird, we are using Jest on React and Angular as well without Babel, of course it internally uses whatever it needs but does not make it required at project level. Also its just a normal log I wouldn't bother about it at all

[2018-12-21 12:46] sahbi-ktifa commented on #152
Yes, we do not require it as top level dependency but that's the reason of the warning :)

[2018-12-21 13:03] atomfrede commented on #129
I am nearly done with date-fns integration and have for a sample app without any entities we have gzipped size for all js files of `173.32 KB`. Removing the additional ~30kb from the bootstrap parts results in ~`143KB` which seems quite nice.

[2018-12-21 13:19] deepu105 commented on #152
lets ignore it then, its not worth it

Thanks & Regards,
Deepu

On Fri, Dec 21, 2018 at 1:46 PM Sahbi KTIFA <notifications@github.com>
wrote:

[2018-12-21 19:14] #146 closed

[2018-12-21 21:01] atomfrede opened #164 "Main Menu Item is not highlighted correctly"
It seems the start page is always marked as active regardless of the selected (sub)menuitem.

![screenshot-20181221215954-1919x678](https://user-images.githubusercontent.com/203401/50363441-e3066f00-056b-11e9-82a5-f971dc3ea77c.png)

[2018-12-21 21:31] atomfrede commented on #129
@mraible This is interesting for you. Simple app with defaults and one entity. It feels just blazing fast

https://datefns.herokuapp.com/#/

![screenshot-20181221222933-993x916](https://user-images.githubusercontent.com/203401/50364356-fddae280-056f-11e9-92a8-cf9476b276c8.png)

[2018-12-21 21:34] atomfrede opened #165 "Detail view broken"
The detail view is broken. I guess it is either something with pinning e.g. bootstrap or switching to sass. It was working yesterday.

![screenshot_2018-12-21 vuejhipster](https://user-images.githubusercontent.com/203401/50364500-7b065780-0570-11e9-9367-3896c7b6f2ae.png)

[2018-12-22 09:04] #156 closed

[2018-12-22 11:47] ivangsa commented on #155
hi @Gnuk I meant that field nested properties initialization is unnecessary  (i.e. "user = { name: null }") to be reactive..

I learned the hard way that validated properties needs to either be initialized or use the type constructor
myEntity: IMyEntity = {}; // does not work if myEntity has validation
myEntity: IMyEntity = new MyEntity(); // it's reactive and validation works

[2018-12-22 12:14] #155 closed

[2018-12-22 16:47] Gnuk commented on #155
Interesting to know. Is there something on Vue listening the constructor ? And about your example from initialization I see another problem because `{}` will implements an interface like IMyEntity only if this interface have no mandatory field.

[2018-12-22 17:53] atomfrede commented on #129
After integration the bootstrap branch we have a final bundle size of `154.94 KB` gzipped.
![screenshot_2018-12-22 webpack bundle analyzer](https://user-images.githubusercontent.com/203401/50377249-1f90a400-061a-11e9-9b03-35999b4989bc.png)

[2018-12-22 18:23] #94 closed, assigned to atomfrede

[2018-12-22 18:32] hdurix commented on #129
Awesome @atomfrede!

What was the initial size before your optimization work? And do you know the bundle size for react & angular?

[2018-12-22 18:45] jdubois commented on #129
Awesome work and well-earned bug bounty! @atomfrede don't forget we are in the bug bounty booster program, so that's $200. Merry Christmas 😀

[2018-12-22 18:46] atomfrede commented on #129
Sadly I didn't measure it before, but I think it was ~1.x mb (gzipped, mostly due to all font awesome icons). It can check how large our react and angular parts are ( I did that a few month ago already, maybe I find the screenshot somewhere).

@sahbi-ktifa How to we handle the bounty btw?

[2018-12-22 18:47] atomfrede commented on #129
@jdubois So I just file 200 instead of 100?

[2018-12-22 18:50] jdubois commented on #129
@atomfrede yes it's the usual process but you invoice $200 instead of $100 :-)
(Oh don't worry for our finances, I've heard we'll soon have a new silver sponsor 😀)

[2018-12-22 18:55] atomfrede commented on #129
@hdurix Just generated a sample angular app. The gzipped bundle size is 290kb.
![screenshot_2018-12-22 webpack bundle analyzer](https://user-images.githubusercontent.com/203401/50377764-88c8e500-0623-11e9-807d-3282a3936d1d.png)

[2018-12-22 19:05] hdurix commented on #129
Very interesting!

[2018-12-22 19:06] sahbi-ktifa commented on #129
@atomfrede as bounty is now 200$, what do you think of 150/50 as my part was lighter than yours?

[2018-12-22 19:09] atomfrede commented on #129
Damn, just submitted the expense. @jdubois Can we do it like @sahbi-ktifa suggested? Need to cancel my expense

[2018-12-22 19:13] sahbi-ktifa commented on #129
No no don't. Don't worry, I'll get another bounty 😉 @jdubois you can approve @atomfrede expense !

[2018-12-26 15:09] pascalgrimaud opened #170 "Languages selector not displayed"
I don't understand what happened, I thought everything about languages were fixed.
But with current master, the selector is not displayed anymore

[2018-12-26 15:25] pascalgrimaud opened #171 "Translation with param"
Translation with param are not used.

For example, `home.json` :

[code]

After authentication, the message should be: `Vous êtes connecté en tant que "admin".`
But the following message is displayed: `You are logged in as user "admin".`

Not sure but I think it's because it's hard coded here: https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/templates/vue/src/main/webapp/ap

[2018-12-26 16:06] pascalgrimaud commented on #171
One solution would be to replace `{{username}}` by `{username}` in json file, then use in `.vue` file:

[code]

Not elegant, but I don't see what should be done here yet

[2018-12-26 20:46] #165 closed

[2018-12-27 08:13] #170 closed

[2018-12-27 10:13] sabrinapayet commented on #164
I have the fix, I will PR soon.

[2018-12-27 10:47] pascalgrimaud opened #174 "Jest configuration"
Jest configuration should be in separated file, like for Angular and React, instead of `package.json` :

https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/templates/vue/package.json.ejs#L135-L155

[2018-12-27 13:31] #134 closed

[2018-12-27 13:38] pascalgrimaud opened #175 "Missing tests"
Here the list of missing tests:
- [x] account/register/register.component.spec.ts -> done in #207
- [x] account/register/register.service.spec.ts -> done in #207
- [x] account/reset-password/reset-password.component.spec.ts
- [x] account/activate/activate.component.spec.ts
- [x] account/login-modal.service.spec.ts
- [x] account/account.service.spec.ts -> done alongside oAuth2 support
- [x] admin/a

[2018-12-27 13:41] atomfrede commented on #175
I would do it in separate PRs.

[2018-12-27 13:45] pascalgrimaud commented on #175
Ok, I edited my original post, so we can check each file when it's done

[2018-12-27 13:50] atomfrede commented on #171
Would it help do define a custom interpolcation for vue-i18n? https://kazupon.github.io/vue-i18n/guide/formatting.html#custom-formatting

[2018-12-27 14:00] pascalgrimaud commented on #171
If we can keep `{{username}}` instead of replacing by `{username}` in json files, so yes, it will help !

[2018-12-27 14:02] atomfrede commented on #171
I will give it a try.

[2018-12-27 14:13] #151 closed

[2018-12-27 15:19] hdurix commented on #175
`tracker.component.spec.ts` & `tracker.service.spec.ts` have been added here: https://github.com/jhipster/jhipster-vuejs/pull/147.

[2018-12-27 17:17] atomfrede commented on #158
So I would say when we have fixed #171 #164 and #72 we could do a first beta release, what do you think @jhipster/vuejs-developers ?

[2018-12-27 17:21] sahbi-ktifa commented on #158
I agree, we have to focus on polishing then.

[2018-12-27 17:28] atomfrede opened #177 "Use vue-i18n date time localization"
##### **Overview of the feature request**

Currently the display of date/time is hard coded (like in angular/react stuff).
As we only support evergreen browser we could use [Intl](http://www.ecma-international.org/ecma-402/2.0/#sec-intl-datetimeformat-constructor) date time formatting and use the build in filters
for format dates: https://kazupon.github.io/vue-i18n/guide/datetime.html

##### **Mot

[2018-12-27 18:37] pascalgrimaud commented on #158
Sorry @atomfrede
I'd like a beta release soon, but I still saw some major issue right now.
I'll open new issues soon.

[2018-12-27 18:53] atomfrede commented on #158
Yes I tried Matt's 21points entities they don't compile so at least that should work out of box even for a beta.

[2018-12-27 18:54] pascalgrimaud commented on #158
did you add the blueprint vuejs flag ?

[2018-12-27 19:00] atomfrede commented on #158
Yes it was a problem in the generated code with the user entity. Will post it tommorow when I am back a desktop/laptop.

[2018-12-27 20:15] pascalgrimaud opened #178 "User creation page"
In user creation page, there is some strange behavior:
- validation fields
- language selection empty

It doesn't work well.

**Edit:** update -> creation

[2018-12-27 23:31] hdurix commented on #178
There is a problem with email validation : `user@localhost` is not valid from the `vuelidate`'s perspective, but `user@localhost.com` is valid. It has been discussed [there](https://github.com/jhipster/generator-jhipster/issues/8367#issuecomment-422936783) and [there](https://github.com/jhipster/generator-jhipster/issues/5810#issuecomment-303201305).

Maybe we should change the default the default

[2018-12-28 06:20] pascalgrimaud commented on #178
Wrong use case, it is creation, not update.
See my screenshot:
![capture d ecran de 2018-12-28 07-17-45](https://user-images.githubusercontent.com/9156882/50504891-ed939d80-0a70-11e9-9638-ef80d7f0a65e.png)

[2018-12-28 06:44] pascalgrimaud commented on #158
@atomfrede : just tested the 21points entities, and it works well for me. Excepting error message for validation min / max which is not always displayed

[2018-12-28 08:03] atomfrede commented on #158
Mh strange, maybe I used an outdated version by accident, but good to know it works

[2018-12-28 09:01] deepu105 commented on #158
Ok guys, just let me know when you think its ready for beta. Keep in mind,
its beta so minor issues are ok

On Fri, 28 Dec 2018, 9:03 am Frederik Hahne <notifications@github.com wrote:

[2018-12-28 10:25] pascalgrimaud opened #180 "Delete user or entity: error in browser console"
After deleting an entity or user, there are errors in console:

[code]

[2018-12-28 14:20] pascalgrimaud commented on #72
After some discussion with @sabrinapayet, I'm taking this ticket.
I'll do a PR soon

[2018-12-28 14:36] #171 closed

[2018-12-28 14:47] #116 closed

[2018-12-28 15:00] pascalgrimaud commented on #153
After testing some PR, and testing some JDL, I don't see issue any more, so let's close this

[2018-12-28 15:00] #153 closed

[2018-12-28 16:51] #150 closed

[2018-12-28 17:02] hdurix commented on #116
Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/6337

[2018-12-28 19:15] #72 closed

[2018-12-28 19:16] atomfrede commented on #149
@jhipster/developers Anyone working on this already? Otherwise I will do it, as this is crucial for a beta release.

[2018-12-28 19:17] pascalgrimaud commented on #149
go ahead @atomfrede
From my side, I think I won't be able to work until next year

[2018-12-28 19:20] atomfrede commented on #149
Vacation is well deserved!

[2018-12-28 20:15] atomfrede commented on #180
You are also using FF, right? No issue in chromium.  It seems like a FF issue, interpreting an empty response as xml and trying to parse that (which of course doesn't work).

[2018-12-28 21:47] atomfrede opened #185 "Accessing protected page when not logged in"
##### **Overview of the issue**

When e.g. trying to access `admin/user-management` and you are not logged in the you see the user management page without content. It would be great if either we do not see any content or (i think thats what we do for angular) open the login modal such that the user can login. After login the page should be reloaded to see actual data.

##### **Motivation for or Us

[2018-12-28 23:05] hdurix commented on #175
I think you could remove all the `service.spec` from the list.

Sometimes, a test for the service is better (like for `tracker.service.spec.ts` because it contains a lot of logic), but we should choose on a case by case basis.
Because sometimes, it's ok to test the service through the component. For instance, the `admin/audits/audits.service.spec.ts` is already 100% covered by `admin/audits/audits

[2018-12-29 04:15] pascalgrimaud commented on #175
@hdurix : I'm ok, don't hesitate to edit my ticket !

[2018-12-29 04:43] pascalgrimaud commented on #72
Bug bounty claimed https://opencollective.com/generator-jhipster/expenses/6344

[2018-12-29 14:10] #149 closed

[2018-12-31 08:52] deepu105 commented on #158
Guys can we do a release today or tomorrow, it will nice for marketing

[2018-12-31 08:55] sahbi-ktifa commented on #158
I'm working on prettier/lint today, I hope to finish it this morning. Either way, I think this would be a great news to do the release on this last day of the year :)

[2018-12-31 09:44] pascalgrimaud commented on #158
We need to check if vuejs need last release or current master of generator-jhipster

Then, we need to fix this ticket https://github.com/jhipster/jhipster-vuejs/issues/76

[2018-12-31 09:55] sahbi-ktifa commented on #127
Bounty claimed https://opencollective.com/generator-jhipster/expenses/6352

[2018-12-31 10:00] sahbi-ktifa commented on #125
Bounty claimed https://opencollective.com/generator-jhipster/expenses/6354

[2018-12-31 10:03] atomfrede commented on #158
It definitely needs the current master.

On Mon, Dec 31, 2018, 10:44 Pascal Grimaud <notifications@github.com wrote:

[2018-12-31 14:40] sahbi-ktifa commented on #158
#190 is ready to be merged. Once master is released, we could do the beta version (after #76 indeed but I'm not sure about what to do first here)

[2018-12-31 15:35] #73 closed

[2018-12-31 15:36] atomfrede commented on #158
Should we updatet to latest vue (and vue i18n) maybe before a beta release?

[2018-12-31 15:52] sahbi-ktifa commented on #158
I'm afraid that the latest vue-template-compiler (2.5.21) version does not work well with typescript because it breaks out builds. We should stick to this one until at least 2.5.22 is out.

[2019-01-01 20:39] atomfrede commented on #185
Thats the current state. I have also created a generic 404 route in case the requested route does not exist. Currently just an empty page with navbar and footer is shown. Will provide each in separate PRs. Need to check why sometimes user management page loads content although I am logged in as user instead of admin (mayby something with local npm server).

![peek 2019-01-01 21-33](https://user-im

[2019-01-02 09:31] atomfrede commented on #132
Yes somehow I think. According to our documentation a blueprint can not overwrite the language subgen. The needles are executed during normal creation of an application and are not working (at least ypu see the errors on the console).

[2019-01-02 09:42] pascalgrimaud commented on #132
@atomfrede : when I used `jhipster languages --blueprint vuejs`, I don't have error, but the new language is not added to `config.ts` file. Do you have all steps to reproduce ?

I think all blueprint should allow to overwrite language subgen.
@murdos : are you OK with that ? If yes, I'll start to update languages+blueprint

[2019-01-02 09:53] atomfrede commented on #132
@pascalgrimaud Let me check later when I am back home. But I got that error when just creating an app with the vue blueprint. Will check if its still the case with the current master.

[2019-01-02 09:56] pascalgrimaud commented on #132
Okey, nothing urgent @atomfrede
But, I wonder if it is really needed to add the sub module languages here, as... after discussion with Julien, we'll probably merge this blueprint into the main generator.

[2019-01-02 10:56] atomfrede commented on #132
Supporting 3 ui stacks in the main generator?

[2019-01-02 11:21] murdos commented on #132
If we support 3 ui stacks, then we need to think how to factorize some parts of the client templates.
There's already some duplicated content that makes maintenance more difficult.

[2019-01-02 13:00] atomfrede commented on #132
At the moment I would not go to merge it into the main generator

[2019-01-02 13:09] pascalgrimaud commented on #132
No worry, if it will be merged, it will be done in few months, not now.
I just said that because Julien said us he wants VueJS in main generator :dancer:

[2019-01-02 13:37] atomfrede commented on #132
Ah in a few month, all good :heavy_check_mark:

[2019-01-03 05:49] #178 closed

[2019-01-03 07:56] sahbi-ktifa commented on #6
With @pascalgrimaud, we noticed strange behavior with the .editorconfig file brought by the main generator. I'm gonna look into it (alongside prettier full compatibility) before closing this issue.

[2019-01-03 08:55] murdos commented on #132
While I agree that this would be a perfect occasion to improve blueprint system and keep code modular, I see a big issue with turning vuejs as a blueprint: since you can't use multiple blueprints, using vuejs blueprint would prevent the user to use any other blueprint (e.g. kotlin or any enterprise blueprint).

[2019-01-03 08:57] pascalgrimaud commented on #132
you're right @murdos ; for now, we can't use multiple blueprint

[2019-01-03 14:31] pascalgrimaud commented on #76
Something similar to: https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/package.json.ejs#L90

[2019-01-04 10:49] sahbi-ktifa commented on #6
Wait for #197 before closing this one.

[2019-01-04 12:54] sahbi-ktifa commented on #6
Closed due to #197

[2019-01-04 12:54] #6 closed

[2019-01-04 13:05] murdos commented on #132
@pascalgrimaud Sorry, I just saw this message. Yes, allowing overriding the `languages` subgen in blueprint sounds logicial, and I think it has already been requested. Do you plan to do it or should I look at it?

[2019-01-04 13:06] sahbi-ktifa commented on #6
@jhipster/vuejs-developers how do we handle the bounty ? I've done several tasks on this one, is there anyone else involved ?

[2019-01-04 13:09] pascalgrimaud commented on #132
I already have done the generator-jhipster part, but only locally, and started the blueprint generator this morning. I didn't push any code yet.

I'll request your help/review in severals PR as soon as it's finished.

[2019-01-04 13:45] atomfrede commented on #6
As you have done nearly all the work (and took the lead) here I think, there is no question you should claim the bounty :+1:

[2019-01-04 13:48] pascalgrimaud commented on #6
Agree with @atomfrede
You took the lead in this blueprint so it's well deserved

[2019-01-04 14:09] #76 closed

[2019-01-05 09:56] pascalgrimaud opened #200 "Metrics page with Micrometer"
With the hard work by @clement26695, Micrometer is now official in generator-jhipster, after some merges:
- https://github.com/jhipster/generator-jhipster/pull/8812
- https://github.com/jhipster/jhipster/pull/123
- https://github.com/jhipster/ng-jhipster/pull/81
- https://github.com/jhipster/react-jhipster/pull/20

So, the metrics page for Vue.js need to be updated.

[2019-01-05 14:40] clement26695 commented on #200
I can work on that. It should not be too hard, I just need to become a bit more familiar with vue

[2019-01-05 14:49] sahbi-ktifa commented on #200
That would be awesome! Do not hesitate to ping us if you need to!

[2019-01-06 09:15] pascalgrimaud commented on #200
Thanks @clement26695 ! I'm pretty sure you'll love Vue.js ;)

[2019-01-06 10:50] sahbi-ktifa commented on #158
Without metrics support then?

[2019-01-06 10:52] #164 closed

[2019-01-06 10:55] pascalgrimaud commented on #158
I don't think it is a must have, but it's my opinion

[2019-01-06 10:59] sahbi-ktifa commented on #158
Ok, it can wait indeed 😁

[2019-01-06 13:01] hdurix commented on #126
We can now add the WebSocket travis test.
@pascalgrimaud do you want me to have a look or do you want to do it?

[2019-01-07 06:55] pascalgrimaud commented on #126
@hdurix : I can let you have a look so you'll know how it works. Don't hesitate to ping me if you have question

[2019-01-08 09:21] wdick opened #201 "Entity 'Instant' will generate a JS 'Moment'"
##### **Overview of the issue**

Hi, if you have an entity definition (in a JDL file) like:
[code]

The vuejs generator will generate an entity model using 'Moment' instead of 'Date':
<ws>/shared/model/myentity.model.ts:
[code]

I assume, it should be of type 'Date'.

##### **JHipster Version(s)**

JHipster version 5.7.2
JHipster jhipster-vuejs: current master (07. Jan. 2019)

[2019-01-08 10:05] atomfrede commented on #201
You need the current master of the main generator. See https://github.com/jhipster/generator-jhipster/commit/17efde1a21618b0a04bc4fb28d77eb8d8be7cd83

[2019-01-08 10:05] #201 closed

[2019-01-08 11:55] sahbi-ktifa opened #202 "Sonar reports are not working properly"
##### **Overview of the feature request**

Sonar reports are not generated and can't be sent to a SonarQube server.

##### **Motivation for or Use Case**

Getting Sonar compliant reports available.
 Note that dependency jest-sonar-reporter is at least missing.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-01-08 11:57] sahbi-ktifa opened #203 "OAuth2 Support"
##### **Overview of the feature request**

OAuth2 authentication mechanism should be supported as well as JWT and Session.

##### **Motivation for or Use Case**

Having all three authentication mechanisms available.

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-01-08 12:46] sahbi-ktifa commented on #6
Bounty claimed https://opencollective.com/generator-jhipster/expenses/6439

[2019-01-08 14:02] sahbi-ktifa commented on #158
@deepu105 @jdubois Do you plan to do a main generator release soon ? We could do a beta release then of the Vue.js blueprint.

[2019-01-08 14:04] jdubois commented on #158
It's going to be complicated to do one this week. I need a couple of hours to do one, and I'm fully booked at the moment.

[2019-01-08 14:28] sahbi-ktifa opened #204 "JHipster family on home not displayed after production build"
##### **Overview of the issue**

No JHipster family member shows up after building with prod profile.

##### **Reproduce the error**

Build using production profile.

##### **JHipster Version(s)**

Blueprint master branch.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-01-08 19:23] #204 closed

[2019-01-09 06:08] VinodAnandan commented on #203
https://www.npmjs.com/package/vuex-oidc

https://github.com/perarnborg/vuex-oidc/wiki

[2019-01-09 17:46] #202 closed

[2019-01-10 05:48] atomfrede commented on #180
Yes I would say so. Returning nothing in a response it makes sense to return no-content instead of ok

[2019-01-11 14:28] sahbi-ktifa opened #210 "Multiple call to management/info endpoint"
##### **Overview of the issue**

On load, two components (ribbon & Navbar) both call to management/info endpoint. We should refactor this behavior to make only one API call and retrieve through through store for example.

##### **Motivation for or Use Case**

Prevent these two uneeded calls.

##### **Reproduce the error**

Just open your app and check your network panel.

-   [x] Checking this box

[2019-01-11 14:46] sahbi-ktifa opened #211 "Tab title of generated application is fixed to "vueJhipster""
##### **Overview of the issue**

Browser tab name is fixed to "vueJhipster".

##### **Motivation for or Use Case**

Be consistent with generated application name.

##### **Reproduce the error**

Generate any project.

##### **Suggest a Fix**

Use proper name of the generated project.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-01-11 14:51] sahbi-ktifa commented on #211
Thanks @sabrinapayet to spot this, I heard you would like to fix it 😉

[2019-01-12 21:39] #157 closed

[2019-01-13 12:05] atomfrede commented on #177
Going to work on it in the next couple of days.

[2019-01-13 19:16] #185 closed

[2019-01-15 16:09] sahbi-ktifa opened #218 "Maven wrapper build rebuilds front end all the time"
##### **Overview of the issue**

Maven wrapper build rebuilds front end all the time even if the front end has already been built.

##### **Motivation for or Use Case**

Gain building time after front has already been built.

##### **Reproduce the error**

Build front-end and try to use './mvnw'. Front should not build again.

-   [x] Checking this box is mandatory (this is just to show you read e

[2019-01-15 16:10] sahbi-ktifa commented on #218
This should help when using hot reload while typing ```./mvnw compile``` after modifications.

[2019-01-15 16:11] sahbi-ktifa opened #219 "Vue UI does not show dependencies list"
##### **Overview of the issue**

Vue UI does not show dependencies list.

##### **Motivation for or Use Case**

It would be nice if dependencies could be listed within Vue UI.

##### **Reproduce the error**

Generate a project, import it in Vue UI and select 'Dependencies' tab.

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-01-15 16:38] sahbi-ktifa opened #220 "Clean npm test logs output"
##### **Overview of the issue**

Currently, ```npm test```outputs some error regarding unhandled promise rejection.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-01-15 17:08] pascalgrimaud commented on #218
Fixed by https://github.com/jhipster/generator-jhipster/pull/9055

[2019-01-15 17:08] #218 closed

[2019-01-15 18:13] pascalgrimaud commented on #220
I think it is because, in entity tests, we didn't inject the other service, when there is a relationship.
We should handle that

[2019-01-15 20:33] pascalgrimaud opened #221 "Mobile version: menu not clickabled"
The generated application is responsive but we can't click on the menu.

As I'm on phone, I need to check if it is only in prod or dev+prod

[2019-01-16 08:36] richard-francois commented on #210
Hello, i am working on it. I should update soon

[2019-01-16 10:50] atomfrede commented on #203
@jdubois @jhipster/vuejs-developers I think this could be worth a bounty, WDYT?

[2019-01-16 10:52] sahbi-ktifa commented on #203
Yes, it might be eligible. @atomfrede did you start to work on this one ? If not, I'd like to give it try.

[2019-01-16 11:01] atomfrede commented on #203
@sahbi-ktifa No I didn't start, so go ahead!

[2019-01-16 13:20] sahbi-ktifa commented on #221
I believe bootstrap-vue component ```b-navbar-toggle``` is missing.

[2019-01-16 15:22] #200 closed

[2019-01-16 22:05] richard-francois commented on #210
I managed to make just one call to management/info on init, and store the response into the store defined in config.ts.ejs. Now, i must rewrite ribbon.component.spec.ts.ejs

[2019-01-17 07:05] pascalgrimaud commented on #210
Nice @richard-francois !
Don't hesitate to ping us if you need help

[2019-01-17 09:07] #132 closed

[2019-01-17 09:09] sahbi-ktifa commented on #126
This is fixed with https://github.com/jhipster/jhipster-vuejs/pull/217.

[2019-01-17 09:09] #126 closed

[2019-01-17 14:29] sahbi-ktifa opened #223 "Ensure alert service component is properly called using E2E tests"
##### **Overview of the feature request**

When protractors tests were written, there was no alert component. We should update user-managments and entities E2E tests to check for notification validity.

##### **Motivation for or Use Case**

Ensure alert component works properly.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-01-17 14:32] sahbi-ktifa opened #224 "Error when regenerating entities in main.ts"
##### **Overview of the issue**

When regenerating an entity, its service is always injected in main.ts provided scope. We should review our needle injection here.

##### **Motivation for or Use Case**

Front-end do not compile afterwards.

##### **Reproduce the error**

Generate an entity twice.

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-01-17 19:43] sabrinapayet commented on #221
I'm working on it.

[2019-01-17 20:59] richard-francois commented on #210
Hello Guys !
At least it seems to work, IT OK. Thanks a lot to @sahbi-ktifa .
It may be perfectible, but as it seems to work, i do the PR.
CU

[2019-01-17 21:03] richard-francois commented on #210
Next time, can you assign me an issue please ? like that i will be able to see my pictogram near the ticket ! It's very important ;-)

[2019-01-18 08:23] #221 closed, assigned to sabrinapayet

[2019-01-19 20:57] #210 closed

[2019-01-20 11:00] richard-francois commented on #175
Hello, i propose to implement this missing tests :+1:

account/login-modal.service.spec.ts
account/principal.spec.ts

if there is no objection, I will begin to work on it tonight..

[2019-01-20 11:19] sahbi-ktifa commented on #175
Please do not work on principal, as I'm working on it.

[2019-01-20 14:48] richard-francois commented on #175
Ok no problem

[2019-01-21 05:41] yangliuyu commented on #158
Waiting for the beta release 😄

[2019-01-21 07:24] pascalgrimaud opened #228 "Logo: resource size is not correct"
When I go into the application the 1st time, I got this error in console log:

`Error while trying to use the following icon from the Manifest: http://localhost:9000/content/images/jhipster_family_member_3_head-192.png (Resource size is not correct - typo in the Manifest?)`

There is something to do in the manifest file, I think.

##### **JHipster Version(s)**

[code]

##### **JHipster configurati

[2019-01-23 08:04] jiangzhixiao commented on #158
Waiting for the first beta release too!

[2019-01-23 12:07] riy commented on #158
Same here, I've postponed the implementation of a new app solely for the Vue.js blueprint :-)

[2019-01-24 12:09] pascalgrimaud commented on #132
Bounty claimed: https://opencollective.com/generator-jhipster/expenses/6583

[2019-01-25 09:11] sahbi-ktifa opened #232 "Update Spring security default auth form params"
##### **Overview of the feature request**

Following https://github.com/jhipster/generator-jhipster/pull/9114, we have to update auth params.

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-01-25 17:01] pascalgrimaud commented on #158
@atomfrede @sahbi-ktifa : we need to check if it works fine with jhipster 5.8.0, then I think we could do a beta release :)

[2019-01-25 18:37] sahbi-ktifa commented on #158
Totally agreed! 😁

[2019-01-25 20:44] pascalgrimaud opened #237 "CI: migration to Azure"
Vue.js builds failed randomly too frequently. I don't understand why.
I need to check if Azure is better and if it's the case, I will propose to migrate to Azure.

[2019-01-25 20:49] pascalgrimaud commented on #237
We have frequently this same logs, so maybe something related to update password:

[code]

[2019-01-25 22:02] #232 closed

[2019-01-26 15:46] pascalgrimaud opened #238 "Reset password"
The reset password workflow doesn't work:
- in the form, the email is always invalid
- then, the link http://127.0.0.1:8080/#/reset/finish?key=45180041592469282639 doesn't exist

[2019-01-26 15:54] pascalgrimaud commented on #238
I'm trying to have a look.
If someone wants to help, you can use this docker-compose file, to start a local smtp server (I used my own module https://github.com/pascalgrimaud/generator-jhipster-docker)

[code]

[2019-01-26 16:35] pascalgrimaud commented on #238
1st point is fixed, using this diff:

[code]

[2019-01-26 21:56] #211 closed

[2019-01-27 17:08] pascalgrimaud commented on #237
I think I fixed the Protractor tests, so let's close this for now

[2019-01-27 17:08] #237 closed

[2019-01-27 18:12] pascalgrimaud commented on #238
I'm starting to work on this:
- refactoring reset-password to reset-password-init
- add missing reset-password-finish

I'll do similar implementation like in Angular

[2019-01-28 07:50] deepu105 commented on #158
Let me know when ready :)

On Fri, 25 Jan 2019, 7:37 pm Sahbi KTIFA <notifications@github.com wrote:

[2019-01-28 07:54] pascalgrimaud commented on #158
I think https://github.com/jhipster/jhipster-vuejs/issues/238 can wait.

@sahbi-ktifa : what do you think about a release ? It will be in beta state so a release will give us more feedback.

[2019-01-28 07:58] sahbi-ktifa commented on #158
@pascalgrimaud @deepu105 I think we can do this release now. It should give us more feedbacks even though we still have some work to do! But that's what beta are for 😉

[2019-01-28 09:20] deepu105 commented on #158
Ya sure, I'll take care of it. Ill do the release today

On Mon, 28 Jan 2019, 9:28 am Pascal Grimaud <notifications@github.com wrote:

[2019-01-28 09:21] deepu105 commented on #158
Fred, since you own the npm repo you can also do the release if you like.
Just let me know if you prefer to do it, else ill do it

On Mon, 28 Jan 2019, 10:20 am Deepu K Sasidharan <d4udts@gmail.com wrote:

[2019-01-28 16:37] atomfrede commented on #158
@deepu105 If you have time today I would suggest you do it as I don't know when I'll be home at my machine

[2019-01-28 17:49] deepu105 commented on #158
ok

Thanks & Regards,
Deepu

On Mon, Jan 28, 2019 at 5:37 PM Frederik Hahne <notifications@github.com>
wrote:

[2019-01-28 18:57] deepu105 commented on #158
Its done https://twitter.com/deepu105/status/1089959287093411840?s=20

Thanks & Regards,
Deepu

On Mon, Jan 28, 2019 at 6:49 PM Deepu K Sasidharan <d4udts@gmail.com> wrote:

[2019-01-29 10:13] pascalgrimaud opened #244 "Discussion: compatibility with generator-jhipster"
I think we should use a fixed version of generator-jhipster to be sure it is compatible:
https://github.com/jhipster/jhipster-vuejs/blob/master/package.json#L28

If we keep like this, a major change in generator-jhipster can broke this blueprint.

What do you think ?

[2019-01-29 10:15] sahbi-ktifa commented on #244
Yes, I agree, we should only use fixed version.

[2019-01-29 10:17] pascalgrimaud commented on #244
What is nice is: all new PR will test with the master version of generator-jhipster, so we'll be aware when something is broken
For release, let's use a fixed version

[2019-01-29 10:27] pascalgrimaud opened #245 "Update the description of this repo + add tags"
The current description is `[work in progress] VueJS implementation for JHipster`
It would be cool to update to something better and attractive.

Then, we need to add some tags too :)

[2019-01-29 11:28] #245 closed, assigned to deepu105

[2019-01-29 11:43] pascalgrimaud commented on #245
Thanks a lot @deepu105 !

[2019-01-30 11:18] pascalgrimaud opened #251 "[minor] generated banner with new colors"
When generating a Vue.js project, the banner is by default the same for Angular (green + red).
I don't know if it is possible to override this, and use our own banner.txt as it comes from server folder.

Some solutions:
- create a new subgenerator server, but it will be overkilled !
- update the generator-jhipster to include this new banner
- another solution ? something like post-hook ?

[2019-01-30 12:36] #244 closed

[2019-01-30 15:19] pascalgrimaud opened #252 "CSS: improve checkbox"
IMO, the checkbox is really bad... need to be improved :)

![capture d ecran de 2019-01-30 16-16-42](https://user-images.githubusercontent.com/9156882/51991132-c2a2cc00-24aa-11e9-9ba2-940820d991ce.png)

[2019-01-30 15:29] pascalgrimaud opened #253 "Warning on routes"
There are some warning on routes, for BankAccount:

[code]

See my screenshot:
![capture d ecran de 2019-01-30 16-26-34](https://user-images.githubusercontent.com/9156882/51991699-ef0b1800-24ab-11e9-800d-733d60432b72.png)

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{

[2019-01-30 16:04] pascalgrimaud opened #255 "Elements in iteration expect to have 'v-bind:key'"
I use VSCode and I got this warning in code: `Elements in iteration expect to have 'v-bind:key'`
There are a lot of discussion when I google the warning, but I don't have time to investigate right now, so I open a ticket to not forget it.

![capture d ecran de 2019-01-30 17-02-22](https://user-images.githubusercontent.com/9156882/51994393-f2ed6900-24b0-11e9-9096-267e0683681c.png)

##### **JHipster

[2019-01-30 16:06] mraible opened #256 "Add global logout for OIDC authentication"
##### **Overview of the feature request**

Global logout was [recently added](https://github.com/jhipster/generator-jhipster/pull/8757) to the main JHipster project.

##### **Motivation for or Use Case**

It'd be good for the Vue blueprint to have the same features as the main generator.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/pull/8757

-   [x] Checking thi

[2019-01-30 20:43] pascalgrimaud opened #257 "Metrics: mongo return empty databases object"
Following this https://github.com/jhipster/generator-jhipster/pull/9132#issuecomment-459098927

It needs to be fixed for Vue.js too

[2019-01-31 06:39] pascalgrimaud commented on #257
Similar fix to apply: https://github.com/jhipster/generator-jhipster/pull/9136/files

[2019-01-31 09:48] sahbi-ktifa commented on #256
I'll take care of this as it will properly finish oauth2 support. Thanks @mraible for this notification.

[2019-01-31 10:57] #257 closed

[2019-01-31 11:58] deepu105 commented on #251
you can also override the banner directly from the client sub gen as well
by providing the correct paths I guess, it doesn't have to be from server
sub gen, or you can use the common subgen as well

Thanks & Regards,
Deepu

On Wed, Jan 30, 2019 at 12:18 PM Pascal Grimaud <notifications@github.com>
wrote:

[2019-01-31 13:02] pascalgrimaud commented on #251
So, using the common subgen would be the best solution I think.
Let's try this. @sahbi-ktifa is already having a look on this

[2019-01-31 14:06] #251 closed

[2019-01-31 14:10] mraible commented on #256
@pascalgrimaud Yes, I'd be happy too!

[2019-02-01 06:19] #256 closed

[2019-02-01 13:32] sahbi-ktifa commented on #203
Bounty claimed https://opencollective.com/generator-jhipster/expenses/6650

[2019-02-01 20:17] Falydoor opened #265 "The attribute "v-bind:value" is being removed with no i18n"
##### **Overview of the issue**

The attribute `v-bind:value` is being removed when generating an app with no i18n.

##### **Motivation for or Use Case**

I think the attribute `v-bind:value` is required no matter if the application use or use not i18n

##### **Reproduce the error**

Simply generate the entities from the jdl

##### **Related issues**

##### **Suggest a Fix**

The regexp `/(v-text=

[2019-02-04 08:12] hdurix commented on #265
Is it closed by #266?

[2019-02-04 08:15] hdurix commented on #253
Is it closed by #267?

[2019-02-04 08:16] sahbi-ktifa commented on #265
Nope, I think we need to update cleaning regexp when noi18n is selected. Here is the line involved : https://github.com/jhipster/jhipster-vuejs/blob/319a62039ddfd623a7ee7951b82e55d7cc9047ab/generators/utils.js#L106

[2019-02-04 13:40] #255 closed

[2019-02-04 13:51] pascalgrimaud opened #269 "CI: test prod profile"
Our current Travis configuration didn't test `prod` profile !
See https://github.com/jhipster/jhipster-vuejs/blob/master/.travis.yml#L41

We should have several builds to test both: `dev` and `prod`

[2019-02-04 13:54] pascalgrimaud opened #270 "Sub-generator: server"
As this blueprint will grow, it would be interesting to have this subgenerator server, for 2 reasons:
- it can help people to code their own blueprint
- add / remove option in main generator

[2019-02-04 14:06] pascalgrimaud opened #271 "User-management: notification"
It has been done for entities here https://github.com/jhipster/jhipster-vuejs/pull/181 but not for user-management.
I think it would be very easy to do the same for user-management.

[2019-02-04 15:18] Falydoor commented on #253
It does not.

The warning `missing param for named route "BankAccountEdit": Expected "bankAccountId" to be defined` can be fixed by using a `v-if` attribute.

For the warning `Route with name 'BankAccountMySuffixView' does not exist`, should the route's name include the suffix ?

[2019-02-05 11:07] sahbi-ktifa commented on #180
This will be closed when main generator will be fixed using mentionned PR.

[2019-02-05 18:38] #265 closed

[2019-02-06 22:01] pascalgrimaud opened #284 "Application with session as authenticationType can't logout"
When choosing `session` for authenticationType, we can't logout.
https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/templates/vue/src/main/webapp/app/account/account.service.ts.ejs#L31

I think we need to clear the cookie when logout.
That's probably why protractor tests failed in this PR: https://github.com/jhipster/jhipster-vuejs/pull/282

[2019-02-07 09:59] pascalgrimaud opened #285 "Protractor tests: random failures"
Our protractor tests still failed randomly.

See:
- https://travis-ci.com/jhipster/jhipster-vuejs/jobs/175764686
- logs:
[code]

As it is always at the same tests, I suspect there is something to do here.

[2019-02-09 05:20] TonyLuo opened #292 "Any plan to add nuxt.js as an option?"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-02-09 08:25] pascalgrimaud commented on #292
Can you argue why Nuxt.js should be as an option ?
Can you give more details on how it could be done ?

[2019-02-09 09:25] jdubois commented on #292
I'd be happy to work with the Nuxt.js guys, they are French and we should meet sometime.

But I think your question is if the current team is going to do this: there's no plan on anything, it's OSS, things are done when people have time and will to do stuff.

[2019-02-10 19:44] pascalgrimaud opened #294 "Move client app to classpath:/public"
Following this PR https://github.com/jhipster/generator-jhipster/pull/9154, we need to do the same here.

[2019-02-11 08:58] sahbi-ktifa opened #297 "Enable HTML5 mode"
Waiting for this https://github.com/jhipster/generator-jhipster/pull/9098 to get merged before doing it.

It only needs configuration with VueRouter (https://router.vuejs.org/guide/essentials/history-mode.html)

[2019-02-11 20:03] #253 closed

[2019-02-12 18:48] pascalgrimaud opened #301 "Check webpack build"
As discussed, can you check our webpack build, @wmarques ?

[2019-02-12 19:37] pascalgrimaud opened #302 "Metrics : Remove invalid character from uri"
Need to do the same than https://github.com/jhipster/generator-jhipster/pull/9252

[2019-02-14 08:04] sahbi-ktifa opened #305 "Override properly generated readme"
README.md generated still mentions angular-cli, we should update this to ensure consistency. We could replace this paragraph with one talking about vue-cli.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-02-14 09:45] #284 closed

[2019-02-14 09:46] #271 closed

[2019-02-14 10:48] pascalgrimaud opened #306 "Error in console: collapseNavbar is not a function"
Sometimes, when navigating between menu, we got in console of browser:
[code]

Indeed, we have:
https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs#L98

Or with entities:

[code]

But I don't see where `collapseNavbar` is defined

[2019-02-14 12:12] sahbi-ktifa commented on #306
This was a remainder, we could remove this click calls as they literally do nothing.

[2019-02-14 12:43] pascalgrimaud opened #309 "Release v1.0.0.beta.1 / v0.0.5"
With @sahbi-ktifa, we plan to do another release probably tomorrow (or monday), as @Falydoor will need this, for his full-day workshop on Vue.js with JHipster.

@sahbi-ktifa has the permission on NPM repo now to do it.

@deepu105 : I know how to publish a specific version but not a beta version. Plz, can you provide us what you did for the last release, as you publish 2 versions:
- v0.0.4
- v1.0.0

[2019-02-14 13:58] #306 closed

[2019-02-14 14:20] #305 closed

[2019-02-14 14:45] sahbi-ktifa commented on #223
As #271 was merged, we can now ensure alert service is properly called with a notification showing up with entities and user-management.

[2019-02-14 18:59] deepu105 commented on #309
That's easy run the below, the `* v0.0.4` was published by accident so ignore that
[code]

[2019-02-14 19:03] pascalgrimaud commented on #309
thanks a lot @deepu105 ! :-)

[2019-02-15 08:48] #252 closed

[2019-02-15 12:19] richard-francois commented on #175
I propose to go working on tests uppon app/shared/config/formatter.spec.ts

[2019-02-18 12:04] hdurix commented on #220
We don't have those logs in master anymore, thanks to #231 #243 #254 #262 #312.

But we regularly have new errors of this type, when new code is added. We need to check this when contributing, but these errors can be difficult to catch as they appear only as warnings in logs.

2 solutions I see for fixing that in a long term:
- find how to configure Jest (and node) to fail when a promise is unreso

[2019-02-18 12:18] sahbi-ktifa commented on #309
Release 1.0.0-beta.1 done today. Thanks @pascalgrimaud @deepu105

[2019-02-18 12:18] #309 closed

[2019-02-18 19:28] pascalgrimaud commented on #309
@Falydoor : can you test and confirm it works well for your workshop ? If needed, we probably can do a new release. Just ask !

[2019-02-18 20:08] Falydoor commented on #309
Thanks for the release!

The only issue I have right now is that after installing the blueprint globally by running `npm install -g generator-jhipster-vuejs@1.0.0-beta.1`, I have the below error:

![image](https://user-images.githubusercontent.com/2212267/52974244-df863d00-338e-11e9-8e12-576337f9ce6e.png)

It works if I install the blueprint locally with `npm install generator-jhipster-vuejs@1.0.0

[2019-02-18 20:54] pascalgrimaud commented on #309
yes, only if I install globally both:
- generator-jhipster
- generator-jhipster-vuejs

If one of them uses npm link, I need to use npm link generator-jhipster-vuejs

[2019-02-18 22:53] Falydoor commented on #309
I had to run `brew unlink jhipster` because it was overriding the global generator-jhipster.
Thanks!

[2019-02-26 12:06] sahbi-ktifa commented on #270
Is this really relevant?

[2019-02-26 12:08] pascalgrimaud commented on #270
For now, I don't think so.
Let's close this. We can implement it later if needed.

[2019-02-26 12:08] #270 closed

[2019-02-27 07:45] sahbi-ktifa commented on #220
@pascalgrimaud any advice on this one?

[2019-02-27 11:30] pascalgrimaud commented on #220
I don't like the hack with Travis, because it will be different with the user.
I'd prefer to have "find how to configure Jest (and node) to fail when a promise is unresolved"

Let's close this ticket for now as it is solved.
We can improve the result later

[2019-02-28 07:56] sahbi-ktifa commented on #220
I reopen this one as there is clearly still some warnings during CI
<img width="1548" alt="capture d ecran 2019-02-28 a 08 55 49" src="https://user-images.githubusercontent.com/7074827/53550355-ca4fa200-3b36-11e9-96e2-7d8f95aaf1cd.png">

[2019-03-01 12:55] sahbi-ktifa opened #321 "Translation not complete on login modal"
There is no translation :
![image](https://user-images.githubusercontent.com/7074827/53639470-a15c0980-3c29-11e9-9bec-e6a2be02f9a8.png)

[2019-03-02 17:59] pascalgrimaud opened #322 "Entity: edit/view broken (master branch)"
In current master, we can't edit / view entities, as it is empty.
It works well with last release. It is broken with current master.

Something related to these 2 commits:
- https://github.com/jhipster/jhipster-vuejs/commit/22a0107bc2dd1c1573fffec908ca25dc48ac400e
- https://github.com/jhipster/jhipster-vuejs/commit/30f0afe115fa5ec6f1a22cf6b803cafaac6b75ce

[2019-03-04 08:38] sahbi-ktifa opened #323 "Enhance E2E entities tests with details/update support"
##### **Overview of the feature request**

Detail page and update action are not tested through E2E tests. We should ensure this is safe.

[2019-03-19 15:48] sahbi-ktifa opened #327 "Provide a new cli command to create a new component page"
##### **Overview of the feature request**

Provide directly from cli the ability to create a new page, featuring:
* custom routes
* vue component (SFC file + service)
* vue component unit tests
* protractor tests if enabled

##### **Motivation for or Use Case**

It will provide an easy way for the user to start from scracth a new page

-   [x] Checking this box is mandatory (this is just to show y

[2019-03-19 22:32] #321 closed

[2019-03-28 07:32] sahbi-ktifa opened #331 "Add TLS support"
##### **Overview of the feature request**

Add start-tls npm task to enable TLS

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-03-29 17:41] hdurix opened #332 "Fix unit test warning with many-to-many"
##### **Overview of the issue**

In update management spec, when the entity has got a `many-to-many` relationship and is `owner-side`, there is a Jest error:

[code]

##### **Reproduce the error**

It can be reproduce with https://github.com/jhipster/jdl-samples/blob/master/microservices-blog-store.jh#L52-L83.

##### **Suggest a Fix**

In the test, many-to-many should be initialized, like this:

[

[2019-04-01 11:26] pascalgrimaud opened #333 "Sonar properties"
Following this PR https://github.com/jhipster/generator-jhipster/pull/9423 by @avdev4j

As we override the common sub generator, we need to add this new file too.

[2019-04-01 17:29] diegohsi opened #334 "Do you have a forecast for a release?"
I know you guys are really committed to this plugin. But I was still a bit afraid to use this plugin in my projects. I would like to know if there is a date or time estimate to get a final version for us?

[2019-04-01 18:20] pascalgrimaud commented on #334
@diegohsi : you can already use the v1.0.0-beta.1 version. It works with v5.8.2 of generator-jhipster.

Although it's a beta version, I can confirm it works well, as I already coded some POC / personal project with it, so I'm really confident about the quality. No need to wait an official release without beta tag.

We'll probably do a final release with v6 of JHipster but we don't have any date fo

[2019-04-02 07:18] sahbi-ktifa commented on #334
@diegohsi We will do a new release soon but still using beta tag. As @pascalgrimaud said, we wait for main-generator v6 to be released before doing a 1.0.0

[2019-04-02 13:53] #334 closed

[2019-04-02 20:25] #331 closed

[2019-04-03 08:40] sahbi-ktifa opened #337 "Remove bootswatch questions as now main generator has it"
These questions are now handled by the main generator latest version.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-04-03 11:30] #223 closed

[2019-04-03 11:30] #322 closed

[2019-04-03 11:30] #323 closed

[2019-04-03 11:32] pascalgrimaud commented on #337
The question is handled by the sub generator client.
And as we override this sub generator, is it possible ?

[2019-04-03 12:00] sahbi-ktifa commented on #337
Yes :) we will make it possible if this is not already it

[2019-04-04 10:20] #269 closed

[2019-04-04 15:17] sahbi-ktifa opened #338 "Add Jest coverageThreshold global to fail build if quality do not meet requirement"
##### **Overview of the feature request**

Using https://jestjs.io/docs/en/configuration#coveragethreshold-object, add specific threshold to generated project.
We should expect the build and CI to fail if for instance this set up is set and not met:
* statements: 80
* branches: 60
* functions: 70
* lines: 80

##### **Motivation for or Use Case**

Quality of the generated project.

-   [ ] Checking

[2019-04-06 21:22] pascalgrimaud commented on #294
@sahbi-ktifa : just to let you know, I'm starting to work on this

[2019-04-07 07:53] pascalgrimaud opened #342 "CI with Azure"
I'd suggest to use CI with Azure too. It seems to be more stable for Protractor and maybe help to resolve https://github.com/jhipster/jhipster-vuejs/issues/285

As the Lead of Vue.js, what do you think @sahbi-ktifa ?
Are you ok with that ? If yes, I can start the work.

[2019-04-07 12:33] sahbi-ktifa commented on #342
Sure! That would be great!

[2019-04-07 12:34] pascalgrimaud commented on #342
ok, self assigned

[2019-04-09 16:02] sahbi-ktifa commented on #175
Once #339 is merged, I think we are done here !

[2019-04-09 16:04] #338 closed

[2019-04-09 16:46] pascalgrimaud commented on #175
everything is done here, so I'm closing this

[2019-04-09 16:46] #175 closed

[2019-04-09 16:48] pascalgrimaud commented on #175
@sahbi-ktifa : you can claim the bounty, as you did nearly all part

[2019-04-12 17:27] diegohsi opened #344 "Axios com erro na resposta http 400"
I do not know if it is a bug in my computer or if it is a bug.

I'm using Jhipster 5.8.2 with Vuejs plugin. My backend is throwing a badrequest. A is not in the frontend.

In this section

`  public create (entity): Promise <IFirewallClientFileAnalysis> {
    return new Promise <IFirewallClientFileAnalysis> (resolve => {
      axios.post (`$ {baseApiUrl}`, entidade) .then (function (res) {
       

[2019-04-12 19:42] sahbi-ktifa commented on #344
Hi @diegohsi, this seems not related to JHipster directly but you may try to add a catch clause to your create method in the front-end. You should be able to get more information on this bad request.

Furthermore, it might be your copy/paste of code, but your create signature indicates an "entity" parameter, you seem to use "entidade" with axios. That would explain why your backend does not receiv

[2019-04-12 20:25] diegohsi commented on #344
Thank you. But in fact I did a validation on my own. The information arrives, but there is an exception and the juryster frontend problem with the angle of 400 shows a message. I also expected this with VUEjs. What do you want to do is a very simple and simple tutorial for the user? I generated an application with angular and I will test the same way to see the behavior

[2019-04-13 07:47] mhoennig opened #345 "TypeScript Syntax problem in vue template: "invalid expression: Unexpected token ." e.g. for "editForm.controls.customer?.dirty""
##### **Overview of the issue**

After importing my JDL containing two entities with a OneToMany relationship and building the project, I am getting:

`Errors compiling template:

  invalid expression: Unexpected token . in

    !(editForm.controls.customer?.dirty && editForm.controls.customer?.invalid)`

It compiles if I remove the '?' characters, of cause if the variable is null, it leads to an

[2019-04-13 09:20] #342 closed

[2019-04-13 11:50] sahbi-ktifa commented on #344
I'm not sure to fully understand your problem here. I close this one, but do not hesitate to open it up again if you've got more information

[2019-04-13 11:50] #344 closed

[2019-04-13 11:51] sahbi-ktifa commented on #345
Thank you for replying this, I'll look into it asap.

[2019-04-13 12:13] symfu opened #347 "Build faild when use JHipster UAA Server"
##### Build faild when use JHipster UAA Server

[INFO] ERROR in /Users/apple/projects/myapp-v2/myapp-gateway2/src/main/webapp/app/account/account.service.ts
[INFO] ./src/main/webapp/app/account/account.service.ts
[INFO] [tsl] ERROR in /Users/apple/projects/myapp-v2/myapp-gateway2/src/main/webapp/app/account/account.service.ts(12,24)
[INFO]       TS2339: Property 'cookie' does not exist on type 'Ac

[2019-04-13 14:03] mhoennig commented on #345
My guess is, there might be more bugs hidden behind this one.

I've turned the "a?.b" into "a && a.b" and still these expressions, e.g. `<div :hidden="!(editForm.controls.customer` don't work because 'editForm' is undefined. This part seems only to be rendered in the *-update.vue files for entities on the right side of `relationship OneToMany`, thus these components are broken.

[2019-04-13 15:10] pascalgrimaud commented on #347
UAA doesn't work well -> see history for builds: https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/index?definitionId=18&_a=completed
Not sure it works with Vue.js.

[2019-04-13 15:10] pascalgrimaud commented on #347
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-04-13 15:10] #347 closed

[2019-04-13 15:11] pascalgrimaud commented on #344
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-04-13 21:59] pascalgrimaud commented on #285
Some improvements have been done here https://github.com/jhipster/jhipster-vuejs/pull/341
But there are still some work to do here

[2019-04-13 22:09] pascalgrimaud commented on #285
Regularly, there is a random failure at `should delete previously created fake user`

[code]

[2019-04-13 22:10] pascalgrimaud commented on #285
Another random failure, at `should login with admin account`

[code]

[2019-04-15 11:04] mhoennig commented on #345
I was puzzled all the time where this editForm is supposed to come from. It looks like this generated code is identical to the Angular frontend, thus trying to use ngForm features with VueJS, right?

[2019-04-15 11:10] sahbi-ktifa commented on #345
You seems to be right about that, it should not be used here at all. We still have work to do ;)

I should be able to look into it this week. I'll let you know. Thanks for your feedback though!

[2019-04-15 11:27] sahbi-ktifa commented on #175
Bounty claimed here : https://opencollective.com/generator-jhipster/expenses/7640

Guys, I've claimed this one, but as some of you have participated to this issue, let me know, I'll share the bounty!

[2019-04-15 11:40] pascalgrimaud commented on #175
@sahbi-ktifa : share the :beer: !

[2019-04-16 06:50] #294 closed

[2019-04-16 06:50] #180 closed

[2019-04-16 06:50] #302 closed

[2019-04-16 11:53] sahbi-ktifa commented on #345
@mhoennig we were having issues with relationships validation. The PR above fix this!
Thanks for your valuable report!

[2019-04-16 20:14] #345 closed

[2019-04-17 07:30] sahbi-ktifa opened #349 "Update labels on modal since migration JHipster v6"
Some labels changes:
currentpassword --> currentpassword.label
...

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-04-17 16:59] #349 closed

[2019-04-18 14:40] sahbi-ktifa commented on #327
@nonomoho as we discussed it, when this PR https://github.com/jhipster/generator-jhipster/pull/9574 is merged, you should be able to add this feature.

[2019-04-21 18:51] pascalgrimaud commented on #297
Just to not forget. We need to take care about :
- this issue: https://github.com/jhipster/generator-jhipster/pull/9593
- this fix by @ruddell : https://github.com/jhipster/generator-jhipster/pull/9593

[2019-04-25 08:06] pascalgrimaud opened #351 "navbar in production: api docs + database"
When launching a Vue.js application in production, with `prod,swagger` profile, I saw 2 issues:
- the swagger item in Administration menu is not here
- the item `Database` is here, but in production, we don't use H2

You can use the default config:
https://github.com/jhipster/jhipster-vuejs/blob/master/test-integration/samples-vuejs/vuejs-default/.yo-rc.json

[2019-04-25 17:13] pascalgrimaud opened #352 "Use Spring Boot loggers actuator endpoint"
Following this PR by @cbornet : https://github.com/jhipster/generator-jhipster/pull/9620

We need to do the same here.

[2019-04-26 07:54] Senthilkumar-Fullstack commented on #101
It works, great!

[2019-04-26 18:58] pascalgrimaud commented on #228
Fixed by https://github.com/jhipster/generator-jhipster/pull/9609

[2019-04-26 18:58] #228 closed

[2019-04-29 13:00] alvarorodriguezestruch commented on #345
I am still having this issue on versión 1.0.0-beta2... Any suggestion?? :)

[2019-04-29 13:32] sahbi-ktifa commented on #333
As we just add files in the common subgenerator, we inherit from common main generator sonar property files.
Sonar analysis is thus functional.

[2019-04-29 13:32] #333 closed

[2019-04-29 14:08] sahbi-ktifa commented on #345
Hello, yes this is normal, we merged the fix in the current master branch, thus 1.0.0-beta2 do not benefits from it.
We're expecting to release final 6.0.0 soon, I'd release vue.js blueprint 1.0.0 just after that.

To fix your problem, switch to the master branch if you can or wait for a few days with the first 1.0.0 release.

Hope that helps.

[2019-04-29 15:38] alvarorodriguezestruch commented on #345
Yep, I thought so. I will wait until you release new version. Thanks for the fast response and for all your work and sorry for posting on a  closed thread... :)

[2019-04-30 01:48] mraible opened #355 "Install doesn't work + updates for JHipster 6 and OIDC"
##### **Overview of the issue**

I tried the instructions in the README:

[code]

This results in:

[code]

##### **Motivation for or Use Case**

I was hoping to update the URL for OIDC from `/login` to `oauth2/authorization/oidc` so this blueprint is compatible with JHipster 6. This change already exists for Angular and React:

* Angular [`login.service.ts`](https://github.com/jhipster/generator-

[2019-04-30 02:26] ruddell commented on #355
The version on npm is `1.0.0-beta2` (or just use `beta`), found with `npm info generator-jhipster-vuejs`
[code]

[2019-04-30 03:46] mraible commented on #355
@ruddell Thanks for the tip! Even after using the correct version number, when I run:

[code]

It still prompts me for Angular or React. Does the blueprint feature not work when using `npm link` on JHipster's master branch?

[2019-04-30 04:58] atomfrede commented on #355
I think you have to link the blueprint before in your folder.

[2019-04-30 08:56] sahbi-ktifa commented on #345
No problem :)

[2019-04-30 08:57] #355 closed

[2019-05-06 06:32] #337 closed

[2019-05-06 06:33] #351 closed

[2019-05-08 10:40] #297 closed

[2019-05-10 09:57] pascalgrimaud commented on #285
I'm adding a bounty for this issue, as it's very annoying.
We can migrate completely to Azure because of this.

[2019-05-10 13:53] nonomoho commented on #327
Hello @sahbi-ktifa,

I worked a little on this issue. I based myself on your work: https://github.com/jhipster/generator-jhipster-blueprint/pull/32.
So I create `cli/commands.js` and `generators/foo/index.js` files to test it but I still get the same error:
[code]

Can you help me?

[2019-05-10 22:08] pascalgrimaud commented on #352
@sahbi-ktifa : don't forget this ticket, before the release. Otherwise, the metrics page will be broken
I'll try to fix this ticket, this weekend, if I have time

[2019-05-11 06:42] pascalgrimaud opened #363 "Icon: lock instead of clock"
Following this pull request https://github.com/jhipster/generator-jhipster/pull/9719 by @javasparx
The icon needs to be changed here too.

[2019-05-11 21:19] sahbi-ktifa commented on #352
Ok! Let me know, I'll work on this otherwise!

[2019-05-11 21:21] sahbi-ktifa commented on #327
You have to do npm link in the blueprint but within the main generator as well.

[2019-05-12 14:35] Strat1987 opened #365 ".mvnw results in issue on sonar-project.properties"
After using the blueprint and trying to initialize using ./mvnw
I get following BUILD FAILURE exception:

[INFO] --- properties-maven-plugin:1.0.0:read-project-properties (default) @ campusrecruitment ---
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total t

[2019-05-12 21:49] sahbi-ktifa commented on #365
Hi, did you use the latest version of the blueprint or the latest beta tag?

[2019-05-13 06:28] Strat1987 commented on #365
Hi, I believe I've used 1.0.0-beta2, is there anyway for me to check?

[2019-05-13 10:27] sahbi-ktifa commented on #365
It depends how you installed it first. We should do a release soon we tons of fix and also, compatibility with JHipster 6.0.x. This is your problem here, as 1.0.0-beta2 do not work with JHipster 6.

[2019-05-13 12:55] #363 closed

[2019-05-13 16:57] #352 closed

[2019-05-14 09:41] sahbi-ktifa commented on #365
Hi @strat1987, you can now use the latest version.

[2019-05-14 09:41] #365 closed

[2019-05-14 09:51] Strat1987 commented on #365
Hi @sabrinapayet , Thanks for your effort! This issue is now resolved by rerunning

[INFO] BUILD SUCCESS

[2019-05-15 02:48] loverto opened #368 "sonar-project.properties (系统找不到指定的文件。)"
##### **Overview of the issue**

[code]

##### **Motivation for or Use Case**

for gradle

##### **Reproduce the error**

generator vuejs project use gradle

##### **Related issues**

##### **Suggest a Fix**

generator sonar-project.properties to root project dir

##### **JHipster Version(s)**

6.0.1

##### **JHipster configuration**

[code]

##### **Browsers and Operating System**

Win10

[2019-05-15 04:59] atomfrede commented on #368
Are you sure you are using the latest blueprint version?

[2019-05-15 05:28] opensas opened #369 "cannot install jhipster-vuejs"
##### **Overview of the issue**

I cannot create a project using the jhipster-vuejs module

These are the steps I tried:

(also tried with npm with similar result)

[code]

More info

[code]
/home/sas/devel/apps/labs/jhipster-vue
└── (empty)

[code]
[code]

[2019-05-15 07:35] sahbi-ktifa commented on #368
Yes, as @atomfrede said, you are not using the latest release of the blueprint. Could you update it ?

[2019-05-15 07:37] sahbi-ktifa commented on #369
Have you installed the vue.js blueprint ? It seems you did not. Just use:
`npm install -g generator-jhipster-vuejs`

Let us know.

[2019-05-15 08:10] pascalgrimaud commented on #369
I think the blueprint has been installed:

[code]

But maybe there is a conflict between npm and yarn, if you tried both installation.

[2019-05-15 20:37] pascalgrimaud opened #370 "Missing upgrade in master branch"
@sahbi-ktifa : this ticket is for you. Did you forget to push the master branch ? It is still in older version than the version you released.

[2019-05-16 03:04] ury2000 commented on #369
I beat it... !
Just do it in a npm local instalation `npm i generator-jhipster-vuejs`
and then  jhipster --blueprint vuejs
it worked in local installation only .... so very weird

[2019-05-16 08:17] sahbi-ktifa commented on #369
Do you mean that installing globally using npm do not work ? It's weird indeed...

[2019-05-16 08:18] sahbi-ktifa commented on #370
Oops... Forgot it.
I pushed this morning.

[2019-05-16 08:18] #370 closed

[2019-05-21 13:36] JaviVargas commented on #369
Same issue here! I'm using npm installation only.

[2019-05-24 16:30] fil512 commented on #52
I am really suffering from this issue and can't move forward.  @yingw what do you mean when you said you update the latest blueprint?  Is this something I can do to?

Thanks!
Ken

[2019-05-24 16:37] pascalgrimaud commented on #52
@fil512 : can you provide your information about your project, using `jhipster info` and all steps to reproduce ?
Better, you could push a project on github, so we'll be able to try to reproduce.

[2019-05-25 10:43] vinicius91carvalho opened #371 "Application not redirect path /oauth2 to server when using webpack"
##### **Overview of the issue**

When I running the webpack server with command `yarn start` and I logged with Keycloak, the parameter redirect_uri with initial path with '/oauth2' is callled from keycloak to application, no route was found.

##### **Motivation for or Use Case**

When I start a webserver to local develop features, I want to login and redirect me to the application normally.

#####

[2019-05-25 14:17] ruddell commented on #371
In the main generator for HTML5 Mode (https://github.com/jhipster/generator-jhipster/pull/9098), I changed the webpack proxy to `/` instead of a list of routes.  This should fix the above issue.

You can compare the differences - [vuejs webpack.dev.js](https://github.com/jhipster/jhipster-vuejs/blob/77d27c89f4f80958e56ee8af0d00759f05591b1a/generators/client/templates/vue/webpack/webpack.dev.js.ejs

[2019-05-25 18:39] vinicius91carvalho commented on #371
@ruddell Thanks for your answer. [This change](https://github.com/jhipster/generator-jhipster/blob/301e1cc084a35b447602c0bd9dc21f0b83f6cad0/generators/client/templates/angular/webpack/webpack.dev.js.ejs#L40-L42) of all routes aiming to server will works only whether front-end will be running on server in the same port?
For the front-end running on port 9000 and the back-end on port 8080 I think th

[2019-05-27 08:34] pascalgrimaud opened #373 "Localized emails"
Related to https://github.com/jhipster/generator-jhipster/pull/9722
It impacts Vue.js too, so we need to update some code here.

cc @sahbi-ktifa : that's why the current build failed, so all new PRs

[2019-05-28 20:54] hdurix commented on #369
Hi @opensas @ury2000 @JaviVargas. Do you have yeoman installed on your computer?
Check with `npm install -g generator-jhipster`. Yeoman has to be present for blueprints (as opposed to classic JHipster app).

See the correction in the documentation for installing a blueprint : https://github.com/jhipster/jhipster.github.io/pull/742.

[2019-05-29 12:13] nonomoho opened #376 "404 on refresh"
##### **Overview of the issue**

When we refresh a page, we get a 404 error (only on dev mode). To resolve that, changes are required in webpack.dev file.

##### **Reproduce the error**

Press F5 or refresh an administration page for example

##### **Related issues**

Related to:
- https://github.com/jhipster/jhipster-vuejs/issues/297 (issue)
- https://github.com/jhipster/jhipster-vuejs/pull/358 (

[2019-05-29 12:40] sreerajr137 opened #377 "Error while using Keycloak with JHipster 5.8.0"
I created one microservice application using JHipster , with keycloak oAuth2 server. Then trying to signup error is showing
Error occured while trying to proxy to: localhost:9000/oauth2/authorization/oidc

JHipster + keycloak + angular able to sign up and  its working fine, but not working with vue js?

[2019-05-29 13:50] clement26695 opened #379 "Pagination problem when filtering"
##### **Overview of the issue**

Same as jhipster/generator-jhipster#9808.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Take a look at :
https://github.com/clement26695/9808-vue

##### **Related issues**

jhipster/generator-jhipster#9808.

##### **Suggest a Fix**

change v-if condition to a v-hidden in the entity component

##### **JHipster Version(s)**
6.0.1

##### **JHip

[2019-05-29 18:22] ruddell commented on #377
You can copy the solution from https://github.com/jhipster/jhipster-vuejs/pull/378/files, I believe that should work

[2019-05-30 09:33] hdurix commented on #377
If this fix works for you @sreerajr137, it will be fixed by https://github.com/jhipster/jhipster-vuejs/pull/378.

[2019-05-31 07:18] sahbi-ktifa commented on #377
Hum that's many people who encounter that issue. Let's merge this as this is the solution in the main generator.

[2019-05-31 07:19] #376 closed

[2019-05-31 07:19] sahbi-ktifa commented on #377
@sreerajr137 Could you try again please with the fix now provided ?

[2019-05-31 07:22] sahbi-ktifa opened #381 "Update security package vulnerabilities"
- Webpack-bundle-analyzer --> At least 3.3.2
- Axios --> (not yet fixed :'( )

[2019-05-31 07:34] sahbi-ktifa commented on #381
Closed by #382

[2019-05-31 07:34] #381 closed

[2019-05-31 09:53] #373 closed

[2019-05-31 10:56] #371 closed

[2019-05-31 12:56] sahbi-ktifa commented on #377
@sreerajr137 I noticed the JHipster version you mentionned. Latest version of this blueprint uses JHipster 6.0.X, if you'd like to use a prior version, please use blueprint version prior 1.0.0 release (but I can only advise you to use our latest versions^^)

[2019-06-03 06:33] sreerajr137 commented on #377
Its not working with latest version(6.0.2) also...

[2019-06-03 06:57] sahbi-ktifa commented on #377
Are you using the latest blueprint version or the master branch of it? This should be fixed within the master branch? If so, I could do a release soon.

Thank you for your feedbacks

[2019-06-03 07:14] sreerajr137 commented on #377
##### **JHipster Version(s)**
-- generator-jhipster-vuejs@1.0.0
-- generator-jhipster@6.0.1

[2019-06-03 09:05] nonomoho opened #385 "Required relationship validation without DTO option"
##### **Overview of the issue**

When DTO option is not selected during generation, and an entity has got a required relationship to another, the user cannot validate the create/update form as the validation configured for vuelidate is not correct.

##### **Motivation for or Use Case**

The create/update form cannot be posted.

##### **Reproduce the error**

Create a required relationship to anoth

[2019-06-03 14:35] pascalgrimaud commented on #285
I'm still trying to fix this, and I found the problem could come from these codes:
- https://github.com/jhipster/jhipster-vuejs/blob/master/generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity-page-object.ts.ejs#L71-L74
https://github.com/jhipster/jhipster-vuejs/blob/master/generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity-page-object.ts.ejs#L

[2019-06-04 06:46] sahbi-ktifa commented on #377
Ok, so it should be fixed within the next blueprint release. Check #378 for quick fix if you want.

[2019-06-04 06:47] #385 closed

[2019-06-17 07:05] #368 closed

[2019-06-19 18:13] hdurix opened #396 "Async unit test can be wrong"
##### **Overview of the issue**

Async tests are not correctly handled.

For instance, in this test:
[code]
even if `res` does not match to `elemDefault`, the test would pass.

##### **Motivation for or Use Case**

Can lead to false positive unit tests.

##### **Reproduce the error**

Change `expect(res).toMatchObject(elemDefault);` to `expect(res).toMatchObject(undefined);`

##### **Related issue

[2019-06-19 18:35] hdurix commented on #369
Hi @opensas @ury2000 @JaviVargas, do you still experience this issue?

[2019-06-19 19:52] hdurix commented on #220
The failures from your screenshot will be fixed by https://github.com/jhipster/jhipster-vuejs/pull/397/commits/e4ea4278fa4d7fc208337ac0f6b15d4fca72b972.

But I'm still in favor of adding the little hack inside the CI to prevent this :) I've noticed there is still one `UnhandledPromiseRejectionWarning` on something else but I don't have time to investigate right now.

[2019-06-20 00:44] jareds commented on #369
@hdurix I ran into this issue on Windows 10 as well. Installing yo fixed it.

[2019-06-20 08:25] #396 closed

[2019-06-21 03:43] shougao opened #400 "no response after select the application type"
after upgrade hipster from 5.8 to 6.1, i got the issue.
below is the command line display.

ericmac:citicbackend eric$ jhipster --blueprint vuejs
INFO! No custom command found within blueprint: generator-jhipster-vuejs
INFO! Using JHipster version installed globally
INFO! Running default command
INFO! Executing jhipster:app
INFO! Options: blueprint: vuejs, from-cli: true

[2019-06-21 05:19] pascalgrimaud commented on #400
the problem has been reported here: https://github.com/jhipster/generator-jhipster/issues/9952

The fix has been found, and we'll try to do a release soon

[2019-06-21 07:41] clementdessoude opened #401 "Should we add/migrate to Cypress ?"
##### **Overview of the feature request**

Hi all ! As we had some issues with flaky protractor tests, I started to look if Cypress could help, and finished by coding a draft for supporting Cypress.

I don't know how you feel about that: as @deepu105 said, it is already difficult to maintain all of the options of the generator, so adding one seems difficult. So, I'll leave it up to you to decide w

[2019-06-21 13:18] vishal423 commented on #401
+1 as long as we also support protractor. It will allow consumers to choose protractor if they require cross browser testing support. I am also thinking to refactor current suite of protractor tests to align with style guide, but, not sure how much time I can devote to it.

[2019-06-21 14:02] deepu105 commented on #401
I'm against supporting 2 options and I have some reservations when it comes to Cypress(as I mentioned in the other threads

I have used cypress in our company. While I liked many of its features. I have few issues though.

1. I'm not in favor of providing 2 options for e2e
2. The last I checked cypress cant run tests in parallel and it's very slow overall compared to Protractor(Maybe things change

[2019-06-21 14:15] atomfrede commented on #401
It is hard to maintain multiple options, but as vue-cli supports nightwatch and cypress policy 2 might be applicable as protractor was designed for angular if I am not mistaken.

So yes supporting multiple e2e solutions is not great (but right now vue is a blueprint and not in core). When it comes to browser compatibility we might have a look at nightwatch (also I have very good experience with cy

[2019-06-22 05:22] pascalgrimaud commented on #401
- e2e with Protractor+Vue.js were broken for months, that's why it was suggested to try Cypress at our last JHipster day at Ippon -> see https://github.com/jhipster/jhipster-vuejs/issues/285
- I spent night on this, to find a solution but failed
- thanks to @vishal423 who managed to fix the issue, I hope
- I agree, supporting both option is probably impossible, we won't have the bandwidth for that

[2019-06-22 09:16] hdurix commented on #400
I reopen this issue until this is fixed.

 @pascalgrimaud what should be the fix in the blueprint? Only upgrading to latest generator should be enough or do we have to fix the `inquirer` npm transitive dependency?

[2019-06-22 09:17] hdurix commented on #369
Thanks @jareds for your feedback! Then I close the issue.

[2019-06-22 09:17] #369 closed

[2019-06-22 09:55] pascalgrimaud commented on #400
@durix : I think both, but I'm not sure

[2019-06-22 12:33] hdurix commented on #400
I'm not sure we have to do anything on the blueprint.
@shougao can you upgrade to the latest version of generator-jhipster (6.1.1) and retry please?

[code]

[2019-06-23 13:29] ury2000 commented on #369
Hi @hdurix for testing I installed yeoman to use this blueprint and it worked. Thxs

Anyway a few weeks ago I set global npm to install the libraries in $HOME/./npm-global to not use <code> sudo npm install -g generator-jhipster-vuejs </code> cause this issue arose with my sudo installation.  Then it worked too

[2019-06-23 21:31] pascalgrimaud commented on #285
@vishal423 : thanks for your hard work but we still have some issue, so I'm reopening this ticket

[2019-06-24 05:27] vishal423 commented on #285
@pascalgrimaud, I do see an open discussion on migration to cypress #401 and being favored by many folks. If we choose to move ahead with protractor, then, I can spend some time this week to analyze remaining intermittent issues. Let me know how you want to proceed ahead on this.

[2019-06-24 05:30] pascalgrimaud commented on #285
Yes, I'm waiting @sahbi-ktifa for that, we'll discuss about it at JHipster Conf, I think

[2019-06-24 12:00] hdurix commented on #401
Hello, here are my thoughts:
- we should not keep 2 different e2e frameworks, both protractor or cypress because it would be too much work for the core team
- protractor was great for AngularJS and Angular because it is built for and the big advantage is the wait for promises to be resolved
- the code for protractor contains a lot of hack for react and vuejs, for instance:
[code]
and the code behi

[2019-06-25 14:44] fleboulch opened #404 "Refresh an entity page is failing"
##### **Overview of the issue**

When you press F5 on en entity page, you have the following error.
_Note: my client and server are not separated_

![image](https://user-images.githubusercontent.com/9569081/60107806-d3a8ee00-9767-11e9-9c57-db9cc211d017.png)

##### **Motivation for or Use Case**

##### **Reproduce the error**

1. Generate an VUEJS blueprint app
2. Log in as admin or user.
3. Then g

[2019-06-25 15:31] fleboulch opened #405 "Sort a column in an entity is not calling the backend"
##### **Overview of the issue**

For jhipster apps using angular, sorting an entity is doing on server side (https://\<domain>/api/\<entity>?page=0&size=20&sort=\<field>,asc&sort=id)

For jhipster apps using vuejs blueprint this behaviour is only done on the front. So the sort is only relevant for the current page.

##### **Motivation for or Use Case**

Sort should be processed on the whole entity

[2019-06-26 12:49] fleboulch opened #406 "FindAll on entities is called twice"
##### **Overview of the issue**

![image](https://user-images.githubusercontent.com/9569081/60180864-45913e00-9821-11e9-8704-da4c045e54fd.png)
In the chrome console there is two calls for fetching all the data for one entity.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create one entity, then log in and click on this entity (open your chrome console)

##### **Related issu

[2019-06-26 20:13] atomfrede opened #407 "Port version parsing from main generator"
We should port the latest changes from the main generator to vue.js.

* https://github.com/jhipster/generator-jhipster/pull/9986
* https://github.com/jhipster/generator-jhipster/pull/9994

I can do it in the next couple of days.

[2019-06-27 07:39] 62mkv opened #408 "FR: Vuetify.js based version"
##### **Overview of the feature request**

There's a (as some people think) rather cool library called *Vuetify* (https://vuetifyjs.com/en/)

Maybe there's something in having a Vuetify-based version of this Blueprint ? Or should it be separate blueprint ?

##### **Motivation for or Use Case**

I can't say that this is too important for us right now, but we're currently considering migration of ou

[2019-06-27 09:11] atomfrede commented on #408
I think it should be a separate module/blueprint. Adding another ui framework/library would make our templates a lot more complicated and very hard to maintain. I don't see how we should do that.

[2019-06-27 09:41] ivangsa commented on #408
I've made some work for a vuetify blueprint based on this one but almost forgot about it...

it's not complete or up to date but there is plenty of work done
https://github.com/ivangsa/jhipster-vuetify

Typescript code is mostly compatible (with first betas of this blueprint), except for pagination and validation that can be handled with two mixins, and templates have been renamed so pulling back

[2019-06-27 09:46] ivangsa commented on #408
https://github.com/ivangsa/jhipster-vuetify-sample

[2019-06-27 09:48] deepu105 commented on #408
The core team will not be able to support another UI framework. You are welcome to build/maintain a blueprint for that.

[2019-06-27 09:48] #408 closed

[2019-06-28 14:11] antarus opened #409 "Change basehref for traefik"
hello,
I work on traefik part and i don't find how to change the configuration of basehref to configure with traefik.
does the option exist or must it be added on webpack.
Where update the documentation part specific to vue?

[2019-07-02 09:47] clement26695 opened #412 ""No database" option from generator-jhipster is not supported"
##### **Overview of the issue**

The "no database" option from the generator jhipster is not supported.

##### **Motivation for or Use Case**

Be coherent with generator-jhipster

##### **Reproduce the error**

Create an app with no database and no translation

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

App generated with mas

[2019-07-02 09:48] clement26695 commented on #412
I will make a PR to fix this

[2019-07-02 20:06] pascalgrimaud commented on #285
I'm increasing the bounty as it's really annoying since months, and you work so hard to fix this @vishal423
Thanks so much.

Can you wait few days before claiming the bounty plz ?
So we'll be sure Protractor has been improved.

[2019-07-03 09:46] fleboulch opened #414 "[BUG] The admin audits page froze after clicking on the user or status columns"
##### **Overview of the issue**

The admin page froze after clicking on the user (or status) column. The dropdown on entity and admin on the navbar are also stuck.

##### **Motivation for or Use Case**

In the chrome console there is an error (see screenshot below)
![image](https://user-images.githubusercontent.com/9569081/60581584-67417680-9d87-11e9-983d-4527df02756b.png)

##### **Reproduce the e

[2019-07-03 11:54] vishal423 commented on #285
@pascalgrimaud, IMO, we should keep this issue open for a week or two and list down the intermittent issues observed during that time frame. This will help to identify areas that can be improved.

At moment, I see below issues:

1. Remove entity dialog is visible after successful delete operation (fails in after all hook). It also causes subsequent tests to fail.

2. In some cases, tests fail with

[2019-07-04 15:07] fleboulch opened #416 "[BUG] Generated README.md is not synced with the main generator"
##### **Overview of the issue**
The information in the README.md of the vuejs blueprints project are not synced.

[README.md from VUEJS blueprint](https://github.com/jhipster/jhipster-vuejs/blob/master/generators/common/templates/README.md.ejs) vs [README.md from the main generator](https://github.com/jhipster/generator-jhipster/blob/master/generators/common/templates/README.md.ejs)

##### **Motiv

[2019-07-05 08:19] fleboulch commented on #414
I didn't succeed to reproduce my own issue today.. That's really weird (I didn't update anything)...
Is someone able to reproduce it ?

[2019-07-05 08:24] fleboulch commented on #404
@ruddell could you help on that?
I don't know if we have a key on the `.yo-rc.json` file to know if the client and the server are separated or not.

In my app the client and the server are not separated and to fix this I just rollback #388

[2019-07-05 14:47] ruddell commented on #414
I couldn't reproduce but I do see a different error if the dates are the same:
[code]

[2019-07-05 14:47] ruddell commented on #404
I could not reproduce, are you sure you have `historyApiFallback: true` in your `webpack.dev.js`?  If I remove that line I see your issue, but it works fine when it is present.

[2019-07-06 01:10] #409 closed

[2019-07-08 08:09] sahbi-ktifa commented on #301
Webpack build is good for now. Let's close this.

[2019-07-08 08:09] #301 closed

[2019-07-08 08:10] sahbi-ktifa commented on #377
As there is no more updates on this, I close.

[2019-07-08 08:10] #377 closed

[2019-07-08 11:52] antarus opened #419 "Add '/services/' before api in entity"
##### **Overview of the issue**

the path of the apis has been changed to 6.0. it misses `/ services /` to access the service rest.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipste

[2019-07-09 09:39] #412 closed

[2019-07-10 08:56] fleboulch commented on #404
I will re-check on my side and close this issue if it's ok.
Thanks for the quick answer @ruddell

[2019-07-12 09:17] #419 closed

[2019-07-12 09:19] #406 closed

[2019-07-12 11:31] vishal423 commented on #285
I think we can close this issue as e2e tests seems stable at moment.

[2019-07-15 00:58] michaelisvy opened #427 "Documentation - mention that Yeoman is a prerequisite"
##### mention that Yeoman is a prerequisite

Hi,
first of all, thanks a lot for the awesome work on JHipster! We use Vue.js in some of our applications and I was thrilled to see that JHipster has support for that.

I'd like to suggest a tiny improvement. The current documentation does not list `Yeoman` as a prerequisite to run `jhipster --blueprint vuejs`.
I didn't know about it and the error mess

[2019-07-15 16:30] ruddell commented on #427
This should no longer be necessary on the next JHipster release https://github.com/jhipster/generator-jhipster/pull/10004

[2019-07-16 07:18] #416 closed

[2019-07-16 10:53] michaelisvy commented on #427
that's great to know, thanks for the update!

[2019-07-16 11:04] pascalgrimaud commented on #285
Yes, don't forget to claim the bounty @vishal423
Thanks so much

[2019-07-16 11:04] #285 closed

[2019-07-16 12:56] #379 closed

[2019-07-19 19:27] vishal423 commented on #285
Bounty claimed https://opencollective.com/generator-jhipster/expenses/9112

[2019-07-19 19:33] pascalgrimaud commented on #285
Just approuved
Thanks so much for fixing this @vishal423 !

[2019-07-19 19:45] vishal423 commented on #285
thanks @pascalgrimaud I really enjoyed exploring protractor :smile:

[2019-07-19 20:03] jdubois commented on #285
Bounty paid, thanks & congrats!!

[2019-07-19 20:16] #405 closed

[2019-07-25 08:23] #407 closed

[2019-07-25 16:06] pascalgrimaud opened #431 "Sonar analyze: component, update, details not covered"
##### **Overview of the issue**

When launching Sonar Analyze, under Sonar, these files are not covered:
- component.ts
- update.component.ts
- details.component.ts

When we use `npm test`, it seems to be covered

I'll update the template later if needed

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version

[2019-07-25 16:07] pascalgrimaud commented on #431
I'm adding a bounty on this, as it is really important for us, in our current project with @nonomoho
So if someone can help

[2019-07-26 04:48] atomfrede commented on #431
You mean the update and details components for entities, right? For me it looks like they are also not covered when doing npm test, although there is unit test for that.

![image](https://user-images.githubusercontent.com/203401/61926558-4f69a680-af71-11e9-97c0-73e0fcc1e759.png)

[2019-07-26 04:59] pascalgrimaud commented on #431
yes exactly @atomfrede it's for entities

but I remember I saw the same thing yesterday for health too:
- health.service.ts is covered
- health.component.ts not
Both got spec.ts

[2019-07-26 05:06] atomfrede commented on #431
Yes. `.component.ts` are nowhere to find in the coverage reports also there is a spec for that which is executed. Very strange indeed.

[2019-07-26 07:57] vishal423 commented on #431
You can find their coverage under corresponding `.vue` files like `user-management-edit.vue` contains the coverage of `JhiUserManagementEdit`.

[2019-07-26 08:18] vishal423 commented on #431
I think it's related to https://github.com/SonarSource/SonarTS/issues/477

[2019-07-26 08:27] pascalgrimaud commented on #431
Oh thanks @vishal423
We can see @sahbi-ktifa already answered to the ticket lol

[2019-07-31 11:45] pmverma opened #435 "Add MongoDB and Cassandra in travis/azure test automation"
##### **Overview of the feature request**

Add travis/azure tests for `'cassandra', 'mongodb', 'couchbase'`
##### **Motivation for or Use Case**

I am doing a PR at https://github.com/jhipster/jhipster-vuejs/pull/434 and hence would like to have validated against all DBs types.

Was there any issue for these DBs or simply not added yet?
If it is the latter case, I can do a PR.

##### **Related iss

[2019-07-31 12:41] pascalgrimaud commented on #435
Plz, I'd prefer Azure, rather than Travis, as we'll remove the builds with Travis

[2019-07-31 17:01] pmverma commented on #435
Of course, Travis tests should be removed as they are so slow.

[2019-08-01 11:35] Datlyfe opened #438 "fix router params when the relationship is between the same entity"
I think there is a bug when an entity has a relationship to the same entity .
the id param that is passed to the router link `params: {<%= relationshipFieldName %>Id : ...`
should be replaced with `params: {<%= otherEntityStateName %>Id : ....` located in the entity.vue.ejs file otherwise the router will throw missing param for named route "${entity}View" warning.
you can test this by importing th

[2019-08-02 14:29] yuniel-acosta opened #440 "Quasar Framework"
##### **Overview of the feature request**
Be able to generate the app using vuejs together with quasar framework

Give the possibility of generating the app with quasar as an alternative option to boostrap
##### **Motivation for or Use Case**
Quasar framework is a very good option which allows the creation of apps made with vuejs that compile any architecture using electron and cordova. It also ha

[2019-08-05 06:02] #435 closed

[2019-08-07 19:30] atomfrede commented on #440
Hi @yuniel-acosta,

all our frontends are based on bootstrap and maintaining multiple templates depending on the frontend framework is way too much effort as we all do this in our freetime. So sorry there won't be a quasar option.

[2019-08-07 19:30] #440 closed

[2019-08-07 19:33] atomfrede commented on #438
Thanks @Datlyfe for reporting this. As it seems you already have investigated what the problem is and how to resolve it, would you mind creating a PR? If you have any questions on how to do it don't hesitate to ask or comment here, we are happy to help.

[2019-08-08 07:49] Datlyfe commented on #438
@atomfrede Sure, i'll submit a PR as soon as i can.

[2019-08-09 15:37] pascalgrimaud commented on #327
I think it's a very interesting feature.
In fact, I need this on my current project, so I'm putting a bounty on this, as it is a little bit complex and there are a lot of work before achieving this.

[2019-08-10 07:40] pascalgrimaud commented on #220
After thinking about it, I changed my mind about this little hack.
So let's do it

[2019-08-17 15:10] fleboulch commented on #414
I'm closing this issue as I'm not able to reproduce it.
@ruddell I didn't succeed to reproduce your issue with same dates

[2019-08-17 15:10] #414 closed

[2019-08-25 14:09] mrts commented on #369
We just experienced the same problem today. Installing `yo` globally didn't help, we had to install everything locally (`generator-jhipster`, `generator-jshipster-vuejs` and `yo`), then it started working.

[2019-08-29 14:36] mrts opened #447 "Use async functions instead of promises"
##### **Overview of the feature request**

Use async/await instead of promises for more succinct code.

For example, instead of

[code]

do this:

[code]

##### **Motivation for or Use Case**

Quoting [Google Developers async functions primer](https://developers.google.com/web/fundamentals/primers/async-functions):

---

-   [x] Checking this box is mandatory (this is just to show you read everyth

[2019-09-02 10:07] atomfrede commented on #447
Seems like a good idea. Would you mind doing a PR for that? @jhipster/vuejs-developers wdyt?

[2019-09-02 12:45] mrts commented on #447
Possibly - let's see how far I get

[2019-09-06 23:37] fahmimrabti10 opened #448 "problem in jhipster-vuejs installation"
Overview of the issue
When compiling a gateway application with jhipster-vuejs and jhipster 6.2 this was happened

<img width="621" alt="Capture1" src="https://user-images.githubusercontent.com/36500608/64472625-3d2a7d00-d159-11e9-9a15-d3ba48f0a11f.PNG">

i fixed this problem by the change of the version of the jhipster-dependencies from 3.0.5 to 3.0.3 but when i tried to recompile the app this er

[2019-09-06 23:42] fahmimrabti10 commented on #448
i have created gateway application with vuejs in front by using jhipster-vuejs and jhipster 6.2, the application was succefuly generated but when i tried to run it with mvnw this error comes up.

[2019-09-07 00:07] ruddell commented on #448
Can you please fill out the issue template?  Also, could you add the error message that happens from `npm run webpack:build`?  It looks like that is the failing command.

[2019-09-07 22:44] fahmimrabti10 commented on #448
i fixed the problem, but i can't login with admin or user
![Capture2](https://user-images.githubusercontent.com/36500608/64480906-6125a700-d1c9-11e9-8d3b-196b50b6a486.PNG)

[2019-09-08 08:42] gmarziou commented on #448
@fahmimrabti10 this is a different problem. Because you haven't filled the issue template, we have no idea of your configuration and cannot help you. Could you please execute `jhipster info` in your project folder and pasting its output in here?

[2019-09-08 16:12] fahmimrabti10 commented on #448
D:\vue\gateway>jhipster info
INFO! Using JHipster version installed globally
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "pro

[2019-09-08 16:57] gmarziou commented on #448
OK, did you start your uaa server before trying to authenticate on gateway?

[2019-09-08 17:06] fahmimrabti10 commented on #448
yes i did

[2019-09-08 17:12] gmarziou commented on #448
How exactly did you start your gateway?
Have you looked in Chrome dev tools if there was an error in console or network tabs?

[2019-09-08 17:13] fahmimrabti10 commented on #448
![Capture4](https://user-images.githubusercontent.com/36500608/64491794-46544080-d264-11e9-9a68-afe099184885.PNG)

this error comes out when i run npm start

[2019-09-08 17:14] gmarziou commented on #448
It's normal you did not start the java backend

[2019-09-08 17:18] fahmimrabti10 commented on #448
i start the java backend and i still not able to login

[2019-09-08 17:36] gmarziou commented on #448
How did you start it? Any error in browser's console or in shell?
Did you start the registry too?

is this your first JHipster project?

[2019-09-08 17:42] fahmimrabti10 commented on #448
i start both registry and uaa, there is no error in the shell.
yes this is my first jhipster project.

[2019-09-08 17:57] gmarziou commented on #448
Starting with a microservices architecture for your first JHipster project is probably looking for learning the hard way. Why not simply starting with a monolith?

[2019-09-08 18:22] fahmimrabti10 commented on #448
i try a microservices architecture with another gateway genrated with angular and everything goes well, problems come out when i decied to work with vuejs.

[2019-09-08 18:32] gmarziou commented on #448
So far, I haven't seen anything related to Vue in your problems...

[2019-09-08 21:03] ruddell commented on #448
I think the issue here is that the UAA auth type has not been implemented for jhipster-vuejs

[2019-09-09 15:48] fahmimrabti10 commented on #448
should i regenerate the uaa with vuejs?

[2019-09-17 03:53] antonioortizpola opened #450 "Blueprint needs update to 6.3 after CWE-338 disclosed"
##### **Overview of the issue**

We need to be able to update the app to 6.3 ASAP because of a high risk, security vulnerability disclosed in [JHipster Generator](https://github.com/jhipster/generator-jhipster/issues/10401).

##### **Motivation for or Use Case**
I would normally not pressure for an update after just 3 days, but since this is a security update, I think it would help to bring attent

[2019-09-17 04:17] antonioortizpola commented on #447
@mrts have you found time to work on this?

If not, I could take it to work with in the next one or two weeks.

[2019-09-17 06:06] pascalgrimaud commented on #450
Thanks for opening this ticket @antonioortizpola
Vue.js blueprint will generate only the front part. The backend is the one, generated by main generator-jhipster, so here the 6.3.0

Anyway, it would be cool to do a release soon, I'll try to do it soon :-)

[2019-09-17 06:13] pascalgrimaud commented on #447
I don't know Vue.js enough to tell if it's the right way or not.
Cc @sahbi-ktifa @hdurix @nonomoho : I need your opinion here
Maybe @gnuk you can help too ? What do you think

[2019-09-17 06:39] nonomoho commented on #447
I discussed it with @Gnuk:
Both solutions are good but we don't like try/catch so much ...

[2019-09-17 13:44] antonioortizpola commented on #450
The problem is that I think there was more changes in the branch, since yesterday I tried to generate a project with 6.3 but it failed to run, I just notice the changes to the "blueprints" option, so I was wondering if there was more changes.

I will check the errors and check if I there are more information

[2019-09-17 13:48] mrts commented on #447
@antonioortizpola nope, sorry, I don't currently have time. Please go ahead - and good luck :)! Note that you have to use try/catch, try/finally is incomplete.

[2019-09-17 13:50] mrts commented on #447
@nonomoho glad you like this, but can you elaborate why you don't like try/catch?

[2019-09-17 15:06] nonomoho commented on #447
It's juste personal, I think `then` syntax is more understandable!
But it's just my opinion 😉

[2019-09-17 16:34] antonioortizpola commented on #447
Coming from C# await seems way more natural to me, what is the "standard" or the more used way in JS and Vue?

[2019-09-17 17:05] antonioortizpola commented on #450
Ok, I have tried in a new computer with a new environment and everything worked fine, maybe the update broke something in my other PC, so sorry for the premature issue.

The only thing could be for now the update for the readme, so it uses the `blueprints` option instead `blueprint` to avoid a warining

[2019-09-17 17:17] pascalgrimaud commented on #450
no worry, thanks for giving feedbacks
let's keep it opened until the next release, as it is important

[2019-09-25 11:40] atomfrede opened #452 "Update jest junit to be compatible and consistent with the main generator"
Just make sure we use the same junit-jest reporter version and configuration to not interfere with e.g. ci script from the main generator.

https://github.com/jhipster/generator-jhipster/pull/10473

[2019-09-27 21:38] harshajayaweeraXHJ opened #453 "Error Argument of type 'number' is not assignable to parameter of type 'string' in user-management.component.ts"
When running npm start it gives following error

ERROR in /src/main/webapp/app/admin/user-management/user-management.component.ts(98,15) TS2345: Argument of type 'number' is not assignable to parameter of type 'string'.

Issue is code passes integer value to the  userManagementService().remove function while it requires a string and can be fixed by simply converting it to a String like this
`this.

[2019-09-28 07:18] antonioortizpola opened #454 "Language selection is lost after refresh"
##### **Overview of the issue**

If you select a language and then refresh the page, the language is reset to the default one instead of keeping the previously selected.

##### **Motivation for or Use Case**

The language selection should be kept as the user likes, after selection it should not return to the default.

##### **Reproduce the error**

- Create a JHipster project with 2 languages (eng

[2019-09-28 07:28] antonioortizpola opened #455 "jhi-item-count Does not change language"
##### **Overview of the issue**

The `jhi-item-count` component does not change the language after the user select other than the default.

##### **Motivation for or Use Case**

The translation is in the global.json file, so, it should work.

##### **Reproduce the error**

- Create a project with two languages (English and spanish in my case)
- Go to some entity page and change language
- The inte

[2019-09-29 20:43] antonioortizpola opened #456 "Sort icon in tables should indicate if the order applies to the column and the direction"
##### **Overview of the feature request**

I think the UX could improve a lot if we include an indicator of which column is used for the order, and which direction is used (ASC or DESC).

I fixed in my personal project with a little change:

From

`<th v-on:click="changeOrder('enabled')"><span v-text="$t('carwashApp.vehicleColor.enabled')">Enabled</span> <font-awesome-icon icon="sort"></font-aweso

[2019-09-29 20:52] antonioortizpola commented on #455
Ok, after playing a little more, and needing a translation with parameters, I realized that the translate function needs to send the parameters for the placeholders, also I do not know why this particular component uses `v-bind:html` instead of `v-text`, so, I did changed the code from

[code]

To

[code]

If this seems the correct way to do it for you, I can prepare the pull request to fix this d

[2019-09-30 00:22] antonioortizpola commented on #455
I can confirm, all the i18n fields with parameters are generated incorrectly, for example in the entities:

[code]

[2019-09-30 04:35] antonioortizpola opened #457 "Auth token is null in swagger"
##### **Overview of the issue**

The services in the swagger docs can not be tested because there is no bearer.

![DeepinScreenshot_select-area_20190929230922](https://user-images.githubusercontent.com/11655127/65849033-4f3dac80-e30e-11e9-9826-55de38e0f377.png)

##### **Motivation for or Use Case**

The user must have the possibility to test the API from the swagger docs.

##### **Reproduce the er

[2019-09-30 07:03] pascalgrimaud commented on #456
LGTM, yes, you're welcome to contribute !

[2019-09-30 07:03] pascalgrimaud commented on #457
It's surprising, as I'm using Vue.js for my current client and I don't encounter this problem

I need to try to reproduce your issue

[2019-09-30 07:10] pascalgrimaud commented on #455
thanks for reporting this.
I need to find time to have a look

About the replace code for translation, it is here: https://github.com/jhipster/jhipster-vuejs/blob/master/generators/utils.js#L103

[2019-09-30 09:02] clement26695 commented on #457
I managed to reproduce. It comes from the use of Elasticsearch. I'll try to investigate further

[2019-09-30 09:16] clement26695 commented on #457
After a bit more investigation, it appears that it does not work either with Angular when Elasticsearch is enabled

[2019-09-30 09:48] clement26695 commented on #457
Really strange, now I cannot reproduce, don't know what happened...

[2019-09-30 19:26] antonioortizpola commented on #455
I can work in the changes in the week end if you want, seems like a good first issue, I just do not know if  i need to repeat the names

`{ first: first, second: second, total: total }`

Or if there is a more elegant way when the parameters are named as the variables

[2019-09-30 19:26] antonioortizpola commented on #456
Ok,I will work in this during the week in my free time

[2019-09-30 19:32] antonioortizpola commented on #457
I created the project several times, I even removed and reinstalled JHipster and the Vuejs blueprint, but with no luck, could be something with my JDL?

I created my project with

`jhipster --blueprints vuejs import-jdl jhipster-carwash.jdl`

The full JDL is:

[code]

[2019-10-01 06:24] antonioortizpola commented on #456
I made a pull request, but I think master is not working, in local and in the test, there is some error (before I modify anything)

[code]

[2019-10-02 01:34] antonioortizpola opened #461 "Vuejs component propeties can be protected instead of private"
##### **Overview of the feature request**

While I was working on my post with JHipster + VueJS side by side, I realized that the VueJS generator does not generate the components with protected properties.

This was also true for some time for Angular, but after some discussion it was merged

https://github.com/jhipster/generator-jhipster/issues/8839

I open this issue to know if there is a partic

[2019-10-02 04:51] atomfrede commented on #456
I made it working locally by doing `npm ci` on `generator-jhipster` and linking the project against that *again* but not sure why it is not working in ci.

[2019-10-02 04:54] pascalgrimaud commented on #456
the npm link failed because the version is different between the one used by the CI, and the one inside package.json

we need to upgrade generator-jhipster to v6.3.1

[2019-10-02 05:12] atomfrede commented on #456
I thought so. Will try to do it this evening.

On Wed, Oct 2, 2019, 06:54 Pascal Grimaud <notifications@github.com> wrote:

[2019-10-02 08:27] atomfrede commented on #461
For me that sound like a reasonable change helping doing side-by-side approach and customizing the frontend. @deepu105 This also sounds like a good `hacktoberfest` candidate

[2019-10-03 18:19] atomfrede commented on #454
It is the same behavior as we have with angular, so this will be a different from the main generator, but I think it sounds like a good idea to have that.

[2019-10-03 18:48] atomfrede commented on #454
I see multiple solutions here.

1. we must save the current language in the local storage (can be done from within the vuex store)
2. Init the store with the language from the localstorage with defaulting to the apps default language
3. Currently the language us replaced with the language saved in the profile, such that the localstorage is overwritten

So I would suggest to store the language when

[2019-10-06 18:13] atomfrede commented on #454
I have a working prototype up and running. This requires a change in the main generator and we should do the same for angular/react. If we do not put into the main generator we must also overwrite the server generator and replace/update one class.

[2019-10-07 06:36] atomfrede commented on #427
I think we can close this right? The main generator has been released with that change.

[2019-10-07 06:44] pascalgrimaud commented on #427
right, let's close this

[2019-10-07 06:44] #427 closed

[2019-10-07 10:50] levitesm opened #466 "Try-Catch not working as expected"
Hello!

I have a question regarding the code generated by JHipster.
I'm using the Vue.Js blueprint.

In all the services for each entity in frontend JHipster is generating several standard functions which look like this:

_public update(entity: ICompetitors): Promise<ICompetitors> {
  return new Promise<ICompetitors>(resolve => {
    axios.put(`${baseApiUrl}`, entity).then(function(res) {
      re

[2019-10-07 13:58] pascalgrimaud commented on #466
Thanks, I transfered the issue here

[2019-10-07 14:04] atomfrede commented on #466
Just to clarify, the
[code]

is your custom code and *not* generated by jhipster-vuejs, right?  I think the service classes we generate are intended to be used without `async/await` for now. See https://github.com/jhipster/jhipster-vuejs/issues/447

[2019-10-07 14:10] pascalgrimaud commented on #466
@atomfrede : for your information, @hdurix suggested to @levitesm to open a ticket here, as there is maybe a missing part in our service, using Vue.js

[2019-10-07 14:23] atomfrede commented on #466
@pascalgrimaud Good to know, it indeed looks a little bit like we have something missing here.

[2019-10-07 14:29] levitesm commented on #466
try-catch is my code.

But even if I use .then().catch() instead, the catch still will not work.
Async-await is just another version of doing the same.

пн, 7 окт. 2019 г. в 17:23, Frederik Hahne <notifications@github.com>:

[2019-10-10 18:52] clementdessoude opened #469 "CI is broken when the jhipster-vuejs is not aligned on the generator-jhipster version"
##### **Overview of the issue**

CI is broken. All last builds failed on jhipster info with same error
[code]
see: https://dev.azure.com/jhipster/jhipster-vuejs/_build?definitionId=7

##### **Motivation for or Use Case**

Have a reliable CI to be limit bugs introductions

##### **Reproduce the error**

N/A

##### **Related issues**

##### **Suggest a Fix**

I think it is coming from the links, and

[2019-10-11 08:46] clement26695 commented on #469
For the moment, all the builds target the generator-jhipster master branch ? Should me move this to the latest supported generator-jhipster version ?

We could add a branch (e.g. develop) which would target master to integrate some other changes

[2019-10-14 21:33] pascalgrimaud opened #472 "Readonly entity: Vue.js client"
Add the support for read only
similar to https://github.com/jhipster/generator-jhipster/pull/10561

[2019-10-14 21:35] pascalgrimaud opened #473 "MapsId entities"
Current builds are broken because of MapsId:

[code]

[2019-10-14 21:36] pascalgrimaud opened #474 "Continuous Integration : remove Travis and migrate to JDK11"
Several work to do:
- [ ] remove Travis, only keep Azure as it works well
- [ ] move to JDK11

[2019-10-15 05:14] pascalgrimaud commented on #472
I'm working on this

[2019-10-15 06:35] pascalgrimaud opened #475 "Edit entity is broken"
It doesn't load the data, so the edit entity is broken

[2019-10-15 06:44] pascalgrimaud commented on #475
INFO! Using JHipster version installed globally
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageN

[2019-10-15 09:12] nonomoho commented on #475
I propose a PR in few minutes!

[2019-10-15 09:59] #474 closed

[2019-10-15 09:59] #472 closed

[2019-10-15 12:02] pascalgrimaud commented on #473
Related to:
- https://github.com/jhipster/generator-jhipster/pull/9691/files
- https://github.com/jhipster/generator-jhipster/pull/9094/files

[2019-10-15 18:43] hdurix opened #482 "Map all dates from server in HTTP services"
##### **Overview of the feature request**

It would be better to map every dates we receive from the server to Date objects directly in services (between axios and components).

##### **Motivation for or Use Case**

We could use dates as real dates and not sometimes as dates and sometimes as strings.
See for instance how it is handled in an Angular app: https://github.com/jhipster/jhipster-sample-

[2019-10-15 20:00] #475 closed

[2019-10-15 21:33] #473 closed

[2019-10-16 07:05] pascalgrimaud commented on #469
I already discussed about it with @sahbi-ktifa few months ago.
We decided to keep the development as simple as possible, to avoid maintaining 2 branchs as we do with jhipster-registry

So for now, I think we should keep thing simple and only use 1 branch (master), linked to master branch of generator-jhipster

I'll add the upgrade of package.json in the process of release of generator-jhipster

[2019-10-16 07:12] pascalgrimaud commented on #400
closing this, as it has been fixed

[2019-10-16 07:12] #400 closed

[2019-10-16 07:56] kentkwan opened #484 "user-management.component.ts TS2345: Argument of type 'number' is not assignable to parameter of type 'string'."
##### **Overview of the issue**

Comile user-management.component.ts.

Got “TS2345: Argument of type 'number' is not assignable to parameter of type 'string'”.

##### **Motivation for or Use Case**

Compile error.

##### **Reproduce the error**

Use " jhipster --blueprint vuejs " to create project, and then, " jhipster entity demo --blueprint vuejs" .

##### **Related issues**

##### **Suggest a F

[2019-10-16 23:02] Falydoor commented on #484
I was not able to reproduce your issue but instead I had a different one...

Can you try with my branch https://github.com/Falydoor/jhipster-vuejs/tree/fix-websocket-test-without-i18n ?

You will have to follow those instructions https://github.com/jhipster/jhipster-vuejs#running-local-blueprint-version-for-development in order to have my branch working locally.

[2019-10-18 05:29] pascalgrimaud commented on #484
@kentkwan : I think it was fixed since the last release. Can you try the v1.2.0 plz ?

[2019-10-23 13:42] nonomoho opened #491 "Improve Vuex Store"
##### **Overview of the feature request**

All state of our application is contained inside one big object in the `config.ts` file. However, as our application grows in scale, the store can get really bloated.

##### **Motivation for or Use Case**

To help with that, Vuex allows us to divide our store into modules. Each module can contain its own state, mutations, actions, getters, and even nested

[2019-10-30 12:59] #327 closed

[2019-11-12 17:43] #491 closed

[2019-11-12 21:39] atomfrede commented on #450
I think we can close this as 1.2.0 is compatible with 6.4.1 already @pascalgrimaud

[2019-11-12 21:42] antonioortizpola commented on #450
I have some pending updates, I was waiting for the generator to be updated, thanks a lot!

[2019-11-12 21:42] #450 closed

[2019-11-12 21:42] antonioortizpola commented on #450
Sorry, wrong button, but I think is good for this issue to be closed

[2019-11-14 21:07] atomfrede opened #498 "Invalid link between entites"
##### **Overview of the issue**

The link between entities is not correct as the parameter name does not have wrong casing.

##### **Motivation for or Use Case**

The link to the other entity does not work out of box, but it should

![image](https://user-images.githubusercontent.com/203401/68895441-900c4c00-0729-11ea-81a2-ef5b12fe5d6f.png)

##### **Reproduce the error**

Create a default applicati

[2019-11-14 21:19] pascalgrimaud commented on #498
are you sure you're not using jhipster v6.5.0 with problem about lazy ?

[2019-11-14 22:10] atomfrede commented on #498
Yes. The is is there. If I change
[code]
to
[code]
the link is fine. Mind the param name which must be `bookCopyId` but is generated as `bookcopyId`

[2019-11-20 00:04] tuski opened #499 "JHipster is generating different front end code"
##### **Overview of the issue**
I am working on a project for around 2 months. I was using jhipster 6.1.2 and blueprint is jhipster-vuejs 1.1.0. Recently I accidentally updated jhipster to 6.4.5 and then I could not import jdl file. Because generator-jhipster-vuejs blueprint is compatible with jhipster 6.1.2. So I again installed jhipster 6.1.2 and able to import jdl file but jhipster is generatin

[2019-11-24 09:35] atomfrede commented on #499
There is already a stacko erflow discussion  https://stackoverflow.com/q/58895660

[2019-11-24 22:07] weblogichub opened #500 "EmailAlreadyUsedException not translated to client"
Just set same email on two users.
Submit button on form just disabled without any notification.

My config :

{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "org.jtoro",
      "nativeLanguage": "ru"
    },
    "jhipsterVersion": "6.5.1",
    "applicationType": "monolith",
    "baseName": "lib2",
    "packageName": "org.jtoro",
    "packageFolder": "org/jtoro",
    "serverPo

[2019-11-24 22:18] weblogichub opened #501 "Delete alert confirmation is not correctly internationalized"
Delete alert confirmation is not correctly internationalized inside generated entity list vue components. Default value shown but i18n file has another value

![11111111111111111111111](https://user-images.githubusercontent.com/25816222/69502481-97093a80-0f31-11ea-8c3b-0ce5e963f251.png)

[2019-11-24 23:47] pascalgrimaud commented on #501
@weblogichub : can you post the `jhipster info` output plz, so we can know which language you're using

[2019-11-25 12:48] weblogichub commented on #501
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "org.jtoro",
      "nativeLanguage": "ru"
    },
    "jhipsterVersion": "6.5.1",
    "applicationType": "monolith",
    "baseName": "lib2",
    "packageName": "org.jtoro",
    "packageFolder": "org/jtoro",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "cacheProvider": "ehcache",
    "enableHibernateCache": true

[2019-11-25 12:59] weblogichub commented on #501
Generated template contains :

                <p id="jhi-delete-libItemType-heading" v-bind:title="$t('lib2App.libItemType.delete.question')">Are you sure you want to delete this Lib Item Type?</p>

My fixed worked code like this :

                <p id="jhi-delete-libItemType-heading" v-text="$t('lib2App.libItemType.delete.question', {'id': removeId})">Are you sure you want to delete this Lib I

[2019-11-25 13:02] atomfrede commented on #501
Thanks @weblogichub for finding this. The fix looks correct, would you mind doing a PR for that?

[2019-11-29 08:54] #452 closed

[2019-12-02 18:12] #177 closed

[2019-12-02 21:44] atomfrede commented on #404
The issue is fixed. Tried just now with the latest master branch, Will close it.

[2019-12-02 21:44] #404 closed

[2019-12-02 21:45] atomfrede commented on #292
We won't do it anytime soon, so I suggest to close this.

[2019-12-02 21:45] #292 closed

[2019-12-03 12:55] atomfrede opened #507 "Add release drafter"
##### **Overview of the feature request**

I think we should add https://github.com/apps/release-drafter to have better release notes without to much manual effort. With this we would have to categorize issues/prs correctly and have a release notes created automatically as draft we can still edit on the release day. [Here are the config options for github actions which are possible.](https://githu

[2019-12-03 13:28] pascalgrimaud commented on #507
I think it's a good idea, @atomfrede and this project is perfect to give a try
I will install it on this project only and see how it works

[2019-12-10 14:08] hdurix commented on #461
Hi @antonioortizpola, I'm not against the idea but it seems that fields are generated as `public` and not as `private`. Can you give some example where you would like any change like this?

BTW, for me, that's not a big issue that fields are public in Vue.js components because they are not used in other components, as opposed to utility classes for instance. And exposing them are easier to unit te

[2019-12-10 14:13] hdurix commented on #484
Because we are not able to reproduce the problem (it seems this has been fixed), I think that's better to close this issue. Don't hesitate to re-open it if you encounter the bug again.

[2019-12-10 14:13] #484 closed

[2019-12-10 14:25] hdurix commented on #453
Another issue (very close) has been created after yours: https://github.com/jhipster/jhipster-vuejs/issues/484.

I tried to reproduce the problem but this seems to have been fixed since you submitted this issue. I'm closing it, don't hesitate to re-open the ticket if you're still facing this bug.

[2019-12-10 14:25] #453 closed

[2019-12-11 09:03] wortner opened #510 "Unable to activate user - wrong URL"
##### **Overview of the issue**

Just generated jHipster app with Vuejs blueprint. Tried to register user which is working fine. Copied the url from register email shown in logs
http://127.0.0.1:8080/account/activate?key=DLs4RqK5zojMLqTs3Phw
but got 404
the proper url seems to be
http://127.0.0.1:8080/activate?key=DLs4RqK5zojMLqTs3Phw

##### **Motivation for or Use Case**

The user registration is

[2019-12-12 07:11] wortner commented on #510
In regular angular based skeleton, the routing is set to "/account/activate". So the problem is probably in vue's router setup.

[2019-12-12 08:18] atomfrede commented on #510
Thanks @wortner for reporting this. Indeed the route definition is [different](https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/templates/vue/src/main/webapp/app/router/index.ts.ejs#L71) from what we have in angular/react and in the backend. So I would suggest to align the routes with our other frontends.

WDYT @jhipster/vuejs-developers ?

[2019-12-12 08:57] pascalgrimaud commented on #510
+1

[2019-12-12 09:12] deepu105 opened #511 "Use Vuex consistently"
Today the Vuex store is used in some places and plain services with internal state is used in other places. It would be nice to be consistent. Similar to how we use Redux everywhere for state management in React we should use Vuex or Mobx everywhere and get rid of internal state everywhere.

[2019-12-19 18:16] antonioortizpola commented on #461
Sorry, I have been busy because of work and an a small accident, I will check tonight with the plugin updated to the last version

[2019-12-22 16:34] pascalgrimaud opened #516 "Protractor tests in current master"
The protractor tests failed in current master branch.

It needed to be fixed.
I didn't have time to investigate, so I can't provide details here

[2019-12-22 16:35] pascalgrimaud commented on #516
I'm adding a bounty as it is important to be fixed quickly

[2019-12-23 07:09] #516 closed

[2019-12-23 07:43] kaidohallik commented on #516
Bounty claimed: https://opencollective.com/generator-jhipster/expenses/12614

[2019-12-23 07:56] pascalgrimaud commented on #516
just approuved :)

[2019-12-23 08:21] #510 closed

[2019-12-24 05:35] lajostruszek commented on #448
I have the same problem with UAA and vujs
"the UAA auth type has not been implemented for jhipster-vuejs"
Is there any plan for the implementation

[2019-12-27 09:13] hdurix commented on #448
Hi @lajostruszek I don't think there is currently any plan for implementing this feature in this Vue.js blueprint.

[2019-12-27 09:58] hdurix commented on #500
Thanks @weblogichub for the bug report. I just tested and this seems working now:

![image](https://user-images.githubusercontent.com/9678039/71512669-90a31100-2897-11ea-9f6c-e0c81cea4129.png)

Maybe this has been fixed since you created this issue. I'm closing the ticket then.

[2019-12-27 09:58] #500 closed

[2019-12-27 10:48] hdurix commented on #498
Hello @atomfrede, I just tried to reproduce this issue but I was not able to.

Here what I've got:

[code]

I think this has been fixed in https://github.com/jhipster/jhipster-vuejs/pull/488 by @ctamisier.

You opened this ticked after the PR was merged but maybe you were not using the latest master version? I let you close the ticket if you think this has been fixed.

[2019-12-27 11:00] atomfrede commented on #498
Will check it out. Thanks for trying it out.

On Fri, Dec 27, 2019, 11:48 Hippolyte Durix <notifications@github.com>
wrote:

[2019-12-27 13:22] hdurix commented on #457
Hi, I just found the explanation.

That's because you used a custom JHipster prefix (`jhiPrefix bjt` in your JDL) not handled in this blueprint as key for authentication token in the local/session storage but used for Swagger. I'll create the fix. Thanks for reporting this bug!

[2019-12-27 14:49] hdurix opened #519 "Migrate to Swagger UI v3"
##### **Overview of the feature request**

As done recently for Angular and React (https://github.com/jhipster/generator-jhipster/issues/7966), we should migrate to Swagger UI v3.

##### **Motivation for or Use Case**

This is important to be:
- consistent across our front-end frameworks
- up-to-date

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/issues/7966

-   [

[2019-12-28 12:56] #457 closed

[2019-12-28 17:17] #519 closed

[2019-12-28 20:42] atomfrede commented on #498
It works, going to close this

[2019-12-28 20:42] #498 closed

[2020-01-06 17:01] donalmurtagh opened #526 "Upgrade to JHipster 6.6.X"
##### **Upgrade to JHipster 6.6.X**

The latest version of this blueprint (1.3.0) provides compatibility with JHipster 6.5.1, but it's not clear whether there are known issues with using v1.3.0 with the latest version of JHipster (currently 6.6.0).

If there are no known issues and/or the blueprint has been tested with JHipster 6.6.X, then it would be helpful to document this and/or upgrade the [s

[2020-01-06 18:58] pascalgrimaud commented on #526
I just didn't have time to do the upgrade, as all the work is done during our personal time, it's not our day work...

Anyway, the only issue is the CI failed with OAuth2. If you can help to fix it, I can do a release with JHipster v6.6.0
Otherwise, you'll have to wait or use directly master branch.

[2020-01-07 05:53] antonioortizpola commented on #461
@hdurix  The properties inside the update components for example, it could made easier to make JHipster side by side, for example, in a `VehicleColorUpdate.ts` component:

[code]

And almost all injections could be protected instead of private.

[2020-01-07 07:52] antonioortizpola opened #528 "User management edit component translation is not uniform"
##### **Overview of the issue**

The component it is not using translation consistently:

- It has validation messages ready for the inputs, but also has the property `maxlength` in the input, making the message unnecessary.
- The `maxlength` is not very user friendly, since it does not show errors to the user (Someone could be watching their keyboard and not notice how the input ignored the last

[2020-01-07 09:29] petrroda opened #529 "Support for JHipster UAA Server"
##### **Overview of the feature request**

As the UAA Server is a standard component of the JHipster stack and is supported
with Angular and React, it will be time to implement an integration also for VueJS.

[2020-01-07 09:49] pascalgrimaud commented on #529
The support of UAA in main generator-jhipster is not perfect, with a lot of flaky tests.
See https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=18&_a=summary
A lot of failures since more than 1 year.

UAA is maintained by only 1 person, no one want to help in main generator-jhipster.

Sorry, that's the reason why UAA won't be supported in this blueprint.

[2020-01-07 13:54] pascalgrimaud opened #531 "Sonar Analyze"
Current Sonar Analyze for a Vue.js is not so good.
It should be AAA.

I can provide more details if needed.

[2020-01-07 13:54] pascalgrimaud commented on #531
I'm adding a bounty on this as it's important to have it fixed.

[2020-01-07 13:58] pascalgrimaud opened #532 "OAuth2 + MapsId"
Our current CI failed because of that.
See https://dev.azure.com/jhipster/jhipster-vuejs/_build/results?buildId=8488

[2020-01-07 13:58] pascalgrimaud commented on #532
Adding a bounty as it's important to be fixed before the next release !

[2020-01-07 13:58] pascalgrimaud commented on #532
cc @hdurix, as I know you already have a look on this

[2020-01-07 16:11] atomfrede commented on #531
Is this related to the sonar upstream issues? https://github.com/jhipster/jhipster-vuejs/issues/431

[2020-01-07 18:19] pascalgrimaud commented on #531
no @atomfrede, I analyze a Vue.js gateway for my customer and there are a lot of issues and bugs
It's easy to fix them, so it can be an easy ticket for a new contributor.
I was asking to @fdaudies : maybe she'll try to fix them :)
Or another new contributor...

[2020-01-08 08:53] fdaudies commented on #531
Thanks @pascalgrimaud , I'll try to work on this issue as a new contributor :)

[2020-01-08 17:17] hdurix commented on #531
Don't hesitate to ping us @fdaudies :)

[2020-01-14 12:52] hdurix commented on #532
Should be fixed once https://github.com/jhipster/generator-jhipster/issues/11099 is merged and a new release for the generator is done.

[2020-01-14 12:58] pascalgrimaud commented on #532
@hdurix : you pointed an issue, not a PR

[2020-01-14 13:00] hdurix commented on #532
Here is the PR: https://github.com/jhipster/generator-jhipster/pull/11100

[2020-01-16 06:47] #455 closed

[2020-01-17 13:36] pascalgrimaud commented on #532
done, the build is green  so we can close it
thanks @hdurix

[2020-01-17 13:36] #532 closed

[2020-01-17 15:04] hdurix commented on #532
Bounty claimed: https://opencollective.com/generator-jhipster/expenses/13216

[2020-01-29 07:57] yetanothercoder opened #536 "migration to bootstrap-vue icons"
##### **Overview of the feature request**

Recently icons package was added to BootstrapVue: https://bootstrap-vue.js.org/docs/icons - so it can be useful to migrate to them instead of FontAwesome ones.

##### **Motivation for or Use Case**

1. improved a consistency with bootstrap
1. minimized the amount of dependencies and codebase.
1. large amount of totally free icons (no issues with licenses)

[2020-01-29 07:59] atomfrede commented on #536
Thanks for the suggestion, but right now I don't think we will do that as all other frontends still use font awesome.

[2020-01-30 06:51] HJK181 opened #537 "Infinite-scroll pagination not generated"
##### **Overview of the issue**

The pagination option `infinite-scroll` does not have any effect.

##### **Reproduce the error**

First create the application via `jhipster --blueprints vuejs`, than run either `jhipster import-jdl some-entities.jdl` or `jhipster entity Picture`.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root fold