[2020-01-30 07:31] HJK181 commented on #537
Updated to newest `1.4.0` release, with the same outcome.

[2020-02-04 20:30] skmaingi opened #538 "Password Reset Route Issue"
##### **Overview of the issue**

An error is thrown "The page you requested does not exist" when one clicks the url received for password reset.

##### **Motivation for or Use Case**

Users of VueJS web application generated generator-jhipster-vuejs are unable to reset password.

##### **Reproduce the error**

Generate application using generator-jhipster-vuejs with "jhipster --blueprint vuejs" co

[2020-02-04 21:40] pascalgrimaud commented on #538
I think it's the same issue than https://github.com/jhipster/jhipster-vuejs/issues/510
It should be resolved by https://github.com/jhipster/jhipster-vuejs/pull/512 -> look at the diff https://github.com/jhipster/jhipster-vuejs/pull/512/files

Then, can you try the last release of Vue.js: 1.4.0 plz ?
If it's not fixed for you, I'll reopen the ticket.

[2020-02-04 21:40] #538 closed

[2020-02-04 22:08] skmaingi opened #539 "Account Activation Route Issue"
##### **Overview of the issue**

An error is thrown "The page you requested does not exist" when one clicks the url received for account activation.

##### **Motivation for or Use Case**

Generate application using generator-jhipster-vuejs with "jhipster --blueprint vuejs" command.

##### **Reproduce the error**

Generate application using generator-jhipster-vuejs with "jhipster --blueprint vuejs"

[2020-02-04 22:22] pascalgrimaud commented on #539
See my https://github.com/jhipster/jhipster-vuejs/issues/538#issuecomment-582128505
Already fixed in v1.4.0

[2020-02-04 22:22] #539 closed

[2020-02-06 00:24] skmaingi commented on #531
Seems like SonarQube doesn't yet support .vue
The problem being that it support single file components (SFC) i.e. Vue files aggregate in one file logic (javascript or typescript), style (css), and template (html).
https://community.sonarsource.com/t/sonarqube-scanner-fails-to-analyze-vue-files-failed-to-parse-file-vue/17751

[2020-02-06 05:09] pascalgrimaud commented on #531
thanks for your comment @skmaingi and you're right !

but what you're talking about is related to this ticket https://github.com/jhipster/jhipster-vuejs/issues/431 and not to this one :-)

[2020-02-07 02:56] vishal423 commented on #401
With v4.0 cypress [release](https://cypress.io/blog/2020/02/06/introducing-firefox-and-edge-support-in-cypress-4-0/), Firefox and the new Edge browsers are also supported. Maybe it's time to revisit this issue and target in `v7`?

[2020-02-07 04:45] atomfrede commented on #401
👍

[2020-02-08 19:10] pascalgrimaud commented on #526
It's already done, so I'm closing this.
Then, I'm working on the compatibility with v6.7.0

[2020-02-08 19:10] #526 closed

[2020-02-08 19:13] pascalgrimaud opened #541 "CI: migration to GitHub Actions"
It's to be consistent with the main generator-jhipster

[2020-02-09 09:06] #456 closed

[2020-02-09 11:05] #501 closed

[2020-02-09 11:18] pascalgrimaud commented on #448
Closing this ticket and I think the original issue is resolved

[2020-02-09 11:18] #448 closed

[2020-02-09 11:32] pascalgrimaud commented on #469
For now, the best workflow is to upgrade manually the package.json
Not sure we can do better...

[2020-02-09 11:32] #469 closed

[2020-02-09 11:33] pascalgrimaud commented on #499
Everything should be fixed on the last release of Vue.js
Plz give a try and tell us if it still doesn't work
For now, let's close this

[2020-02-09 11:33] #499 closed

[2020-02-09 13:49] #466 closed

[2020-02-09 13:55] pascalgrimaud commented on #537
Confirmed the issue
I wanted to do a new release of Vue.js but this one should be easy to fix, so I postpone the release, so if someone want to fix this ?

[2020-02-09 16:14] pascalgrimaud commented on #537
I'm changing the label as in fact, it's not a bug. It's simply something which was not implemented initialy.

[2020-02-11 13:32] manisi opened #545 "improve Right Align in RTL Languages same as Angular or React"
VueJs:(not correct)
<img width="1379" alt="Screen Shot 2020-02-11 at 16 37 11" src="https://user-images.githubusercontent.com/3120328/74240141-968d6e00-4cee-11ea-8926-28afbe7b9bf7.png">

React :(correct)
<img width="1409" alt="Screen Shot 2020-02-11 at 16 59 25" src="https://user-images.githubusercontent.com/3120328/74240878-123bea80-4cf0-11ea-96b4-727cf642f506.png">

[2020-02-11 13:49] hdurix commented on #528
Thanks @antonioortizpola for this issue. Indeed there were a looooot of small issues both in user management and in entity management. I tried to resolve all in https://github.com/jhipster/jhipster-vuejs/pull/546

[2020-02-12 21:22] DanielFran commented on #401
Support for Firefox and Microsoft Edge has been added: https://github.com/cypress-io/cypress/issues/310

[2020-02-13 06:11] #528 closed

[2020-02-13 13:34] Brouilles commented on #347
Same here.

[2020-02-13 16:46] Brouilles commented on #529
UAA support is still not planned?

[2020-02-13 16:59] pascalgrimaud commented on #529
@Brouilles : sorry, nobody want to contribute for this.. so no, it's not planned.

Plz, understand we do it only during our free and personal time: we are not paid for that. And as it's an option the "Vue.js contributors" don't use a lot, I don't think we'll do it on our side.

[2020-02-14 09:31] aydincaner commented on #24
Same error :(

`jhipster --blueprints vuejs                                                         INFO! No custom commands found within blueprint: generator-jhipster-vuejs                                               INFO! Using JHipster version installed globally                                                                         INFO! Running default command

[2020-02-14 09:33] pascalgrimaud commented on #24
What is the version of generator-jhipster ? What is the version of generator-jhipster-vuejs ?
Then plz, open a new ticket with a maximum information to reproduce.

[2020-02-14 09:48] aydincaner commented on #24
@pascalgrimaud jhipster version v6.7.1
blueprint package json shows: **  "_id": "generator-jhipster-vuejs@1.5.0",**

it is windows 10. I just followed those steps

https://blog.ippon.tech/creating-a-modern-web-app-using-vuejs-and-spring-boot-with-jhipster/

Now i used skipchecks and it seems it worked.

[2020-02-14 10:10] pascalgrimaud commented on #24
@aydincaner : it's because I didn't have time to do a new release of Vue.js blueprint, compatible with generator-jhipster@6.7.1

1st solution:
- downgrade to generator-jhipster@6.7.0, and use generator-jhipster-vuejs@1.5.0

2nd solution:
- use: `jhipster --blueprints vuejs --skip-checks`

3rd solution:
- wait me doing a release. I'll try to do it this weekend, but can't promise...

[2020-02-14 21:58] skmaingi commented on #537
I'm using Vue-infinite-loading plugin.

**Installation**

npm install vue-infinite-loading --save

**Usage**
Insert

[code]

before table closing tag "</table"

**JhiDataUtils method to parse header links to get maximum loading count**

[code]

**Entity component changes**

Changes in entity service _then_ callback function

[code]

Method load next page on scrolling

[code]

[2020-02-14 22:40] skmaingi commented on #537
@pascalgrimaud is the bug-bounty still there? I'm in dire need of funding for my 4 social projects.
1. [mispers](http://mispers.org): Project to find missing persons
2. [mfadhili](http://mfadhili.org): (Swahili: donor) platform to help patients get blood donations
3. [fichua](http://fichua.org): (Swahili: expose) Whistleblowers platform
4. [itracker CE](https://itrackercommunity.herokuapp.com): Pl

[2020-02-15 06:21] pascalgrimaud commented on #537
@skmaingi : yes, the bounty is still there. You seem to know how to fix it, so would you like to contribute ?
Don't hesitate to ask me if you need help

[2020-02-15 15:06] skmaingi commented on #537
@pascalgrimaud yes, I would like to contribute.

[2020-02-15 17:53] skmaingi commented on #537
@pascalgrimaud I need access to commit the code for infinite-scroll feature

[2020-02-15 17:58] pascalgrimaud commented on #537
@skmaingi : for contributing to Open Source project, you need:
- fork this project
- clone your fork locally: `git clone https://github.com/skmaingi/jhipster-vuej`
- go into your fork locally, add upstream: `git remote add upstream https://github.com/jhipster/jhipster-vuej`
- develop the fix
- then, the most important part: `git push origin <your branch>` -> so you'll push to your fork and not to

[2020-02-16 01:41] skmaingi commented on #537
@pascalgrimaud : I have added the new feature.

The v-if directive in _infinite-loading_ component is optional. One can omit it to display the component's template if there is no more data to load.

[2020-02-16 07:58] pascalgrimaud commented on #537
@skmaingi : nice ! waiting your pull request so we can review :)

[2020-02-16 18:49] #541 closed

[2020-02-19 14:40] pascalgrimaud opened #557 "Windows: build failed with jest path"
The fix should be similar to https://github.com/jhipster/generator-jhipster/pull/9592

[2020-02-19 21:36] pascalgrimaud opened #558 "Entity with null date"
##### **Overview of the issue**

When the date is null, the list of entities are not correctly displayed
Reported by @fdaudies

##### **Motivation for or Use Case**

##### **Reproduce the error**

- create an entity with Date
- look at the page which lists the entities

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entit

[2020-02-20 05:22] pascalgrimaud commented on #537
@skmaingi : I'm increasing the bounty as I saw you spent a lot of time to achieve your 1st contribution to the project, so it is well deserved !

[2020-02-20 05:23] #537 closed

[2020-02-20 05:24] #558 closed

[2020-02-20 08:48] skmaingi commented on #537
@pascalgrimaud Thank you so much

[2020-02-20 10:10] #557 closed

[2020-02-20 12:16] tkelley-eg opened #561 "Multiple one-to-one to same entity results in duplicate service declarations in component code"
##### **Overview of the issue**

See error details in reproduction section.  I've included a very simple config to reproduce.

##### **Motivation for or Use Case**

Compile errors are generated during the build.  It's not difficult to just fix the .ts files by hand if there are only a couple, but for larger projects it could be rather tedious.

##### **Reproduce the error**
After generating a vani

[2020-02-20 23:02] aydincaner opened #562 "Vue.js application: Prod build fails"
##### **Overview of the issue**

I used gradle + spring and tried to

`./gradlew -Pprod -Pjar clean bootJar `

and also for **war** but it did not work. It gives

`> Task :webpack FAILED

[2020-02-20 23:02] #562 closed

[2020-02-21 08:35] atomfrede commented on #536
As we will not do it in vue.js alone and are quite happy with fontawesome I think we can close this for now. We can revisit bootstrap icons later if needed.

[2020-02-21 08:35] #536 closed

[2020-02-22 03:37] yuniel-acosta opened #565 "Problems with viewing and editing entities with Yarn"
##### **Overview of the issue**
After updating to the latest version of jhipster and jhipster-vuejs my project stopped allowing entities to be updated.
![Screenshot_20200221_225313](https://user-images.githubusercontent.com/33158051/75086060-d548d280-54fd-11ea-8e81-255026c7edef.png)
![Screenshot_20200221_225411](https://user-images.githubusercontent.com/33158051/75086086-1b9e3180-54fe-11ea-8606-05

[2020-02-22 07:13] pascalgrimaud commented on #565
@yuniel-acosta : can you provide some logs ? browser logs, backend logs etc

[2020-02-22 08:29] pascalgrimaud commented on #565
Just tried and I don't have the problem. Everything works well.
![Capture d’écran de 2020-02-22 09-25-56](https://user-images.githubusercontent.com/9156882/75089105-bece6580-5555-11ea-88a5-93ef19f5d619.png)
![Capture d’écran de 2020-02-22 09-26-02](https://user-images.githubusercontent.com/9156882/75089109-c42bb000-5555-11ea-8cb7-c2cdece50e8c.png)

[2020-02-22 20:30] yuniel-acosta commented on #565
@pascalgrimaud It could be my operating system. I recently reinstalled with the same KDE NEON system and then I started seeing this problem. I am using nvm for node versions (12.16.1 LTS) and this did not happen to me before. Now I notice that all my applications made with vuejs have problems with the vue-router, it seems that I don't notice the route changes, nor does the hot reload work.
Any sug

[2020-02-22 21:23] yuniel-acosta commented on #565
Browser Logs

browser.runtime.sendSyncMessage @ SyncMessage.js:292
DevTools failed to parse SourceMap: chrome-extension://alplpnakfeabeiebipdmaenpmbgknjce/include.preload.js.map
DevTools failed to parse SourceMap: chrome-extension://alplpnakfeabeiebipdmaenpmbgknjce/include.postload.js.map

Server Logs

2020-02-22 16:20:35.695 DEBUG 9874 --- [  XNIO-1 task-1] cu.desoft.cav.aop.logging.LoggingAspect

[2020-02-23 16:33] yuniel-acosta commented on #565
I don't know what the problem is but the routes to edit or view entities don't work well for me. I have reinstalled my PC with KDE NEON (then updated to its latest version 5.18.1) I have installed nvm from scratch with node version 12.16.1 LTS (also probe with 10). Install yarn 1.21 and the project I generate from scratch does not work for me. I am also using zsh. Does anybody have any suggestions

[2020-02-23 17:02] vishal423 commented on #565
@yuniel-acosta, it would be good if you can check the browser `console` and `network` tab logs. From screenshots, it seems that the edit page was not loaded with entity #9 data. It can either be an issue on the Javascript side or an API call and above will help in troubleshooting the issue.

[2020-02-24 17:29] yuniel-acosta commented on #565
@vishal423  This is a video that I record where the problem I have is shown.
[video](https://drive.google.com/open?id=1rCyw_MQe3iYkBV5F-dw3I3uI_f6ePzgS)

[2020-02-25 19:15] yuniel-acosta commented on #565
I've tried in other linux distributions (Deepin) that I have installed on another pc and the same problem happens to me. I have not yet tried on windows any idea that it may be happening.

[2020-02-25 20:51] pascalgrimaud commented on #565
@yuniel-acosta : could you push to GitHub a fresh project with Vue.js blueprint plz ? So I can try and confirm it comes from your environnement

Which browser do you use ? Is there any addons / plugins ?

[2020-02-26 11:43] stonedMoose opened #566 "Create a component for inputs"
##### **Overview of the feature request**

In the generated vue application the inputs look like the following:

[code]
I think that all these inputs induce a lot of code duplication. As Vue is a component oriented framework, I suggest that we could create component to encapsulate the logic of displaying the input.

Something like the following (just an example of what I have done on project I wor

[2020-02-26 14:29] yuniel-acosta commented on #565
Ok this is a project created from scratch. An example where online-shop.jdl is used The project does not capture changes in routes so the beforeRouteEnter (to, from, next) method
It never runs. I just reinstalled my pc now with Manjaro and even so a base project doesn't work for me.
I am using

   yarn v1.21
   java 8 and 11
   OS: Kubuntu, KDE NEON, Manjaro(KDE), Deepin (other pc)
This is just a

[2020-02-26 14:59] pascalgrimaud commented on #565
Ok then, with your project, I got the issue. I think there is an issue with Yarn.
Can you retry generating a project with NPM instead of Yarn plz ?

[2020-02-26 17:45] yuniel-acosta commented on #565
@pascalgrimaud this is the same project but with npm instead of yarn
[Project generated with npm package manager](https://github.com/yuniel-acosta/online-shop-npm)

[2020-02-26 17:56] pascalgrimaud commented on #565
@yuniel-acosta : as I said, I manage to reproduce the issue with your 1st repo. After playing a little bit, it comes from Yarn. I don't have the issue with NPM.

Do you have the issue with NPM too ?

[2020-02-26 21:25] yuniel-acosta commented on #565
With npm it works perfectly

[2020-02-27 15:20] seraphinandrieux commented on #565
After investigating, it seems to be an issue with `beforeRouteEnter` from entity-update.component.ts which is not called when we click on edit. Because of that the method `retrieveEntity()` is never called.

[2020-02-27 15:23] pascalgrimaud commented on #565
strange... so why does it work with NPM and not with Yarn ?

[2020-02-28 14:33] seraphinandrieux commented on #565
I definitely have no idea... I created twice the same app, one with npm and the other one with yarn and the only changes that I noticed between both had not impact...

[2020-02-28 16:13] stonedMoose commented on #565
I found the solution !

It seems to come from how npm and yarn handle dependancies of the node_modules used in the project.

Let me explain:
In the **index.ts** where we register hooks on component we do it on `Component` provided by `vue-class-component`. In the vue components we annotate the class with `@Component` provided by `vue-property-decorator` .

Once I noticed that, I took a look at the

[2020-02-28 16:32] seraphinandrieux commented on #565
hi @stonedMoose  I found also the solution I already create a branch (https://github.com/seraphinandrieux/jhipster-vuejs/tree/565-fix-editing-entities) which is ready to merge.
I didn't mention, sot I can let you do it, my bad.

[2020-02-28 16:35] pascalgrimaud commented on #565
@stonedMoose : nice catch about dependencies issues. Indeed, we could do the fix with resolution like we did with React (see https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/react/package.json.ejs#L180-L183)

But if the upgrade of libraries is enough (https://github.com/seraphinandrieux/jhipster-vuejs/commit/0a6a50e870892fed6bb7e530eb080962f4b9ebd7), it will b

[2020-02-28 16:51] stonedMoose commented on #565
@pascalgrimaud : Upgrading the dependancies might be a better solution indeed.

@seraphinandrieux: did the upgrading fixed the issue because these package are intrinsically better written ? or is it because with the upgrade `vue-property-decorator` depends on the same version of `vue-class-component` ?

My concern, is that next time we upgrade one of these libraries, we do not check that the versi

[2020-02-28 17:03] stonedMoose commented on #565
There is something else that this issue enlighten: we do not have any test to check that our beforeRouteEnter are triggered. And it might be an issue.

If we did have that kind of test, the upgrade of dependencies could be the answer.

Doing a quick search it's does not seem easy to test that, it might the reason why they do not exist.

I'll dig further this weekend

[2020-02-28 17:03] pascalgrimaud commented on #565
As we already migrate to GitHub Actions -> we need to add a new build using Yarn too

[2020-02-28 17:06] stonedMoose commented on #565
Sure we do ! But it could not be enough. Maybe e2e will grab the issue but I'm not sure of that

[2020-02-28 17:25] pascalgrimaud commented on #565
the e2e for Yarn will not be enough, what you suggested is better, so let's do both !
Can you open a new ticket to track these missing tests plz ?

[2020-02-28 21:05] stonedMoose opened #567 "Add test to check that beforeRouteEnter hooks are called in entity update components"
##### **Overview of the issue**

In update entity components the entity being updated is fetched by using `beforeRouteEnter` hook.
There is no test to check that, while it should be.

The goal here is to ensure that a call to the service is made when a user navigate to an update component. And that this call do update the underlying entity of the component.

##### **Motivation for or Use Case**

I

[2020-02-29 03:40] kevinbwusa opened #568 "Add filtering query method to Vue client-code entity services."
##### **Overview of the feature request**

Allow Vue front-end client services to use query parameters like Angular does.

##### **Motivation for or Use Case**

This feature is important to me because I need a light-weight entity filtering capability that is available to front-end Vue clients and I don't want to use Elastic Search.

##### **Related issues or PR**

N/A

-   [ ] Checking this box is

[2020-03-01 10:38] stonedMoose commented on #568
Hi @kevinbwusa, what you suggest could be a good idea.

I took a look on the solution you implemented, and I have some suggestion:
* you should type the **queryParams** of your `buildQueryParams`method. This way you can get rid of the Array type check.
* Instead of using the for loop over the params, I think you could simply do it like this:
[code]
* I'm not convinced that the test you suggest tes

[2020-03-01 11:27] stonedMoose commented on #567
I think the problem here can be split in two:

* The first test should be to check that the router configuration allows the registered hooks to be triggered on navigation event. I'm not sure that it could be done with unit testing of one component in isolation of other components. Reading [the vue router test cookbook](https://lmiller1990.github.io/vue-testing-handbook/vue-router.html#creating-the

[2020-03-02 07:39] stonedMoose commented on #431
In a project I'm working on we use only `.vue` files without distinct `.component.ts` files. And our sonar analysis has the correct coverage information.

Could we consider to use only `.vue` files to fix this issue ?

[2020-03-02 07:53] pascalgrimaud commented on #431
Using only `.vue` file for fixing this Sonar Analyze is not a good idea.
We split into TS file, to be consistent with Angular part, and it will probably help to migrate to Vue 3.

There is already an opened ticket for that: https://jira.sonarsource.com/browse/MMF-1441
So the real issue is on their side.

[2020-03-02 08:57] #565 closed

[2020-03-02 10:51] seraphinandrieux commented on #565
Bounty claimed : https://opencollective.com/generator-jhipster/expenses/14318  :)

[2020-03-08 16:06] pascalgrimaud commented on #507
Just to let you know I'm trying to use this for the next release of jhipster-vuejs

[2020-03-08 18:41] pascalgrimaud opened #574 "Upgrade to generator-jhipster@6.8.0"
I already start the PR: https://github.com/jhipster/jhipster-vuejs/pull/572 but it's not enough

Some todo:
- upgrade yeoman dependencies to match with the ones from generator-jhipster
- upgrade to actions/checkout v2
- upgrade to eslint, as there are some lint errors in the CI

[2020-03-09 09:49] pascalgrimaud commented on #507
Here a first draft: https://github.com/jhipster/jhipster-vuejs/releases

[2020-03-09 10:26] pascalgrimaud opened #575 "Embedded entities for document databases (Couchbase, MongoDB)"
Following https://github.com/jhipster/generator-jhipster/pull/11239 by @tchlyah, the Vue.js blueprint needs to be updated too.

[2020-03-09 10:49] atomfrede commented on #507
Looks good for nearly unconfigured. Personally I like what [testcontainers](https://github.com/testcontainers/testcontainers-java/releases) are doing with [tagging](https://github.com/testcontainers/testcontainers-java/blob/master/.github/release-drafter.yml) MRs to differentiate the changes a little more.

I think at least for features and bugfixes we can do that too.

[2020-03-09 16:09] geyuqiu commented on #401
made a list of [pros and cons](https://github.com/jhipster/generator-jhipster/issues/11406)

[2020-03-10 06:28] #574 closed

[2020-03-10 06:30] pascalgrimaud commented on #567
I think this ticket will help for the upgrade to generator-jhipster 6.8.0

[2020-03-11 07:18] #575 closed

[2020-03-12 14:34] pascalgrimaud commented on #567
Testing beforeRouteEnter should be easy.
If I remember well, we did it on our current project with @nonomoho -> can you confirm ?

So I should be able to take care of this, unless you want to lead this part @stonedMoose : just tell me :-)

[2020-03-14 20:31] Brouilles commented on #529
Hi @pascalgrimaud
Thanks for your answer. Its seems you know very well the project.
I'm interested by this feature. Where should I start to work on integrating this functionality? Do you consider this a complex task?

Thanks!

[2020-03-14 22:55] pascalgrimaud commented on #529
@Brouilles : as you would like to contribute, then I reopen the issue.
You can start to look at the main https://github.com/jhipster/generator-jhipster specially at the client files, to search where UAA is concerned.
I think the main part is related to authentication, so you should look at there, first.

Then, you should generate a sample project with Vue.js, try to apply the correct modification

[2020-03-15 12:18] Brouilles commented on #448
@fahmimrabti10 How have you fix this error `Cannot find name 'loginService'.`?
Thanks.

[2020-03-15 20:09] pascalgrimaud commented on #507
A 1st version is done, it can probably be improved but for now, I'm very happy with this.
Thanks @atomfrede

[2020-03-15 20:09] #507 closed

[2020-03-16 05:52] atomfrede commented on #507
Nice, like it!

[2020-03-16 14:46] Brouilles commented on #529
See https://github.com/jhipster/jhipster-vuejs/pull/580

[2020-03-18 06:22] mac8088 opened #581 "Using JHipster blueprints vuejs to generate the µ-services gateway, I got the error when run mvnw command."
##### **Overview of the issue**

Dear JH-VUE developers:

Using JHipster blueprints vuejs to generate the µ-services gateway, I got the error when run mvnw command.

##### **Motivation for or Use Case**

I am building some µ-services projects that following the online JHipster documentation. Now I can build the gateway successfully with the step by step questions.

##### **Reproduce the error**

B

[2020-03-18 06:28] mac8088 commented on #581
This issue occur when I configured the authenticationType is **"uaa"** only.

[2020-03-18 07:50] pascalgrimaud commented on #581
It's normal as UAA is not supported yet.
We already have a ticket for that ->  https://github.com/jhipster/jhipster-vuejs/issues/529
And there is a PR by @Brouilles -> https://github.com/jhipster/jhipster-vuejs/pull/580

So it will be supported soon.
That's why I'm closing this as it's a duplicated ticket

[2020-03-18 07:50] #581 closed

[2020-03-18 07:55] mac8088 commented on #529
@pascalgrimaud
kindly ask the problem for the UAA support,  when will you deliver the next release?

[2020-03-18 07:58] pascalgrimaud commented on #529
@mac8088 : there is no ETA, as it's an Open Source project and we work on this during our personal time, we're not paid for that :)
But as soon as UAA is reviewed, tested and merged, there should not be a problem. I think I can do a release.
So your help is welcome to test the PR

[2020-03-19 08:31] mac8088 commented on #529
@pascalgrimaud

Thanks for your answer. The test of this PR is KO when I try to generate the new UAA project.

I checked out the @Brouilles  GIT Reps and made the code comparison, he added some logic checking for authenticationType !== 'uaa' or authenticationType === 'uaa' in 12 ejs template files.

My project generation was failed when I used the local Blueprint version for development (generator

[2020-03-19 09:57] arikardnoir opened #582 "Your request cannot be processed"
My JHipster project is Springboot with Maven + VueJs

When i only run the frontend part with vue js (using 'npm run serve'), the project runs well.. The route works fine, in this case i access the project in port 9000

But when i run the server-side and try to access http://localhost:8080/ i can access all frontend part of project, but when i refresh my page I get an error screen :

"Your request

[2020-03-19 14:43] #582 closed

[2020-03-19 14:43] arikardnoir commented on #582
I solved this.

[2020-03-22 16:48] fleboulch opened #585 "Language json files HTTP caching strategy"
##### **Overview of the issue**

Language json files are cached in the browser for perfomance purpose. When I release a new version of my application (updating only wording in json files) and I pubished it, the new wording is not displayed because of cache. The user needs to do CTRL + SHIT + R for refreshing json resources (or even use anonymous mode).
##### **Motivation for or Use Case**

I check

[2020-03-22 18:01] pascalgrimaud commented on #585
I confirm the issue and it's very annoying
I'm putting a bounty on this as it must be fixed.

Maybe @wmarques you can help ?

[2020-03-22 18:03] pascalgrimaud commented on #585
Sometimes, `CTRL + SHIFT + R` is not enough... it only works in private navigator

[2020-03-22 18:23] wmarques commented on #585
I agree that we should add a hash on those files' names.
The other solution might be to serve the *.json files with no-cache headers so that they are never cached by the browser

[2020-03-22 18:47] fleboulch commented on #585
@wmarques
The second option should be easy to implement but performances should be impacted.
I don't understand in Angular apps how we tell to webpack to add a hash on json resources.. I don't find how the BUILD_TIMESTAMP constante is added as key

[2020-03-22 19:08] pascalgrimaud commented on #585
Maybe it has never be done like we did with Angular

[2020-03-22 19:10] jdubois commented on #585
Long time ago, the first versions of JHipster did not cache those files... So 2 choices: either you don’t cache them, or put a hash with Webpack (better option, but more complex)

[2020-03-22 22:22] fleboulch commented on #585
The solution to not cache json files is not good. Indeed, it requires to update the Spring Boot configuration. So the behaviour between Angular/React/VueJS won't be aligned and if VueJS is merged in the main generator (I don't know if this work is in progress or cancelled) it will be a regression...

The best solution is to cache this files by putting a hash with Webpack. I will try some stuff but

[2020-03-23 03:44] vishal423 commented on #585
I think you are looking out for [this](https://github.com/jhipster/ng-jhipster/blob/d8f9386c135b20aa5e3b415e91f0dcf34dddaa4d/src/ng-jhipster.module.ts#L33) reference

[2020-03-23 08:50] fleboulch commented on #585
Thanks @vishal423. I didn't check into ng-jhipster dependency.
So it's not a webpack problem. I will further investigate and try to find a solution

[2020-03-29 11:23] #585 closed

[2020-03-29 11:36] pascalgrimaud commented on #529
@mac8088 : just close the other PR as it doesn't work.
Sorry for that but if you want to use UAA, you have to code it on your side as the support in Vue.js can't be done if no one want to contribute.

I'm removing the bounty but if someone wants to give a try, feel free to tell it, I can put it back.
For now, let's close this.

[2020-03-29 11:36] #529 closed

[2020-03-30 07:29] pascalgrimaud opened #587 "Refresh same page: forbidden quick redirect"
##### **Overview of the issue**

When refreshing a page, `forbidden` page appears (http://localhost:8080/forbidden), then we're redirected to the appropriated page.
So there is a glitch which is not cool.

##### **Motivation for or Use Case**

##### **Reproduce the error**

refresh several time the same page once you're logged into the app

##### **Related issues**

##### **Suggest a Fix**

#####

[2020-04-06 07:15] artem-korolev opened #591 "Pages are blinking in browser. Leaves artifacts"
##### **Overview of the issue**

In frontend. Whenever I refresh a page in browser. It blinks very fast. But I can see messages like "error 403", "you are not logged in", then it shows Login form, and after that it already shows the actual page. And what is most problematic - it leaves artifacts after that. For example, this browser username popup box from login form - https://imgur.com/gdZ22hC

A

[2020-04-06 07:42] pascalgrimaud commented on #591
@artem-korolev : similar to https://github.com/jhipster/jhipster-vuejs/issues/587 ?

[2020-04-06 07:43] pascalgrimaud commented on #587
adding a bounty on this, as it's a bug and it is very important to be fixed

[2020-04-06 08:02] artem-korolev commented on #591
@pascalgrimaud , yes. it is exactly same. Its only that I provided a bit more info. Don't how much sense it makes. In general it is same issue. Only that on Home page there is no "403, but there another page appears. Root cause of the issue is maybe the same.

[2020-04-11 18:27] #587 closed

[2020-04-11 18:28] pascalgrimaud commented on #591
Fixed by https://github.com/jhipster/jhipster-vuejs/pull/590

[2020-04-11 18:28] #591 closed

[2020-04-11 18:34] qmonmert commented on #587
@pascalgrimaud I claim my money 😄 https://opencollective.com/generator-jhipster/expenses/15676

[2020-04-11 18:43] pascalgrimaud commented on #587
@qmonmert : approved

[2020-04-11 18:44] qmonmert commented on #587
@pascalgrimaud merci :)

[2020-04-28 07:55] pascalgrimaud opened #596 "Entity page: default order should be asc"
When you go to entity page, the entities is ordered by id + desc (reverse).
But the default value is set to `false`
See this https://github.com/jhipster/jhipster-vuejs/blob/master/generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.component.ts.ejs#L25

It's related to this [line of code](https://github.com/jhipster/jhipster-vuejs/blob/master/generators/entity-client/templat

[2020-04-28 17:54] ghost opened #597 "Migrate from tslint to eslint"
##### **Overview of the feature request**

Migrate linting from tslint to eslint for typescript.

##### **Motivation for or Use Case**

tslint is deprecated and eslint is recommended in its place.

##### **Related issues or PR**

-   [X] Checking this box is mandatory (this is just to show you read everything)

[2020-04-28 19:13] pascalgrimaud commented on #597
it will be interesting to have, and be consistent with the main generator-jhipster
- https://www.jhipster.tech/2019/09/13/jhipster-release-6.3.0.html
- https://github.com/jhipster/generator-jhipster/pull/10187
- https://github.com/jhipster/generator-jhipster/pull/10213

To be honest, it's a lot of work.
@hermitmaster : unless you want to do it, it won't be done, as we don't have enough contributor

[2020-04-29 19:11] geyuqiu opened #598 "acorn and lazy loading Errors during `npm run webpack:build`"
##### **Overview of the issue**

cannot find module 'acorn'

---

cannot find loader on line 10 in router/index.ts:
`const Home = () => import('../core/home/home.vue');`

##### **Motivation for or Use Case**

##### **Reproduce the error**

`jhipster --blueprint vuejs`
`mvn`

##### **Related issues**

##### **Suggest a Fix**

What made the problems disappear:

npm i --save-dev acorn

change lazy lo

[2020-04-29 19:47] geyuqiu commented on #567
I get the impression that
currently `beforeRouteEnter` is not called: [reproduction see here](https://github.com/jhipster/jhipster-vuejs/issues/598)

neither in [entityName-]details.component.ts nor in [entityName-]update.component.ts

result in empty value fields

more information:

jdl

[code]

<img width="1040" alt="Bildschirmfoto 2020-04-29 um 21 45 49" src="https://user-images.githubuserconte

[2020-04-30 15:05] monxxi opened #599 "Move the css hash stamped generated files to content directory when using prod profile"
##### **Overview of the issue**
Based on the issue jhipster/generator-jhipster#11575 and the discussion in the PR related.

We noticed a difference between the client VueJs  and the others (angular & React) concerning the locations of files css stamped with a hash.

With the VueJs Client: _**app.[hash].css, global.[hash].css and main.[hash].css**_ are present at the root of target/classes/static

[2020-04-30 15:19] pascalgrimaud commented on #599
can you take care of this ticket too @monxxi plz ?

[2020-04-30 16:58] monxxi commented on #599
yes i can

[2020-05-02 20:33] mraible opened #600 "Update Vue dependencies to latest versions"
Update Vue dependencies to use the latest versions.

If I run `ncu` (from [npm-check-updates](https://www.npmjs.com/package/npm-check-updates)) on an app created from v1.7.0, it shows quite a few dependencies that are out of date.

[code]

To test if this is an easy update, I ran the following:

[code]

This fails:

[code]

[2020-05-02 20:55] atomfrede commented on #600
Can you do the check against current master? For some the update is no a no brainer (e.g. test-utils has a breaking change and vue-filters too, when I recall correctly).

[2020-05-02 21:10] atomfrede commented on #597
If no one is working on it I can have a look

[2020-05-02 21:38] mraible commented on #600
Yes, I can do that in the next hour.

[2020-05-02 22:24] mraible commented on #600
Here's the results of generating an app from `master` and running `ncu` on it:

[code]

My `.yo-rc.json`:

[code]

[2020-05-02 23:12] mraible commented on #600
Added bug bounty via https://github.com/jhipster/generator-jhipster/issues/11690.

[2020-05-03 06:32] atomfrede commented on #600
Thanks Matt, I will have look.

[2020-05-03 10:25] atomfrede commented on #600
Small heads up, I am nearly done, e2e test are running fine. Need to fix the normal unit tests, not yet sure whats wrong.

[2020-05-03 20:53] atomfrede commented on #598
I was not able to reproduce it with the current master branch.

[2020-05-04 15:07] #600 closed

[2020-05-04 15:34] pascalgrimaud commented on #599
Closed by https://github.com/jhipster/jhipster-vuejs/pull/603

[2020-05-04 15:34] #599 closed

[2020-05-08 10:04] pascalgrimaud opened #605 "Synchronize with generator-jhipster master / v6.9.0"
Some work to do:
- [x] fix enums
- [x] fix some strange eslint error / prettier
- [x] fix flaky e2e tests
- [x] update login regex - see https://github.com/jhipster/generator-jhipster/pull/11729
- [x] bug with LocalDate - https://github.com/jhipster/generator-jhipster/issues/11734
- [x] do the release

I'll add more items soon
Work already started here: https://github.com/jhipster/jhipster-vuejs/p

[2020-05-08 10:10] pascalgrimaud commented on #605
Maybe it's not flaky e2e tests, as it always failed for the same entities. And only in **prod** profile.
Here one of them:

[code]

[2020-05-08 10:24] DanielFran commented on #605
Use constant for login regex from https://github.com/jhipster/generator-jhipster/pull/11729 to be applied on https://github.com/jhipster/jhipster-vuejs/commit/b15ceb1b7605c75f7d6393226952c5af2b4ae1ed

[2020-05-08 10:26] pascalgrimaud commented on #605
Thanks @DanielFran, I added it in the list

[2020-05-08 11:42] pascalgrimaud commented on #605
I added a new problem I found:
- generate an entity with LocalDate
- create an entry -> OK
- update the entry -> KO

[2020-05-08 12:05] pascalgrimaud commented on #605
Ok, the bug with LocalDate comes from the backend, and is not related to Vue.js
Vue.js blueprint detected it because there are some e2e tests with update

[2020-05-08 12:06] china-fengguan opened #606 "does it work for creating a new page?"
jhipster --blueprint vuejs page

it causes some error as follow:
page is not a known command. See 'jhipster --help'

or there is specific usage?

##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `ent

[2020-05-08 14:15] pascalgrimaud commented on #606
`jhipster page` works for me:

[code]

About your other request, it's related to this module, not here. So you have 2 options:
- wait someone who is motivated enough to code it for you in this `entity audit` module
- or lead the feature and propose directly a pull request

[2020-05-09 16:06] pascalgrimaud opened #608 "Prettier / eslint: vue files"
I think it would be cool to have prettier / eslint for all vue files
Probably related to https://github.com/jhipster/jhipster-vuejs/issues/597 and https://github.com/jhipster/jhipster-vuejs/pull/601

[2020-05-10 04:54] china-fengguan commented on #606
jhipster commands list has been checked here, there is no 'page', is it operation system specific? I am using windows 10.

D:\jhipstertest>jhipster page
INFO! Using JHipster version installed globally
page is not a known command. See 'jhipster --help'

[2020-05-10 04:57] china-fengguan commented on #606
Commands:
  app                            [Default] Create a new JHipster application based on the selected options
  aws                            Deploy the current application to Amazon Web Services
  aws-containers                 Deploy the current application to Amazon Web Services using ECS
  azure-app-service              Deploy the current application to Azure App Service
  azure-spring

[2020-05-10 10:15] atomfrede commented on #608
Yes, I will use the configuration created by vue-cli for eslint + prettier, so I guess it will be solved with that one.

[2020-05-11 13:49] pascalgrimaud opened #610 "CSS style : dev vs prod"
The CSS style is completely different when using in dev and in prod profile.
It seems because the custom css is not used at all in prod and the boostrap one override our custom style.

[2020-05-11 15:57] pascalgrimaud commented on #610
I think I'm not clear enough. I'll provider later more information to reproduce here

[2020-05-12 19:53] atomfrede commented on #610
You mean the white and grey parts or something more severe?

PROD:
![image](https://user-images.githubusercontent.com/203401/81739083-0270a580-949b-11ea-8ac8-896aa4340018.png)

DEV:
![image](https://user-images.githubusercontent.com/203401/81739100-0c92a400-949b-11ea-926c-23141b3113a3.png)

[2020-05-12 20:06] pascalgrimaud commented on #610
yes very minor here but there is a PR in jhipster control center, which uses Vue.js and the custom css is not used in prod.

And I saw the same for my gateway with vue.js for my current customer, with bootswatch

[2020-05-12 20:11] atomfrede commented on #610
So dev is correct, right?

[2020-05-12 20:33] pascalgrimaud commented on #610
I'll provide a screennshot as soon as possible :)
I don't know which one is the correct one. I think it's dev, yes

[2020-05-12 20:38] atomfrede commented on #610
At least I think it looks "better" :)

[2020-05-12 20:44] pascalgrimaud commented on #610
![dev](https://user-images.githubusercontent.com/9156882/81743480-005e1500-94a2-11ea-8f20-27399a722b34.png)

![prod](https://user-images.githubusercontent.com/9156882/81743526-166bd580-94a2-11ea-84f0-3f9054053566.png)

[2020-05-12 21:01] pascalgrimaud commented on #610
Using this diff, solves the problem:

[code]

@atomfrede : do you think it's the correct fix ?

[2020-05-12 21:09] atomfrede commented on #610
I looks strange imho. Don't we have a vendor and app.css file in the end?

[2020-05-12 21:14] pascalgrimaud commented on #610
yes probably, but to be honest, I sux in CSS... I couldn't help much here lol

[2020-05-12 21:18] atomfrede commented on #610
Try to set the chunkSortMode to manual also in webpack.prod.

`chunksSortMode: 'manual',`

[2020-05-12 21:29] pascalgrimaud commented on #610
I think it works @atomfrede ! Thanks a lot

Our JHipster Control Center doesn't contain all new updates from Vue.js blueprint
See https://github.com/jhipster/jhipster-control-center/blob/master/webpack/webpack.prod.js#L71-L81

[2020-05-12 21:31] pascalgrimaud commented on #610
With your suggestion, our sidebar menu in JHipster Control Center works well -> https://github.com/jhipster/jhipster-control-center/pull/56

![jhcc](https://user-images.githubusercontent.com/9156882/81747546-9006c200-94a8-11ea-9b1f-0ae677a4c6e7.png)

[2020-05-12 21:34] atomfrede commented on #610
Seen the screenshot in the other pr. Looks really cool. Looking forward to the final result. I can provide a pr for the blueprint with the fix.

[2020-05-15 12:50] hermitmaster opened #612 "Migrate from uglify-webpack-plugin to terser-webpack-plugin"
##### **Overview of the feature request**

Migrate from uglify-webpack-plugin to terser-webpack-plugin

##### **Motivation for or Use Case**

`uglify-es` is [no longer maintained](https://github.com/mishoo/UglifyJS2/issues/3156#issuecomment-392943058) and `uglify-js` does not support ES6+.

**`terser`** is a fork of `uglify-es` that mostly retains API and CLI compatibility
with `uglify-es` and `ug

[2020-05-15 12:51] hermitmaster commented on #612
I'd be happy to take this on. It should be a relatively minor change.

[2020-05-15 21:35] #612 closed

[2020-05-16 10:48] #610 closed

[2020-05-17 16:18] pascalgrimaud commented on #605
@atomfrede : there is a last item about login regexp. Do you have time to have a look ? If not, I can try to do the same than https://github.com/jhipster/generator-jhipster/pull/11729

[2020-05-17 16:29] pascalgrimaud commented on #605
Just merged this https://github.com/jhipster/jhipster-vuejs/pull/615
Waiting the last login regexp and we will be able to release a new version of Vue.js blueprint

[2020-05-17 16:42] atomfrede commented on #605
Will do. Sorry totally forgot to port it here.

[2020-05-18 16:27] pascalgrimaud commented on #605
Putting a bounty on this, for all the work done here.
@atomfrede : as discussed together, we'll share it

Just did some tests, now, I'm going to do the release

[2020-05-18 16:32] pascalgrimaud commented on #605
Closed with https://github.com/jhipster/jhipster-vuejs/releases/tag/v1.8.0

[2020-05-18 16:32] #605 closed

[2020-05-18 16:38] pascalgrimaud commented on #605
The sample has been updated too: https://github.com/jhipster/jhipster-sample-app-vuejs

[2020-05-18 16:52] pascalgrimaud commented on #605
Half of the bounty claimed at https://opencollective.com/generator-jhipster/expenses/18514

Don't forget yours, @atomfrede

[2020-05-18 19:51] atomfrede commented on #605
Thank you very much @pascalgrimaud As always a pleasure to work with you!

Other half claimed at https://opencollective.com/generator-jhipster/expenses/18529

[2020-05-19 00:37] hermitmaster commented on #608
@atomfrede Thanks for taking this and #597 on!

[2020-05-19 17:41] pascalgrimaud opened #618 "Swagger not available"
Just encountered it with last version of Vue.js 1.8.0
If someone can confirm ?

I'll provide information later if needed

[2020-05-20 07:33] pascalgrimaud commented on #618
The solution was found by @adilabed here:
https://github.com/jhipster/jhipster-control-center/pull/64/commits/f3d096360ed954fce8726e73c044c17a1bf20668

Would you like to contribute and provide the fix here too plz ?

cc @atomfrede as it's related to the recent upgrade of webpack

[2020-05-20 07:54] adilabed commented on #618
My solution is not the most elegant one. The plugin CopyWebPackPlugin doesn't exclude ./node_modules/swagger-ui-dist/index.html' when copying the files from the selection.

[2020-05-20 07:56] atomfrede commented on #618
Thats strange, the globoptions are supposed to exclude the index.html, basically migrated the settings to the new structure.

[2020-05-20 08:02] pascalgrimaud commented on #618
Since this upgrade of webpack, the build is longer than before.
Did you see the same, @atomfrede ?

[2020-05-20 08:03] atomfrede commented on #618
At least locally  I didn't notice, but also didn't compare.

Regarding ignore pattern, I found https://github.com/webpack-contrib/copy-webpack-plugin/issues/493

[2020-05-20 08:44] atomfrede commented on #618
So maybe try `globOptions: { ignore: ['**/index.html'] },` instead.

[2020-05-20 08:46] adilabed commented on #618
Ok perfect, It works!!

[2020-05-20 08:48] atomfrede commented on #618
Awesome, do you provide a PR here?

[2020-05-20 08:49] adilabed commented on #618
Will do now.

[2020-05-20 08:53] atomfrede commented on #618
@pascalgrimaud Regarding the build performance, looking at https://webpack.js.org/guides/build-performance/#specific-tooling-issues, we don't follow their recommendations for typescript. Will give it a try this week.

[2020-05-20 10:04] #618 closed

[2020-05-21 08:21] pascalgrimaud opened #620 "Webpack build: need improvements"
Following @atomfrede's comment and discussion at https://github.com/jhipster/jhipster-vuejs/issues/618#issuecomment-631338202

See https://webpack.js.org/guides/build-performance/#specific-tooling-issues

The build time has been increased a lot.
See my screenshots - using [jhipster-control-center](https://github.com/jhipster/jhipster-control-center/pull/64):

Before:
![Capture d’écran de 2020-05-2

[2020-05-21 08:25] atomfrede commented on #620
Woah that's huge. Is that a production build? Can you measure if the bundle size has decreased maybe (for longer build times)?

[2020-05-21 08:27] pascalgrimaud commented on #620
@atomfrede : yes, I used `mvn clean verify -Pprod -DskipTests`
Ok, I'll try to compare the bundle size and provide more information here

About JHipster Control Center (JHCC):
- old version of jhipster-vuejs: https://github.com/jhipster/jhipster-control-center/tree/backup-before-upgrade-6.9.0
- new version: https://github.com/jhipster/jhipster-control-center/tree/master

So we have a real project

[2020-05-21 08:29] pascalgrimaud commented on #618
@atomfrede : do you think we should do a release with this fix ? I think it's important. And as Vue.js is still in blueprint, it's really easy to release

[2020-05-21 08:29] atomfrede commented on #618
Yes let's do it.

[2020-05-21 08:51] pascalgrimaud commented on #620
Here some screenshots to compare bundle size.
Left = new version, right = old version

![Capture d’écran de 2020-05-21 10-45-26](https://user-images.githubusercontent.com/9156882/82541529-e337df00-9b50-11ea-8be8-cbf555cfe3f9.png)

![Capture d’écran de 2020-05-21 10-46-06](https://user-images.githubusercontent.com/9156882/82541536-e632cf80-9b50-11ea-9461-0de0bd86425e.png)

![Capture d’écran de 2020

[2020-06-03 07:15] pascalgrimaud opened #625 "npm test: random failures"
I don't know what happened, but since some weeks, the `npm test` failed randomly during the languages sub gen tests, and it's very annoying:

[code]

[2020-06-03 08:55] pascalgrimaud opened #626 "prettier java in package.json"
The `package.json` should take care of the `--prettier-java` option, and add appropriate files to package.json

[2020-06-03 13:57] yuniel-acosta opened #627 "Error generating enumeration type fields with entity generator command line"
##### **Overview of the issue**

Error generating enumeration type fields with command line entity generator. After updating the generator to the latest versions, I create a new project I have tried to add an entity from the command line 'jhipster entity NameEntity' and adding a field that is of type enumeration does not allow me to create the enumeration and when trying to create the entity throw

[2020-06-04 07:02] pascalgrimaud commented on #627
Thanks for reporting this, @yuniel-acosta : I can confirm the issue

[2020-06-13 08:35] #625 closed

[2020-06-16 06:32] snitin315 commented on #482
@hdurix @pascalgrimaud Can I take this up?

[2020-06-16 06:34] atomfrede commented on #482
@snitin315 Sure!

[2020-06-16 06:45] pascalgrimaud commented on #482
yes plz @snitin315, go ahead :)

[2020-06-29 17:18] #626 closed

[2020-07-01 09:56] pascalgrimaud commented on #531
It seems like @fdaudies doesn't have the time to do this.
Are you interested on this @skmaingi ? If yes, I'll assign this to you, and I can tell you the steps about the work to do here

[2020-07-01 10:14] skmaingi commented on #531
@pascalgrimaud I am interested. Thank you

[2020-07-01 10:27] pascalgrimaud commented on #531
@skmaingi : the steps are:
- generate a JHipster project with Vue.js
- start local Sonar instance
- launch Sonar analyze
- there is a lot of errors / issues, which can be easily fixed
- fix them in the generated project
- relaunch Sonar analyze
- then, report the appropriate change in blueprint Vue.js

[2020-07-01 10:29] skmaingi commented on #531
@pascalgrimaud Thank you for the information. I'll work on it

[2020-07-01 13:15] yuniel-acosta opened #636 "Need to modularize routes"
##### **Overview of the feature request**

Congratulations Jhipster Team. It would be great if the routes could be modularized. I explain when the project grows it becomes very difficult to maintain all the routes generated by jhipster and the ones created in the app. In addition, each time the generator is used to add a new entity or modify any field, the generator duplicates even its own routes.

[2020-07-02 13:57] pascalgrimaud commented on #636
The duplication of routes is indeed a problem, and it should not happened as there should be a regexp replace

About your feature request, do you have a quick example of what you have in mind ? I'd like to understand better

[2020-07-02 14:15] yuniel-acosta commented on #636
@pascalgrimaud

Here is how one can organize that:

**router/index.ts**

[code]
**router/moduleRoutes1**

[code]
**router/moduleRoutes2**

... //now it's ellipsis

Note that moduleRoutes1 can be the default routes generated by jhipster, this allows the generator to only modify those routes and it would be easier for you and us to maintain when the app grows and needs modifications. The routes coul

[2020-07-02 15:31] pascalgrimaud commented on #636
@yuniel-acosta : thanks !
I agree with you, the router/index.ts is too big, if we can improve it, it will be better :-)

It would be really cool if you can contribute.
As at the moment, we have few contributors in this blueprint, so your help will be really welcome

[2020-07-02 16:16] yuniel-acosta commented on #636
@pascalgrimaud I would like to contribute, but I need to study how the generator works and how it is programmed. They have some guide to start.

[2020-07-02 16:22] pascalgrimaud commented on #636
Here some steps, which can help you:
- fork the project
- clone your fork
- add the remote upstream
- try to generate locally a Vue.js project with your fork
- do a minor update (change one question or prompt for example)
- generate another project and check if the change is correctly applied -> so you're sure your local env works

Then, you'll be ready to start the contribute to this feature.
It'

[2020-07-02 16:50] adilabed commented on #636
If you need any guidance, feel free to ask

If you have any questions or need help, feel free to ask me or @nassimerrahoui .

[2020-07-05 15:50] yuniel-acosta commented on #636
Hi @pascalgrimaud  and @adilabed i have problem with the blueprint in my local environment.
Where can I ask my questions about the project, do you have any slack or gitter channels that are internal to you
This is my error

` jhipster -d --blueprints vuejs`

[code]

[2020-07-05 16:28] pascalgrimaud commented on #636
@yuniel-acosta : do you have a fork of generator-jhipster locally ? If it's the case, you need to use v6.10.1 tag, instead of master. It's because we remove this function for v7
Tell me if you still have problems

[2020-07-05 23:07] yuniel-acosta commented on #636
@pascalgrimaud  I finished.  I am doing the last tests.  What is the next step

[2020-07-06 05:11] pascalgrimaud commented on #636
@yuniel-acosta : open a pull request :)

[2020-07-06 12:42] yuniel-acosta commented on #636
@pascalgrimaud ok, pull request waiting for review

[2020-07-08 18:41] #636 closed

[2020-07-17 05:40] pascalgrimaud commented on #567
done in main generator

[2020-07-17 05:40] #567 closed

[2020-07-21 12:59] china-fengguan opened #642 "Setting page title shows no I18n information."
Jason file isn't translated on user setting page in the latest version.

jhipster-vuejs/generators/client/templates/vue/src/main/webapp/app/account/settings/settings.vue.ejs

`<span v-bind:value="$t('settings.title')">User settings for [<b>{{username}}</b>]</span>`
should be changed to:
`<span v-html="$t('settings.title')">User settings for [<b>{{username}}</b>]</span>`

the fix works for me.
FYI.

[2020-07-22 21:30] pascalgrimaud commented on #642
Thanks for reporting this @china-fengguan
FYI, Vue.js has been integrated to main generator-jhipster

So I apply your fix there: https://github.com/jhipster/generator-jhipster/pull/12141

[2020-07-28 18:50] #642 closed

[2020-07-29 13:56] ziabice opened #643 "Navbar is broken when using an UAA microservice"
##### **Overview of the issue**

I was following this tutorial [https://www.baeldung.com/jhipster-uaa-secured-micro-service](https://www.baeldung.com/jhipster-uaa-secured-micro-service) to generate a UAA secured microservice.

When I generate the gateway using Vue, generation works, but the generated gateway frontend doesn't work well. There's no navigation bar. And also I can't login using the pr

[2020-07-29 14:02] pascalgrimaud commented on #643
@ziabice : it's normal, as UAA doesn't work with Vue.js. The support hasn't been coded as no one want to do this :)

There are already several tickets on this:
- https://github.com/jhipster/jhipster-vuejs/issues/581
- https://github.com/jhipster/jhipster-vuejs/issues/529

A PR too, which doesn't work:
- https://github.com/jhipster/jhipster-vuejs/pull/580

[2020-07-29 14:10] ziabice commented on #643
@pascalgrimaud thank you a lot for the reply, I'm sorry if this is a duplicate report, but I'm new to jHipster and microservices, so I don't even know what to search.

I'm closing this issue.

[2020-07-29 14:10] #643 closed

[2020-07-29 14:15] pascalgrimaud commented on #643
No worry ! :-)
Welcome to the Open Source world !

[2020-07-30 13:13] pascalgrimaud commented on #531
As no news from you, I unassigned the ticket

[2020-07-30 15:29] qmonmert commented on #531
@pascalgrimaud I take this ticket

[2020-07-30 15:49] pascalgrimaud commented on #531
Thanks a lot @qmonmert : I need this :)

[2020-07-30 15:50] qmonmert commented on #531
PR https://github.com/jhipster/generator-jhipster/pull/12177

[2020-07-30 16:22] #531 closed

[2020-07-30 17:29] qmonmert commented on #531
@pascalgrimaud I claim my money 😄 https://opencollective.com/generator-jhipster/expenses/22889

[2020-08-03 09:24] qmonmert commented on #561
@tkelley-eg I think this issue is fixed (I don't reproduce)

cc @pascalgrimaud

[2020-08-03 09:27] qmonmert commented on #596
PR https://github.com/jhipster/generator-jhipster/pull/12189

cc @pascalgrimaud

[2020-08-03 09:34] qmonmert commented on #598
@geyuqiu same as @atomfrede I don't reproduce

[2020-08-04 12:45] qmonmert commented on #596
@avdev4j you can close the ticket I think

[2020-08-05 08:04] qmonmert commented on #220
@sahbi-ktifa & @hdurix PR https://github.com/jhipster/generator-jhipster/pull/12195 to fix all the warning logs

[2020-08-05 14:22] qmonmert commented on #431
@pascalgrimaud it seems that it is not a priority for them :(

[2020-08-16 11:02] #220 closed

[2020-08-17 09:26] qmonmert commented on #596
@pascalgrimaud you can close the ticket I think: PR jhipster/generator-jhipster#12189

[2020-08-17 09:27] #596 closed

[2020-08-27 12:47] qmonmert commented on #561
I think you can close it @pascalgrimaud

[2020-08-27 12:56] #561 closed

[2020-08-27 12:56] pascalgrimaud commented on #561
thanks @qmonmert

[2020-08-27 12:58] tkelley-eg commented on #561
Glad to hear it, thanks all!

[2020-08-28 08:44] qmonmert commented on #401
@pascalgrimaud I think you can close this ticket. JHipster supports Cypress now :)

[2020-08-28 08:49] qmonmert commented on #598
@pascalgrimaud & @atomfrede I think you can close this ticket

[2020-08-28 08:55] #401 closed

[2020-08-28 08:55] qmonmert commented on #620
@atomfrede your PR https://github.com/jhipster/jhipster-vuejs/pull/621 fixes the bug ?

[2020-08-28 08:56] #598 closed

[2020-08-28 13:42] qmonmert commented on #545
Apps generated are the same now with Angular, React & Vue. I think we can close the ticket @pascalgrimaud

[2020-08-28 14:17] pascalgrimaud commented on #545
It's not fixed yet, @qmonmert
The screen is different between Angular and Vue: I just tried few minutes ago

[2020-08-28 14:19] qmonmert commented on #545
@pascalgrimaud where are the differences? :o

[2020-08-28 14:22] pascalgrimaud commented on #545
At left, it's Angular. At right, it's Vue

![Capture d’écran de 2020-08-28 16-22-19](https://user-images.githubusercontent.com/9156882/91578587-aeef6e00-e94a-11ea-9b03-0e23a17658fe.png)

[2020-08-28 14:24] pascalgrimaud commented on #545
But to be honest, I'm not sure which one is the good one, Angular or Vue :D

[2020-08-28 14:26] qmonmert commented on #545
@pascalgrimaud I was going to ask you: what is the true? ^^

[2020-08-28 14:36] pascalgrimaud commented on #545
I got the confirmation from a friend. The correct one is Angular

[2020-08-28 14:38] manisi commented on #545
Hello ,the correct is angular

On Fri, Aug 28, 2020 at 7:06 PM Pascal Grimaud <notifications@github.com>
wrote:

[2020-08-28 14:43] pascalgrimaud commented on #545
Thanks for your answer @manisi and for opening this ticket

[2020-08-28 14:47] manisi commented on #545
UrWelcome :)

On Fri, Aug 28, 2020 at 7:13 PM Pascal Grimaud <notifications@github.com>
wrote:

[2020-08-29 11:33] atomfrede commented on #620
No it just makes it faster. I am not even sure we can get much faster as the default vue cli already takes very long for basically no real application code.

[2020-09-15 17:36] SoniaLahi opened #644 "translations for falsy values : empty, 0 and false"
##### **Overview of the feature request**

In order to have a similar behaviour between frontend frameworks (cf. PR on [react falsy translations](https://github.com/jhipster/react-jhipster/pull/48)), when translation key values are 0 or false, it should return the value (0, false) instead of the key.

I will fix it this week.

##### **Motivation for or Use Case**

Standardization of translation be

[2020-09-15 17:36] SoniaLahi commented on #644
Could you assign it to me ? Thank you

[2020-09-15 18:03] pascalgrimaud commented on #644
@SoniaLahi : Vue has been merged into main generator-jhipster -> you should not work on this project, as it will be deprecated soon

[2020-09-15 18:15] SoniaLahi commented on #644
thank you @pascalgrimaud ! I have duplicated the ticket on generator-jhipster https://github.com/jhipster/generator-jhipster/issues/12529 and we can close this one.

[2020-09-15 18:15] #644 closed

[2020-09-26 20:25] moksamedia opened #646 "Decimal validation fails on generated forms"
##### **Overview of the issue**

When I generate a simple entity with a BigDecimal or Double property, the create entity form validation fails. The validation appears to be using the "numeric" type, which isn't allowing decimals. I can fix this by editing the generated entity update form to use the decimal validator.

##### **Motivation for or Use Case**

We should be able to use decimal inputs in

[2020-10-01 17:21] mrts opened #647 "Migration to Vue 3 and Vue Composition API"
##### **Overview of the feature request**

Migrate to Vue 3 and start using the Vue Composition API.

##### **Motivation for or Use Case**

Vue 3 provides improved performance, smaller bundle sizes, better TypeScript integration, new APIs for tackling large scale use cases, and a solid foundation for long-term future iterations of the framework.

-   [x] Checking this box is mandatory (this is jus

[2020-10-01 17:44] mrts commented on #647
Closing in favor of https://github.com/jhipster/generator-jhipster/issues/12558

[2020-10-01 17:44] #647 closed

[2020-10-15 04:52] #646 closed

[2020-11-02 06:47] QAQtutu opened #651 "Does the project not support the creation of gateways? The gateway I created failed to log in and the page does not have a header"
##### **Overview of the issue**

Unable to log in and the page does not have a header

##### **JHipster Version(s)**

generator-jhipster-vuejs  1.9.2
generator-jhipster 6.10.3

##### **Browsers and Operating System**

win10 chrome

[2020-11-02 06:57] pascalgrimaud commented on #651
Hi @QAQtutu : which options did you choose, when creating your gateway ?

[2020-11-02 11:14] QAQtutu commented on #651
Microservice gateway > N( Spring WebFlux) > JHipster Registry > JHipster UAA server > MySQL > No
 cache > N(Hibernate 2nd level cache) > Maven

[2020-11-02 11:17] QAQtutu commented on #651
I created a React version of the gateway and it works very well. But I only use Vue

[2020-11-02 11:26] pascalgrimaud commented on #651
Ok, it's because UAA is not supported for Vue.js
See:
- https://github.com/jhipster/jhipster-vuejs/issues/529
- https://github.com/jhipster/jhipster-vuejs/issues/581
- https://github.com/jhipster/jhipster-vuejs/issues/643

Unless someone wants to code this part, it won't be done, so no support.

[2020-11-07 15:31] pascalgrimaud commented on #597
Closed by https://github.com/jhipster/generator-jhipster/pull/12972

[2020-11-07 15:31] #597 closed

[2020-11-09 07:49] atomfrede commented on #597
Bounty claimed https://opencollective.com/generator-jhipster/expenses/27747

[2020-11-09 07:55] pascalgrimaud commented on #597
@atomfrede : approved

[2020-11-09 12:33] #651 closed

[2020-11-26 11:17] voronovmaksim commented on #24
I get same error in 2020  and jhipster wants v6.10.3, but i have v6.10.5.
command "npm i generator-jhipster-vuejs" helped me. It installs necessary v6.10.3  and uses it

[2020-11-26 11:26] pascalgrimaud commented on #24
you have to downgrade generator-jhipster and use the same version than the last release of jhipster-vuejs to be compatible.
- install generator-jhipster@6.10.3
- install generator-jhipster-vuejs@1.9.2

[2020-12-01 21:24] superzjn commented on #606
Not working for me neither. Tried "jhipster --blueprint vuejs page" and "jhipster page"

[2020-12-13 21:52] firewater opened #652 "Incompatible with JHipster 6.10.5"
##### **Overview of the issue**

generator-jhipster-vuejs version 1.9.2 is not compatible with the latest JHipster, which is version 6.10.5 at the time of this writing.

Command: jhipster --blueprints vuejs

Error:

The installed generator-jhipster-vuejs blueprint targets JHipster v6.10.3 and is not compatible with this JHipster version. Either update the blueprint or JHipster. You can also disabl

[2020-12-14 06:33] pascalgrimaud commented on #652
it's normal, this blueprint should be used with generator-jhipster 6.10.3, as I didn't do release for compatibility with 6.10.5

The good news is: the generator-jhipster v7 beta will be released next week, with Vue support. So this repo will be deprecated

[2021-01-09 17:59] #566 closed

[2021-01-16 21:51] alialperen commented on #369
installing yo solved issue on win10 for me too. Thanks

[2021-02-04 06:13] TomYule opened #653 "Project creation completed npm audit fix --force exception"
[code]
yue-xin-jhipster@0.0.0 /Users/kricss/IdeaProjects/YueXinJhipster
└─┬ generator-jhipster-vuejs@0.0.3
  └── generator-jhipster@6.10.5

[code]

##### **Overview of the issue**
Project creation completed npm audit fix --force exception

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

#

[2021-02-04 06:45] #653 closed, assigned to nobody

[2021-02-04 06:45] TomYule commented on #653
I updated NodeJS to fix it

[2021-02-04 08:26] pascalgrimaud commented on #653
I advise you to use directly generator-jhipster@beta -> see https://www.jhipster.tech/2020/12/21/jhipster-release-7.0.0-beta.0.html
As the support of Vue.js has been merged into main project